<!--{toplogo}-->
<div>
<div class="folderWrapper"><!-- "folder" interface wrapper div-->
	<div class="mainSpacer"><!--wrapper div that contains the selection tabs-->
	<!--
		<div class="helpInactiveTabLarge">
			<b class="tabTop"><b class="inactive1"></b><b class="inactive2"></b><b class="inactive3"></b><b class="inactive4"></b></b>
			<div class="DisplayBoxContent"><div class="helpTabContentLarge"><a href="/selfreg">Self Registration</a></div></div>
		</div>-->
		<div class="mainActiveTab"><!--active tab-->
			<b class="tabTop"><b class="active1"></b><b class="active2"></b><b class="active3"></b><b class="active4"></b></b>
			<div class="DisplayBoxContent"><div class="menuTabActive">Suggest</div></div>
		</div><!--close active tab-->
		<div class="mainInactiveTab"><!--inactive tab-->
			<b class="tabTop"><b class="inactive1"></b><b class="inactive2"></b><b class="inactive3"></b><b class="inactive4"></b></b>
			<div class="DisplayBoxContent"><div class="menuTabContent"><a href="/suggest">Comments</a></div></div>
		</div><!--close inactive tab-->
		<div class="helpInactiveTabLarge"><!--inactive tab-->
			<b class="tabTop"><b class="inactive1"></b><b class="inactive2"></b><b class="inactive3"></b><b class="inactive4"></b></b>
			<div class="DisplayBoxContent"><div class="helpTabContentLarge"><a href="/screens/libinfo.html">Library Information</a></div></div>
		</div><!--close inactive tab-->
<!-- to remove Feeds option tab simply remove the following five lines mark-up-->
		<div class="mainInactiveTab"><!--inactive tab-->
			<b class="tabTop"><b class="inactive1"></b><b class="inactive2"></b><b class="inactive3"></b><b class="inactive4"></b></b>
			<div class="DisplayBoxContent"><div class="menuTabContent"><a href="/screens/feeds_example.html">Feeds</a></div></div>
		</div><!--close inactive tab-->
	</div><!--close selection tab wrapper-->
	<div class="mainSpacer"><!-- main content wrapper div -->
		<div class="mainActiveContent">
<table border="0" cellspacing="0" cellpadding="5" class="textFix">
<tr valign="top" >
<td >
<div class="pageMainAreaHeader">Suggest a Title for Purchase</div>
<!--{patron}-->
<br />
<!--{ifpinerrormessage}-->
<span class="errormessage">
<!--{pinerrormessage}-->
</span>
<br />
<!--{xif}-->
<br />
Additional items library should acquire:<br />
<br />

<form method="post" class="unpadded">
<!--{author}-->
<!--{authorprompt}-->
<br />
<!--{title}-->
<!--{titleprompt}-->
<br />
<!--{publishprompt}-->
<br />
<!--{publish}-->
<br />
<!--{mentionprompt}-->
<br />
<!--{mention}-->
<br />
<!--{other}-->
<!--{otherprompt}-->
<br />
<br />
<!--{ifextpat}-->
<table border="0" width="80%" class="loginarea textFix">
<tr>
<td valign="top">
<div id="extpat">
<strong>Login with campus identification:</strong>
<br />
Your Campus ID#:&nbsp; &nbsp;
<!--{extpatid}-->
<br />
Your Password:&nbsp; &nbsp;
<!--{extpatpw}-->
</div>
</td>
<td valign="top">
<div id="libpat">
<strong>or login with library identification:</strong><br />
<!--{ifneedpatronname}-->
<!--{nameprompt}-->
&nbsp; &nbsp;
<!--{name}-->
<br />
<!--{xif}-->
<!--{ifneedpatronverify}-->
<!--{barcodeprompt}-->
&nbsp; &nbsp;
<!--{barcode}-->
<br />
<!--{ifneedspin}-->
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<br />
<!--{pin1prompt}-->
&nbsp; &nbsp;
<!--{pin1}-->
<br />
<!--{pin2prompt}-->
&nbsp; &nbsp;
<!--{pin2}-->
<!--{else}-->
<!--{pinprompt}-->
&nbsp; &nbsp;
<!--{pin}-->
<br />
<!--{xif}-->
<!--{xif}-->
<!--{xif}-->
</div>
</td>
</tr>
</table>

<br />
<!--{xif}-->
<!--{submit}-->
</form>

<br />
<!--End of main page content-->
</td>
</tr>
</table>
		</div>
<div >
	<b class="conbottom"><b class="conb4"></b><b class="conb3"></b><b class="conb2"></b><b class="conb1"></b></b>
</div>
	</div><!--close main content wrapper div-->
</div><!--close wrapper of "folder interface"-->
<div class="mainNavLinksWrapper">
<div class="roundedContent">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div class="roundedContentInfo">
<div align="center"><img src="/screens/welcome.jpg" alt="Welcome to Webpac Pro"/></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/patroninfo">My Record</a></div>
<!--<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/selfreg">Patron self registration</a></div>-->
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/acquire">Suggest a purchase</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/suggest">Comments</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/screens/libinfo.html">Library Info</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/ftlist">Featured item lists</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/screens/feeds_example.html">Feeds</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/">Search</a></div>
<!--<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/screens/resources_index.html">Other Resources</a></div>-->
<!-- Note: uncomment this row and insert the correct URL if library uses KidsOnline product -->
<!--<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="#">KidsOnline</a></div>-->
<!-- Note: if library has Web OPACs in alternate language(s), links can be added here -->
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/screens/help_index.html">Help</a></div>
</div>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
</div>
</div>
</div>
<div style="clear:both"></div>
<!--{botlogo}-->
