<!--{toplogo}-->
<div class="pageContentInner">
<span class="pageMainAreaHeader">
<img src="/screens/suggest_icon.gif" alt="" />
Thanks!</span>
<p>
Your suggestion for purchase has been received and will be considered. 
</p>

<pre>
</pre>
</div><!--pageContentInner-->
<div class="Clear"></div>
<!--{botlogo}-->