<!--{toplogo}-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!--{patron}-->
<!--{logout}-->
<!--{msg}-->


<div class="browseSearchtool">
<!--{searchtool}-->
</div><!--/.browseSearchTool-->

<article class="clearfix hero record wrap" ng-controller="RecordController as rc">

  <div class="col-md--eightcol clearfix">

    <div class="col-md--fourcol" ng-if="rc.info.cover">
      <img class="item__cover" ng-src="{{rc.info.cover}}" ng-error="//sherman.library.nova.edu/cdn/media/images/novacat-no-cover.png" alt="Cover for {{ rc.info.title }}">
    </div><!--/.twocol-->

    <div class="col-md--eightcol clearfix" ng-class="'col--centered' ? !rc.info.cover : ''">

      <div style="padding: 0 1em;">

          <h1 class="record__title" ng-class="{ 'record__title--has-subtitle' : rc.info.subtitle }">{{rc.info.title}}</h1>
          <p class="record__subtitle" ng-if="rc.info.subtitle">{{ rc.info.subtitle }}</p>
          <p class="briefCiteTitleFull__author" ng-class="{ 'no-margin' : rc.info.publisher || rc.info.edition}" ng-if="rc.info.author">{{ rc.info.author }}</p>
          <p class="briefCiteTitleFull__edition" ng-class="{ 'no-margin' : rc.info.publisher }" ng-if="rc.info.edition">{{ rc.info.edition }}</p>
          <p class="briefCiteTitleFull__publisher zeta" ng-if="rc.info.publisher">{{ rc.info.publisher }} {{ rc.info.year }}</p>

          <section class="record__summary" ng-if="rc.info.summary">
            <h2 class="delta record__heading" ng-if="rc.info.summary">Summary</h2>
            <p class="epsilon" ng-init="showSummary = '0'">
              {{rc.info.summary}}
              <span ng-show="rc.info.summaryMore && showSummary === '1'">
                  {{rc.info.summaryMore}}
              </span>
              <button class="button button--link" ng-click="showSummary = '1'" ng-show="rc.info.summaryMore && showSummary === '0'" role="button">.... Read more.</button>
              <button class="button button--link" ng-click="showSummary = '0'" ng-show="rc.info.summaryMore && showSummary === '1'" role="button"> Read less.</button>
            <p>
          </section>

        </div>
    </div><!--/.eightcol-->

  </div><!--/middle column-->

  <div class="col-md--fourcol">

    <nav class="card clearfix record__actions">

      <a ng-href="{{ rc.info.accessLink }}" ng-if="rc.info.accessLink">Available Online</a>

      <p ng-if="rc.info.holds"><b>{{rc.info.holds}}</b> on this title.</p>

      <button class="button button--primary record__link--ill"
        ng-click="modal = 'hold'" ng-init="modal = '0'" ng-show="rc.info.holdable" style="display: block;" >Place a Hold</button>

      <section class="modal semantic-content modal--availability" id="hold" ng-class="{'is-active': modal === 'hold'}" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="false" ng-if="rc.info.holdable">

          <div class="modal-inner">

              <div id="modal-label">
                  <h3 class="gamma">Place a Hold</h3>
              </div>

              <div class="modal-content epsilon clearfix">

                <p class="briefCiteTitleFull__byline">
                  <span ng-if="rc.info.title"><b>Title:</b> {{ rc.info.title }} <br></span>
                  <span ng-if="rc.info.author"><b>Author:</b> {{ rc.info.author }} <br></span>
                  <span ng-if="rc.info.publisher"><b>Publisher</b>: {{ rc.info.publisher }} {{ rc.info.year }}</span>
                </p>

                <div class="js-local-hold"></div>
                <small>Local Patrons</small>

                <p></p>

                <h4 style="margin-bottom: .25em;">Are you an NSU Distance User?</h4>
                <p>
                  Nova Southeastern University students, faculty, and staff enrolled in or affiliated with NSU distance programs
                  may request library materials to be delivered.
                  <a class="link" ng-href="//sherman.library.nova.edu/auth/index.php?token=illiad&illiadurl=https://illiad.library.nova.edu/FNN/illiad.dll/OpenURL?sid=iii:NovaCatHolds&genre=book{{rc.info.openURL}}" target="new">Deliver</a>
                </p>
              </div>

          </div>

          <a href="#!" class="modal-close" title="Close this modal" data-close="Close" ng-click="modal=0" data-dismiss="modal">×</a>

      </section>


<!--{navrow}-->

      <a ng-href="//www.worldcat.org/oclc/{{rc.info.oclc}}" ng-if="rc.info.oclc">Find in WorldCat</a>

      <img class="catalog__item__format" ng-src="{{rc.info.media}}" alt="{{rc.info.type}}">
    </nav>
  </div><!--/.fourcol-->

  <section class="col-md--eightcol clearfix js-overlay tabs hero">

    <ul class="clearfix menu tab-nav">

        <li class="active menu--actions--public__menu-item no-margin zeta" style="order: 1;"><a href="#">Copies</a></li><!--
        --><li class="menu--actions--public__menu-item no-margin zeta"> <a href="#">Full Record</a></li>
    </ul>

    <section class="card tab-content active">

      <div class="bib-display__items">
<!--{orders}-->
<!--{items}-->
<!--{URLS}-->
<!--{holdings}-->
      </div><!--/.bib-display__items-->

    </section>

  <section class="card tab-content">
<!--{recordinfo:ateoiprdn}-->
  </section>

</section>

  </div>

</article><!--/.wrap-->

<nav class="align-center hero--small pagination" role="navigation">
<!--{pager}-->
</nav>

<div class="align-center">
<!--{recordlink}-->
</div>

    </div>
</div>

<!--{botlogo}-->



<div style="display: none;" aria-hidden="true">
  <span id="illiadinfo">
<!--{recordinfo:iatpc}-->
  </span>

  <span id="raw__title">
<!--{recordinfo:t}-->
  </span>

  <span id="raw__author">
<!--{recordinfo:a}-->
  </span>

  <span id="raw__standard_number">
<!--{recordinfo:i}-->
  </span>

  <span id="raw__description">
<!--{recordinfo:r}-->
  </span>

  <span id="raw__oclc">
<!--{recordinfo:o}-->
  </span>

  <span id="raw__publisher">
<!--{recordinfo:p}-->
  </span>

  <span id="raw__notes">
<!--{recordinfo:n}-->
  </span>

  <span id="holds">
<!--{holds}-->
  </span>

  <span id="holdings">
<!--{holdings}-->
  </span>

  <span id="media">
<!--{media}-->
  </span>

  <span id="edition">
<!--{recordinfo:e}-->
  </span>

  <!--{ifbibdisplay}-->
  <!--{holdingslink}-->
  <!--{linkeddocs}-->
  <!--{bloblinks}-->
  <!--{imagelinks}-->
  <!--{artthumb}-->
  <!--{xmlframe}-->
  <!--{ifTOC}-->
  <!--{TOC}-->
  <!--{xif}-->
</div>

<script>

(function(){

  'use strict';

  var $clean__standard_number = $( '#raw__standard_number .bibInfoEntry tr:first-child .bibInfoData' )
                                  .text()
                                  .trim()
                                  .match(/^[^\s]+/);
      var $clean__summary = $( '#raw__notes .bibInfoLabel:contains("Summary")')
              .next( '.bibInfoData' ).text().trim(),
      $clean__holds = document.getElementById( "holds" ).innerHTML.match( /\d+\shold[s\s]/ ),
      $clean__holds = ( $clean__holds ? $clean__holds.toString() : '' ),

      // default states
      hasCover = false,

      strippedInfo = document.getElementById( 'illiadinfo' ).innerHTML.replace(/(<([^>]+)>)/ig,""),
      openURL = strippedInfo.replace("ISBN","&isbn=").replace("Author", " &aulast=").replace("Title", "&title=").replace("Publisher", "&date=").replace(/=\s/,"=");

      var actionsModifySearch = document.querySelector( '.record__actions a[href*=NOSRCH]' ),
      actionsReturn = document.querySelector( '.record__actions a[href*=browse\\#anchor]' ),
      actionsList = document.querySelector( '.record__actions a[href*=save]' ),
      actionsLimit = document.querySelector( '.record__actions a[href*=limit]' ),
      actionsMarc = document.querySelector( '.record__actions a[href*=marc]' );

  if ( $clean__summary.length > 200 ) {
    var $clean__summary__less = $clean__summary.slice( 0, 200 ),
        $clean__summary__more = $clean__summary.slice( 200, $clean__summary.length );
  }

  /**
   * Generate the book cover using syndetics
   */
  if ( $clean__standard_number ) {
    var length = $clean__standard_number[0].length;

    if ( length === 10 || length === 12 || length === 13 || length === 14 ) {
      hasCover = true;
    }
  }

  // ISBN / UPC Slug
  var $syndetics_cover_slug = ( $clean__standard_number ? ( $clean__standard_number[0].length === 12 ||  $clean__standard_number[0].length === 14 ? 'upc' : 'isbn' ) : '');

  // Item cover
  var $syndetics_cover = 'https://secure.syndetics.com/index.php?' + $syndetics_cover_slug + '=' + $clean__standard_number + '/lc.gif&client=novaseu';

  $( '.bibOrder' ).addClass( 'alert alert--info' );

  // New holdbutton
  var holdButton = document.querySelector( 'a[href*="/request"]' );
  if(holdButton) {

    var holdButtonPath = holdButton.getAttribute('href'),
        holdButtonPath = holdButtonPath.replace( 'https://novacat.nova.edu:443', '' ),
        resultsButton = document.querySelector('a[href*=browse]'),
        auth = "https://sherman.library.nova.edu/auth/index.php?hold=",
        resultsButtonPath;

        if ( resultsButton ) {
          resultsButtonPath = $( resultsButton ).attr('href').replace('#','key');
        }

        holdButton
          .setAttribute( 'href', auth + holdButtonPath + 'searchResults=' + ( resultsButton ? resultsButtonPath : '' ) );

        holdButton.innerHTML = "Hold for Pickup";
        holdButton.className = "record__hold button button--primary";

        document.querySelector( 'section#hold .js-local-hold' ).appendChild( holdButton );

  }

  if ( actionsModifySearch ) {
    actionsModifySearch.classList.add( 'hide-accessible' );
  }


  if ( actionsReturn ) {
    actionsReturn.parentNode.removeChild( actionsReturn );
  }

  if ( actionsList ) {
    actionsList.textContent = 'Add to My List';
  }


  if ( actionsLimit ) {
    actionsLimit.parentNode.removeChild( actionsLimit );
  }


  if ( actionsMarc ) {
    document.querySelector( '.tabs' ).appendChild( actionsMarc );
    actionsMarc.className = "button button--link small-text";
  }

  var accessLink = document.querySelector('.bib-display__items .bibLinks a');

  if (
    accessLink && accessLink.textContent.indexOf( 'Table' ) > -1 ||
    accessLink && accessLink.textContent.indexOf( 'Publisher' ) > -1 ||
    accessLink && accessLink.textContent.indexOf( 'Cover' ) > -1 ||
    accessLink && accessLink.textContent.indexOf( 'Contributor' ) > -1
  ) {
    accessLink = null;
  }


  var RecordController = function() {

    var vm    = this;

    var author      = document.querySelector( '#raw__author .bibInfoEntry tr:first-child .bibInfoData' );
    //var description = document.querySelector( '#raw__description .bibInfoEntry tr:first-child .bibInfoData' ).textContent.trim(),
    var edition     = document.querySelector( '#edition .bibInfoEntry tr:first-child .bibInfoData' );
    var media       = { source : document.querySelector( '#media > img' ).src, type : document.querySelector( '#media > img' ).alt };
    var oclc         = ( document.querySelector( '#raw__oclc .bibInfoEntry tr:first-child .bibInfoData' ) ? document.querySelector( '#raw__oclc .bibInfoEntry tr:first-child .bibInfoData' ).textContent.trim().replace(/\D/g,'') : '');
    var publisher    = document.querySelector( '#raw__publisher .bibInfoEntry tr:first-child .bibInfoData' );
    var title        = document.querySelector( '#raw__title .bibInfoEntry tr:first-child .bibInfoData' );

    /**
     *
     */
    var record = {

      /**
       * Parse the returned 100 into meaningful parts
       * we can use to present "author" information.
       *
       * @param {string} author - the 100, returned by recordinfo:a
       */
      get_the_record_author : function( author ) {

        if ( !author ) { return null }

        if ( author ) {
          author = author.textContent;
          author = author
            //.replace( 'creator', '' )
            //.replace( 'author', '' )
            // remove date
            .replace( /\d+/g, '');
          author = author.trim().replace( /\-$/g, '' );
          author = author.trim().replace(/\,$/, '');

        }


        return author;

      },

      /**
       * Parse the returned 245 into meaningful parts
       *
       * @param {string} title - The 245, returned by recordinfo:t.
       * @param {string} subfield - Optionally return just the subfield specified.
       */
      get_the_record_title: function( title, subfield ) {

        if ( !title ) { return null; }

        // if there is content following a slash, e.g., the 245c., let's remove it.
        title = title.textContent.trim().replace(/\/[^\/]*$/g, '');
        title = ( title.indexOf( '[electronic resource]') ? title.replace( '[electronic resource]', '' ) : title );

        if ( !subfield ) { return title; }
        if ( subfield && title.indexOf( ':' ) > -1 ) {

            switch ( subfield ) {

              // Returns the 245a
              case 'a' :
                return title = title.substr( 0, title.indexOf( ':' ) ).trim();
                break;

              // Returns the 245b
              case "b" :
                return title = title.substr( title.indexOf( ':' ) + 1 ).trim();
                break;
            }

          } else if ( subfield == 'b' ) {
            return null;
          }

        return title;

      }, // get_the_record_title

      init : function () {
        this.set_the_document_title( title );
      },

      set_the_document_title : function ( title ) {

        if ( title ) { document.title = title.textContent.trim() + '- NSU Libraries'; }
      }

    };

    /**
     * Information to pass to the controller, such as
     * such as data or templating logic.
     */
    vm.info = {
      accessLink : ( accessLink ? accessLink.href : null ),
      author: record.get_the_record_author( author ),
      cover: ( hasCover ? $syndetics_cover : null ),
      //description: $clean__description,
      edition : ( edition ? edition.textContent.trim() : null ),
      holdable: ( holdButton ? true : false ),
      holds: ( $clean__holds ? $clean__holds : null ),
      media : media.source,
      openURL: openURL,
      oclc: ( oclc ? oclc : null ),
      publisher: ( publisher ? publisher.textContent : null ),
      subtitle : record.get_the_record_title( title, 'b' ),
      summary: ( $clean__summary__less ? $clean__summary__less : ( $clean__summary ? $clean__summary : null ) ),
      summaryMore : ( $clean__summary__less ? $clean__summary__more : null ),
      title: record.get_the_record_title( title, 'a' ),
      type : media.type

    };

    record.init();

  }

  angular
    .module('novacatApp')
    .controller('RecordController', RecordController)
    .directive('ngError', function() {
      return {
        link: function(scope, element, attrs) {
          element.bind('error', function() {
            if (attrs.src != attrs.ngError) {
              attrs.$set('src', attrs.ngError);
            }
          });
        }
      }
    });

})();
</script>
