    </div><!--/#inner-content-->
  </div><!--/#content-->
</div> <!-- end #container -->

<div class="feedback-bar feedback-bar--fixed">
  <div class="align-right clearfix wrap">

    <a class="link link--undecorated small-text" href="http://novacat.nova.edu:2082" style="position: relative; top: 9px; margin-right: .5em;">Use classic NovaCat |</a>

    <form action="https://sherman.library.nova.edu/reporter/index.php" method="post" name="reporter" role="form" target="_blank" id="footerReporter">
      <input type="hidden" name="action" value="novacat">
      <input type="hidden" name="url" id="reported_url1">
      <input type="hidden" name="biburl" id="reported_biburl1">
      <button class="button feedback-bar__button button--link no-margin" type="submit" value="Comment">
        <span class="feedback-bar__button__text small-text">Report a bug</span>
        <svg fill="#e2624f" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 8h-2.81c-.45-.78-1.07-1.45-1.82-1.96L17 4.41 15.59 3l-2.17 2.17C12.96 5.06 12.49 5 12 5c-.49 0-.96.06-1.41.17L8.41 3 7 4.41l1.62 1.63C7.88 6.55 7.26 7.22 6.81 8H4v2h2.09c-.05.33-.09.66-.09 1v1H4v2h2v1c0 .34.04.67.09 1H4v2h2.81c1.04 1.79 2.97 3 5.19 3s4.15-1.21 5.19-3H20v-2h-2.09c.05-.33.09-.66.09-1v-1h2v-2h-2v-1c0-.34-.04-.67-.09-1H20V8zm-6 8h-4v-2h4v2zm0-4h-4v-2h4v2z"/>
        </svg>
      </button>
    </form>

  </div>
</div>

<footer id="footer" class="footer" role="contentinfo">

<div id="inner-footer" class="align-center wrap clearfix">

  <p>
<a href="http://www.nova.edu">Nova Southeastern University</a> &bull; &copy; 2017</a>
  </p>

</div> <!-- end #inner-footer -->

</footer> <!-- end footer -->

<script src="//sherman.library.nova.edu/cdn/scripts/catalog-1.0.js"></script>
<script>
require([ 'waypoints' ], function () {
var waypoint = new Waypoint({
element: document.querySelector( 'footer.footer' ),
handler: function() {
  document.querySelector( '.feedback-bar' ).classList.toggle( 'feedback-bar--fixed' );
},
offset: '100%'
})
});
</script>

<script>
(function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:250643,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</body>

</html> <!-- end page. what a ride! -->
