<!-- begin botlogo.html file -->
<!-- Rel 2009B Example Set -->
<!-- Updated: Sept 2009 -->
</div><!-- pageContent  -->
<div data-role="controlgroup">
<a rel="external" href="http://novacat.nova.edu:2082" data-role="button">Full NovaCat Site</a>
</div>
<div style="clear:both"></div>

</div><!--data-role="content"--> 
<div data-role="footer" data-theme="b">
<div data-role="controlgroup">		
<a rel="external" href="http://novacat.nova.edu:2082" data-role="button">Ask a Librarian</a>		
</div>			
</div>
</div>
<!-- end botlogo.html file -->
