<div class="feedback-bar feedback-bar--fixed">
  <div class="clearfix wrap">

    <form action="http://systemsdev.library.nova.edu/reporter1/index.php" method="post" name="reporter" role="form">
      <input type="hidden" name="action" value="novacat">
      <input type="hidden" name="url" id="reported_url">
      <input type="hidden" name="biburl" id="reported_biburl">
      <button class="button feedback-bar__button button--link no-margin" type="submit" value="Comment">
        <span class="feedback-bar__button__text small-text">Leave Feedback</span>
        <svg fill="#21aabd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"/>
        </svg>
      </button>
    </form>

  </div>
</div>


</div><!--/#inner-content-->
</div><!--/#content-->
</div> <!-- end #container -->

<footer id="footer" class="footer" role="contentinfo">

<div id="inner-footer" class="wrap clearfix">

  <p>
<a href="http://www.nova.edu">Nova Southeastern University</a> &bull; &copy; 2017</a>
  </p>

</div> <!-- end #inner-footer -->

</footer> <!-- end footer -->

<script src="//sherman.library.nova.edu/cdn/scripts/catalog-1.0.js"></script>
<script>
require([ 'waypoints' ], function () {
var waypoint = new Waypoint({
element: document.querySelector( 'footer.footer' ),
handler: function() {
  document.querySelector( '.feedback-bar' ).classList.toggle( 'feedback-bar--fixed' );
},
offset: '100%'
})
});
</script>

<!-- Hotjar Tracking Code for http://novacat.nova.edu:2082 -->
<script>
(function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:250643,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</body>

</html> <!-- end page. what a ride! -->
