<script>
loggedMessage();
</script>


<tr class="briefCiteRow clearfix">

<td class="briefCite card--alt">

<span class="catalog__result_number">
<!--{entrynum}--> 
</span>

 <!--{mark}-->

<table width="100%" id="briefcit_nsu" name="briefcit_nsu" class="briefCiteTable">

<tr>
<td class="briefCiteEntryData">

<div>

<div class="clearfix">

<div class="briefCiteEntryNum">
<span id="raw__standard_number">
<!--{fieldspec:Vbi}-->
</span>

 <!--{media}-->		

</div>

<header class="catalog__item_header">
<div class="briefCiteTitle epsilon no-margin">
<!--{linkfieldspec:VbT}-->
</div>

<div class="briefCiteTitleFull" style="display:none;">
<!--{fieldspec:Vbt245:ab}-->
</div>

<div class="briefCiteAuthor">
<!--{fieldspec:Vba:a}-->
</div>
<div class="briefCitePub">
<!--{fieldspec:Vbp:bc}-->
</div>

</header>


</div><!--/.clearfix-->

<div class="bib-display__items briefCiteItems">
<!--{items}-->
</div>

<script type="text/javascript">
	
	var el = $( '#raw__standard_number' );
	var	isbn = el.text();
	var catalog__item_header = $( '.catalog__item_header' );

	if ( isbn ) {

		isbn 
			.trim();

		//isbn = isbn.substr( 0, isbn.indexOf(' ') );

		// ISBN / UPC Slug
		var syndetics_cover_slug = ( isbn.length === 12 ? 'upc' : 'isbn' );

		// Item cover
		var syndetics_cover = '//www.syndetics.com/index.php?' + syndetics_cover_slug + '=' + isbn + '/mc.gif&client=novaseu';

		if ( !isbn ) {

			el.parent( 'briefCiteEntryNum' ).replaceWith('');

		} else {
			el.parent( '.briefCiteEntryNum' ).addClass( 'col-md--twocol' );
			el.parent( '.briefCiteEntryNum' ).next( '.catalog__item_header' ).addClass('col-md--tencol col--last');
			el.replaceWith( '<img class="item__cover" src="' + syndetics_cover + '" />');
			

		}

	}


</script>



<div style="display:none;">
<!--{request}-->
</div>
<div style="display:none;">
<!--{year}-->
</div>
<div style="display:none;">
<!--{fieldspec:Vby856:u}-->
</div>
<div style="display:none;">
<!--{fieldspec:Vby856:z}-->
</div>
<div id="rowHold"  style="width95%;margin-left:2em;text-align:left;">
</div>
<!--DIV 11-->
<div id="bibLinks"  style="width95%;margin-left:2em;text-align:left;text-decoration:none;">
</div>
<script type="text/javascript">
function briefCitReady(){
	// creates an array of briefcit (this document) instances as it appears on a browse search results display.
	var X = (document.getElementsByName("briefcit_nsu")); 

	// Y = the array length for each instance of briefcit.  
	// Y is a unique ID# for each instance of briefcit in the browse display
	// - essentially creating a counter with a different length each time briefcit is used
	var Y = X.length; 
	
	var BriefcitDivs = X[Y-1].getElementsByTagName("div") // create an array of all the Div tags for the latest instance of briefcit.
	var entry_media = BriefcitDivs[0].innerHTML;
	var title = BriefcitDivs[1].innerHTML;
	var titleFull = BriefcitDivs[2].innerHTML;
	var author= BriefcitDivs[3].innerHTML;
	var pub= BriefcitDivs[4].innerHTML;
	var items= BriefcitDivs[4].innerHTML;
	var request= BriefcitDivs[6].innerHTML;
	var date= BriefcitDivs[7].innerHTML;
	var link= BriefcitDivs[8].innerHTML;
	var bibHasLinks = link.match(/http/);
	var note= BriefcitDivs[9].innerHTML;
	var row = BriefcitDivs[10].innerHTML;
	var bibLinks = BriefcitDivs[11].innerHTML;
	var illiad ="<a href='http://ezproxy.library.nova.edu/login?auth=quad&url=https://illiad.library.nova.edu/FNN/illiad.dll/OpenURL?sid=iii:NovaCatHolds&genre=book&isbn=";
	var htmlLink = "<a href='" + link + "'>" + note + "</a>";
	var illiadlink = (illiad + "&aulast=" + escape(author) + "&title=" + escape(titleFull) + "&date=" + escape(date) + "'><img src='/screens/requestILL.gif' border='0'></a>");
	var holdrow = ( request + " " + illiadlink);
	var holdable = request.match(/request\.gif/);

}

briefCitReady();
</script>
</td>
</td> 
</tr>
</table>
</td> 
</tr>
	

			
	
			
