<!-- Rel 2007 "Skyline" Example Set -->
<!-- This File Last Changed: 27 June 2008 -->
<tr>
<td class="briefCitRow">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr valign="top"> 
<td width="5%" align="center" class="briefcitEntry" >
<div class="briefcitEntryNum">
<!--{entrynum}-->
</div>
<div class="briefcitMedia">
<!--{media}-->
</div>
</td>
<td width="70%" align="left" valign="top" class="briefcitDetail">
<!--{nohitmsg}-->
<span class="briefcitTitle">

<!--{linkfieldspec:Vgn}-->
</span>
<br />
<!--{fieldspec:Vgr}-->
<br />
<i>
<!--{fieldspec:Vgx}-->

</i>
<br />
<div class="briefCitItems">
<!--{sections}-->
</div>
</td>
<td width="12%" align="center" class="briefcitDetail">&nbsp; 

</td>
</tr>

</table>
</td>
</tr>
<!--this is customized <screens/briefcit_program.html>-->
