<tr class="clearfix briefCiteRow" ng-class="{'is-available' : avail }" ng-cloak ng-controller="BriefcitController as bfc">

	<td style="display: block; padding: 0;">

<!--{mark}-->

		<label class="catalog__result_number" for>
<!--{entrynum}-->
		</label>

<table width="100%" id="briefcit_nsu" name="briefcit_nsu" class="briefCiteTable">

	<tr>

		<td class="card card--shadow briefCiteEntryData" style="border: 1px solid #ddd;">

      <p data-ng-if="holdMsg" class="alert alert--info zeta">{{ holdMsg }} on this title</p>

				<div class="clearfix">

					<div class="briefCiteEntryNum"></div>

						<div class="col-md--twocol">

							<a class="item__cover-container" ng-href="{{link}}">
								<img class="item__cover" ng-src="https://secure.syndetics.com/index.php?{{isbn | trim }}/mc.gif&client=novaseu" alt="Cover for {{ title }}">
							</a>

						</div>

						<div class="col-md--tencol">

							<div class="card" style="min-height: 130px; border: none; margin-bottom: 0;">

								<div class="briefCiteTitleFull">
									<h2 class="briefCiteTitleFull__title"> <mark ng-if="indexedTitle">{{indexedTitle}} &nbsp;</mark> <a href="{{link}}">{{title}}</a></h2>
									<p class="briefCiteTitleFull__subtitle" ng-if="subtitle">{{subtitle}}</p>
                  <p class="briefCiteTitleFull__subtitle" ng-if="part">{{part}}</p>
									<p class="briefCiteTitleFull__author" ng-if="author"> <a ng-href="/search/?searchtype=a&searcharg={{author}}&sortdropdown=r">{{author}}</a></p>
<!--{fieldspec:Vbt245:u}-->
								</div><!--/.briefCiteTitleFull-->

								<p class="briefCiteTitleFull__byline ng-hide" ng-show="copies !== '0'">
									<span ng-if="callno">{{ callno }}</span>
									<span ng-if="publisher">{{ publisher }} {{year}}</span>
								</p>


<a class="catalog__item__eaccess" href="
<!--{fieldspec:Vby856:u}-->
"> <span class="catalog__item__eaccess__text">
<!--{fieldspec:Vby856:z}-->
</span></a>

            <div class="catalog__item__actions clearfix ng-hide" ng-show="copies !=='0'">

				<p class="item__availability no-margin zeta" ng-show="avail !== 'ebook'">
				<span ng-if="avail">
                  <span>{u2713} Available</span>
                </span>
                <span ng-show="avail && copies > '1'">in</span>
				<span ng-if="!avail">All</span>
					<span ng-if="avail && copies === '1' && location"> at <span style="font-size: 12px; text-transform: uppercase; font-family: Arial, 'sans-serif';">{{location}}</span></span>
					<a class="link" ng-href="#" ng-init="modal = 0" ng-click="modal = '{bid}'" role="button">
					<span ng-if="avail && availCount === copies && !addlCopies && copies !== '1'">all locations</span>
					<span ng-if="avail && availCount === copies && addlCopies && copies !== '1'">some locations</span>
							<span ng-if="avail && availCount !== copies && copies !== '1'">some locations</span>
							<span ng-if="!avail">copies</span>
						</a>
						<span ng-if="!avail">in use</span>
						</p>

							<section aria-hidden="true" aria-labelledby="modal-label" class="modal semantic-content modal--availability" ng-class="{'is-active': modal === '{bid}'}" role="dialog" tabindex="-1">

								<div class="modal-inner">
									<div id="modal-label">
										<h3>Availability for <br> <span class="epsilon">{{title}}</span></h3>
									</div>
									<div class="modal-content clearfix bfc__items">
<!--{items}-->
									</div>
								</div>

                <a href class="modal-close" ng-click="modal=0" title="Close this modal" data-close="Close">Close</a>
							</section>

							<span class="catalog__item__format">
<!--{media}-->
							</span>

							<span ng-if="hold">

								<button ng-init="modal = 0" ng-click="modal = '{bid}hold'" class="button button--flat button--primary--alt catalog__item__hold">Place Hold</button>


							<section aria-hidden="true" aria-labelledby="modal-label" class="modal semantic-content modal--availability" ng-class="{'is-active': modal === '{bid}hold'}" role="dialog" tabindex="-1">

								<div class="modal-inner">
									<div id="modal-label">
										<h3>Place a Hold</h3>
									</div>
									<div class="modal-content clearfix">
										<p class="briefCiteTitleFull__byline">
		                  <span ng-if="title"><b>Title:</b> {{ title }} <br></span>
		                  <span ng-if="author"><b>Author:</b> {{ author }} <br></span>
		                  <span ng-if="publisher"><b>Publisher</b>: {{ publisher }} {{ info.year }}</span>
		                </p>

										<div class="spacer">
											<a ng-href="{{ hold }}" class="button button--primary--alt" style="color: white;">Hold for Pickup</a>
										</div>
										<small>Local patrons</small>

										<h4 style="margin-bottom: .25em; margin-top: 1em;">Are you an NSU Distance User?</h4>
		                <p>
		                  Nova Southeastern University students, faculty, and staff enrolled in or affiliated with NSU distance programs
		                  may request library materials to be delivered.
		                  <a class="link" ng-href="//sherman.library.nova.edu/auth/index.php?token=illiad&illiadurl=https://illiad.library.nova.edu/FNN/illiad.dll/OpenURL?sid=iii:NovaCatHolds&genre=book&isbn={{isbn|trim}}&aulast={{author}}&title={{title}}&date={{year}}" target="new">Deliver</a>
		                </p>
									</div>
								</div>


                <a href class="modal-close" ng-click="modal=0" title="Close this modal" data-close="Close">Close</a>

							</section>
							</span>

            </div>

						</div><!--/.card-->

            <p class="catalog__item__footnote no-margin small-text" ng-if="indexedTitle">
              <svg class="svg svg--info"><use xlink:href="#icon-info"></use></svg>
                <mark>{{indexedTitle}}</mark> appears in the content of this record.
            </p>

            <p class="catalog__item__footnote no-margin small-text" ng-show="copies === '1' && luse === 'true'">
              <svg class="svg svg--info"><use xlink:href="#icon-info"></use></svg>
                <mark>{{title}}</mark> can only be used in the library.
            </p>

            <p class="catalog__item__footnote no-margin small-text" ng-show="copies > 1 && luse === 'true'">
              <svg class="svg svg--info"><use xlink:href="#icon-info"></use></svg>
                A copy of <mark>{{title}}</mark> has been set aside for library use only.
            </p>

					</div><!--/.tencol-->


				</div>

				</div><!--/.clearfix-->

 <!--{request}-->
 <!--{year}-->

	<span style="display:none;">

<span ng-init="isbn = '
<!--{fieldspec:Vbi}-->
'"></span>

		<span class="bfc__title">
<!--{linkfieldspec:Vbt245:a}-->
		</span>

		<span class="bfc__title--b">
<!--{fieldspec:Vbt245:b}-->
		</span>

<!--<span class="bfc__title--n">-->
 <!--{fieldspec:Vbt245:n}-->
 <!--</span>-->

    <span class="bfc__title--extra">
<!--{fieldspec:VbT}-->
    </span>

		<span class="bfc__author">
<!--{fieldspec:Vba:a}-->
		</span>

		<span class="bfc__publisher">
<!--{fieldspec:Vbp:b}-->
		</span>

		<span class="bfc__year">
<!--{fieldspec:Vbp:c}-->
		</span>

		<span class="bfc__request">
<!--{request}-->
		</span>

		<span class="bfc__holds">
<!--{holds}-->
		</span>

	</span>
</div>

<script type="text/javascript">

function $$(selector, context) {
    context = context || document;
    var elements = context.querySelectorAll(selector);
    return Array.prototype.slice.call(elements);
}

/*------------------------------------*\
  Briefcit Availability
\*------------------------------------*/

$$( '.bfc__items' ).forEach( function( bfc__items ) {
	var hasCopies = ( bfc__items.querySelector( 'table.bibItems' ) ? true : false );
	var available = ( bfc__items.textContent.search(/\bAVAILABLE\b/g) > -1  ? true : false );
	var ebook = false;
	var callno = ( bfc__items.textContent.indexOf( 'Call #' ) > -1 ? true : false );
	var libraryUseOnly = ( bfc__items.textContent.indexOf( 'LIB USE ONLY' ) > -1 || bfc__items.textContent.indexOf( 'HPD Library Reserve Area' ) > -1 ? true : false );
	var firstLocation = ( bfc__items.querySelector( 'tr.bibItemsEntry > td:first-child' ) ? bfc__items.querySelector( 'tr.bibItemsEntry > td:first-child' ).textContent : false );

	if ( hasCopies ) {

	var additionalCopies = ( bfc__items.querySelector( '.briefcitAddlCopies' ) ? 'true' : 'false' );
	var count = bfc__items.querySelector( 'table.bibItems' ).getElementsByClassName( 'bibItemsEntry' ).length;
	var countAvailable = (bfc__items.textContent.match(/\bAVAILABLE\b/g) || [] ).length;

	if ( count > 1 ) {
	if ( ( bfc__items.textContent.match( 'ONLINE' ) || [] ).length === count-1 ) {
	ebook = true;
	bfc__items.setAttribute( 'ng-init', 'avail="ebook"; copies="' + count + '"');
	}
	}
	else if (
	bfc__items.textContent.indexOf( 'E-BOOK' ) > -1 ||
	bfc__items.textContent.indexOf( 'E-Book' ) > -1 ||
	bfc__items.textContent.indexOf( 'E-Audiobook' ) > -1 ||
	bfc__items.textContent.indexOf( 'ONLINE' ) > -1 ||
	bfc__items.textContent.indexOf( 'Streaming Media' ) > -1 ||
	bfc__items.textContent.indexOf( 'NSU E-JOURNAL' ) > -1 ||
	bfc__items.textContent.indexOf( 'NSU Electronic Resource' ) > -1 ||
	bfc__items.textContent.indexOf( 'WEBSITE or E-BOOK' ) > -1 ||
	bfc__items.textContent.indexOf( 'UNAVAILABLE' ) > -1 ||
	libraryUseOnly
	) {
	ebook = true;


	if ( libraryUseOnly ) { bfc__items.setAttribute( 'ng-init', 'avail="ebook"; luse="true"; copies="' + count + '"'); }
	else { bfc__items.setAttribute( 'ng-init', 'avail="ebook"; copies="' + count + '"'); }

	}

	if ( available ) {
	bfc__items.setAttribute( 'ng-init', 'avail=true; availCount="' + countAvailable + '"; addlCopies=' + additionalCopies + '; location="' + firstLocation + '"; copies="' + count + '"');
	}

	if ( available && libraryUseOnly ) {
	bfc__items.setAttribute( 'ng-init', 'avail=true; luse="true"; availCount="' + countAvailable + '"; addlCopies=' + additionalCopies + '; copies="' +count + '"')
	}

	if ( callno ) {
	var number = bfc__items.querySelector( 'tr.bibItemsEntry a');
	if ( number ) {
		number.setAttribute( 'ng-init', 'callno="' + number.textContent + '"');
	}
	}

	} else {
		bfc__items.setAttribute( 'ng-init', 'copies="0"');
	}

});

$$( '.bfc__title' ).forEach( function( bfc__title ) {
	var link = bfc__title.querySelector( 'a' ).href,
			title = bfc__title.textContent.trim();
			title = title.replace(/[\.,;\:]$/,'').replace( /"/g, '\'');
	bfc__title.setAttribute( 'ng-init', 'title="' + title + '"; link="' + link + '"');
});

$$( '.bfc__title--b' ).forEach( function( bfc__subtitle ) {
  var subtitle = bfc__subtitle.textContent.trim();
	bfc__subtitle.setAttribute( 'ng-init', 'subtitle="' + subtitle + '"');
});

/*$$( '.bfc__title--n' ).forEach( function( bfc__part ) {
  var part = bfc__part.textContent.trim();
	bfc__part.setAttribute( 'ng-init', 'part="' + part + '"');
});*/

$$( '.bfc__title--extra' ).forEach( function( bfc__indexedTitle ) {
  var indexedTitle = bfc__indexedTitle.querySelector( '.briefcitIndexedTitle' );
  if ( indexedTitle && indexedTitle.innerText ) {
    indexedTitle = indexedTitle.innerText.replace(/"/g, '');
    bfc__indexedTitle.setAttribute( 'ng-init', 'indexedTitle="' + indexedTitle + '"');
  }
});

$$( '.bfc__author' ).forEach( function( bfc__author ) {
	var author = bfc__author.textContent.trim();
	bfc__author.setAttribute( 'ng-init', 'author="' + author + '"');
});

$$( '.bfc__publisher' ).forEach( function( bfc__publisher ) {
	var publisher = bfc__publisher.textContent.trim();
	bfc__publisher.setAttribute( 'ng-init', 'publisher="' + publisher + '"');
});

$$( '.bfc__year' ).forEach( function( bfc__year ) {
	var year = bfc__year.textContent.trim();
	bfc__year.setAttribute( 'ng-init', 'year="' + year + '"');
});

$$( 'input[name="save"][type="checkbox"]' ).forEach( function( bfc__id ) {
	var bid = bfc__id.value;
	bfc__id.setAttribute( 'ng-init', 'bid="' + bid + '"');
});

$$( '.bfc__request' ).forEach( function( bfc__request ) {
	var link = bfc__request.querySelector( 'a' );
	if ( link ) {
		bfc__request.setAttribute( 'ng-init', 'hold="' + '//sherman.library.nova.edu/auth/index.php?hold=' + link.pathname + link.search + 'searchResults=' + location.pathname  + location.search + '"');
	}
});

$$( '.bfc__holds' ).forEach( function( bfc__holds ) {

	var count = bfc__holds.innerHTML.match( /\d+\shold[s\s]/ );
	count = ( count ? count.toString() : '' );
	bfc__holds.setAttribute( 'ng-init', 'holdMsg="' + count + '"');

});

( function() {

  var BriefcitController = function() {
    var vm = this;
    vm.info = {};
  }

	angular.module( 'novacatApp' ).filter( 'trim', function() {
		return function( value ) {

			if ( !angular.isString( value ) ) {
				return value;
			}

			value = value.replace(/^\s+|\s+$/g, '').match(/^[^\s]+/);
			if ( value ) {

				value = value.toString();
				return ( value.length == 10 || value.length == 13 ? 'isbn=' + value : 'upc=' + value );
			}
		}
	});

	angular.module('novacatApp').controller('BriefcitController', BriefcitController );

})();

</script>
</td>
</td>
</tr>
</table>
</td>
</tr>
