
<tr class="briefCiteRow">

	<td style="display: block; padding: 0;">

<!--{mark}-->

		<label class="catalog__result_number" for>
<!--{entrynum}-->
		</label>

<table width="100%" class="card card--shadow briefCiteTable brief-resource">

	<tr>

		<td class="briefCiteEntryData">


						<div class="briefCiteTitleFull zeta no-margin" style="font-weight: bold;">

							<a class="brief-resource__link" href="
<!--{fieldspec:Vey}-->
							">
<!--{fieldspec:Vet}-->
							</a>
						</div>

						<p class="brief-resource__description small-text">
<!--{fieldspec:Vee}-->
						</p>

<span class="brief-resource__access">
<!--{fieldspec:Vef}-->
</span>

<!--{toresourcerecord}-->

<!--{media}-->

		</td>
	</tr>
</table>

</tr>
