<!-- Version 2003.08.15 -->
s
<tr class="briefCitRow">
<td>
<table width="100%">
<tr>
<td align="center" valign="top" width="80">
<b>
<!--{entrynum}-->
</b>
</td>
<td align="center" valign="top" colspan="3" width="*">
<!--{authdata}-->
</td>
<td align="center" valign="top" width="80">&nbsp;

</td>
</tr>
</table>
</td>
</tr>
