<tr class="briefCiteRow">
<td class="briefCite">
<table width="100%" id="briefcit_nsu" name="briefcit_nsu" class="briefCiteTable">
<tr>
<td class="briefCiteEntryNum" style="width:15%;">
<!--DIV 0-->
<div>
<!--{entrynum}-->
<br />
<span style="color:#ffffff;font-size:0%" title="OCLC:*"  class="gbs-thumbnail">
<!--{fieldspec:Vbo}-->
</span>
</div>
</td>
<td class="briefCiteEntryMark"  style="width:3%;">
<!--{mark}-->
</td>
<td class="briefCiteEntryData">
<!--DIV 1-->
<div class="briefCiteTitle">
<!--{linkfieldspec:VbT}-->
<!-- <span class="briefCite245h">
<!--{fieldspec:Vbt245:h}-->
</span> -->
</div>
<!--DIV 2-->
<div class="briefCiteTitleFull" style="display:none;">
<!--{fieldspec:Vbt245:ab}-->
</div>
<!--DIV 3-->
<div class="briefCiteAuthor">
<!--{fieldspec:Vba:a}-->
</div>
<!--DIV 4-->
<div class="briefCitePub">
<!--{fieldspec:Vbp:bc}-->
</div>

<!--DIV 5-->
<div class="briefCiteItems" style="margin-top:.25em">
<!--{items}-->
</div>

<!--DIV 6-->
<div style="display:none;">
<!--{request}-->
</div>

<!--DIV 7-->
<div style="display:none;">
<!--{year}-->
</div>

<!--DIV 8-->
<div style="display:none;">
<!--{fieldspec:Vby856:u}-->
</div>

<!--DIV 9-->
<div style="display:none;">
<!--{fieldspec:Vby856:z}-->
</div>

<!--DIV 10-->
<div id="rowHold"  style="width95%;margin-left:2em;text-align:left;">
</div>

<!--DIV 11-->
<div id="bibLinks"  style="width95%;margin-left:2em;text-align:left;text-decoration:none;">
</div>
<script type="text/javascript">
briefCitReady();
</script>
</td>
<td class="briefCiteEntryYear"style="width:15%;">
<!--{year}-->
<br />
<br />
<!--{media}-->
<br />
<span style="display:none;" title="OCLC:*" class="gbs-link-to-info gbs-if-partial gbs-remove-on-failure">
<!--{fieldspec:Vbo}-->

<img class="googlePreview" src='/screens/gbs_preview_button1.gif' style="text-decoration: none;border:none; display: block;
    margin-left: auto;margin-right: auto;margin-top:5px;"  target="_blank"></span>
</span>
</td>
</td> 
</tr>
</table>
</td> 
</tr>
