<!--{toplogo}-->


<!--Begin the main content table-->
<table width="90%" border="0" cellspacing="0" cellpadding="5" align="center">
<tr valign="top" class="pageMainArea">
<td class="pageMainArea">&nbsp;
<!--Beginning main page content-->

<span class="pageMainAreaHeader">Course Reserves</span>
<br />
<ul>
<li><a href="/search/r">Search by Course Name or Number</a><br />
<br /></li>
<li><a href="/search/p">Search by Professor, Lecturer, or Instructor Name</a></li>
</ul> 
<!--End of main page content-->
</td>
</tr>
</table>
<!--End the main content table-->


<!--{botlogo}-->