<!--{toplogo}-->
<!--{patron}-->
<div class="pageContentInner" style="width:95%">
<script type="text/javascript">
 loggedMessage();
</script>
<!--{ifbibdisplay}-->
<!--{xif}-->
<!--{logout}-->
<!--{msg}-->
<div class="navigationRow" id="topNavRow">
<!--{navrow}--> 
</div>


<div id="bibDisplayContent">
<div class="bibSearch">
<!--{searchtool}-->
<div class="bibSearchHistory">
<!--{searchhistory}-->
</div>
</div><!-- bibSearch -->
</div>
<div id="topBibPager">
<div class="bibPager">
<div>
<div id="hilitesSwitch" style="float:left">
</div>

<script type="text/javascript">
<!--
printRecNums ();
// -->
</script>

</div>
<!--{pager}-->
</div><!--bibPager-->
</div><!--topBibPager-->

<div class="CenterBox">
<div class="CoursebibBox">
<!--{ifbibdisplay}-->
<div class="bibTitle">
</div>
<!--{recordinfo:!}-->

<div class="reserveBibsArea">
<!--{materials}-->

</div>
</div><!--bibBox-->
<div class="Clear"></div>
</div><!--CenterBox-->
</div><!--pageContentInner-->
<!--{botlogo}-->
