<!--{toplogo}-->

<div id="pageContentArea">
<br />
<span class="pageMainAreaHeader">
<img src="/screens/dbjournals_icon.gif" alt="" />
Journals & Databases</span>
<p>
<span class="msg">Full text articles are NOT directly accessible via NovaCat.</span><br />
If you are looking for a particular journal title, article, or need to do some research on a topic, please see the options below and select the link that applies to you and your research needs:
</p>
<br />

<table width="95%" border="0" cellspacing="1" align="center" cellpadding="4" bgcolor="#cccccc">
<tr bgcolor="#ffffff">
	<td width="33%" valign="top"><span class="pageMainAreaSubHeader">
	I am a...</span></td>
	
	<td width="33%" valign="top">
	<span class="pageMainAreaSubHeader">I know what journal I need</span><br />
	<span class="smalltext">(I have a citation/reading list)</span></td>
	
    <td width="33%" valign="top">
	<span class="pageMainAreaSubHeader">I'm not sure where to start</span><br />
	<span class="smalltext">(I'm researching a topic)</span>
</td>
</tr>

<tr bgcolor="#ffffff"> 
	<td class="smalltext" valign="middle" bgcolor="#ffffff">
	<strong>Registered NSU Student/Faculty/Staff</strong><br /><br />
    </td>
	
	<td class="smalltext" valign="middle" bgcolor="#ffffff" align="center">Start here &raquo;  
    <a href="http://atoz.ebsco.com/Search.asp?id=nseu">JOURNAL FINDER</a></td>

	<td class="smalltext" valign="middle" bgcolor="#ffffff" align="center">Start here &raquo;  
    <a href="http://elib.nova.edu/db/n/nsearch2.cfm">DATABASES</a></td>
</tr>
<tr bgcolor="#ffffff"> 
	<td class="smalltext" valign="middle" bgcolor="#ffffff">	
	<strong>Registered Broward County User</strong> <br />
	&nbsp;&nbsp;<a class="side" href="http://novacat.nova.edu/selfreg">(How do I register?)</a>
	</td>
	
	<td class="smalltext" valign="middle" bgcolor="#ffffff" align="center">Start here &raquo;  
	<a href="http://atoz.ebsco.com/Search.asp?id=nseu">JOURNAL FINDER</a>
	</td>

	<td class="smalltext" valign="middle" bgcolor="#ffffff" align="center">	Start here &raquo; 
    <a href="http://elib.nova.edu/db/p/psearch.cfm">DATABASES</a></td>
</tr>
<tr bgcolor="#ffffff"> 
	<td class="smalltext" valign="middle" bgcolor="#ffffff"><strong>Registered NSU Alumni</strong>
	<br />
	&nbsp;&nbsp;<a class="side" href="http://www.nova.edu/library/portal/alumni.html">(How do I register?)</a>
    </td>

	<td class="smalltext" valign="middle" bgcolor="#ffffff" align="center">Start here &raquo;  
	<a href="http://atoz.ebsco.com/Search.asp?id=nseu">JOURNAL FINDER</a>	
    </td>

	<td class="smalltext" valign="middle" bgcolor="#ffffff" align="center">Start here &raquo; 
	<a href="http://elib.nova.edu/db/a/asearch2.cfm">DATABASES</a>
    </td>
</tr>
<tr bgcolor="#ffffff"> 
	<td class="smalltext" valign="middle" bgcolor="#ffffff">	
	<strong>Walk-in User</strong><br />
	&nbsp;&nbsp;(See a Reference Librarian)
	</td>
	
	<td class="smalltext" valign="middle" bgcolor="#ffffff" align="center">	
	Start here &raquo;  
	<a href="http://atoz.ebsco.com/Search.asp?id=nseu">JOURNAL FINDER</a>
	</td>

	<td class="smalltext" valign="middle" bgcolor="#ffffff" align="center">Start here &raquo;	
    <a href="http://elib.nova.edu/db/w/wsearch2.cfm">DATABASES</a></td>
</tr>

</table>
</p>

</div>

<!--{botlogo}-->