<form name=OpenURL action="http://novacat.nova.edu:4550/urlgen" target="_blank">

<input type="text" name="rft_doi" size="50">
<input type="hidden" name="genre" value="article" />
<input name="sid" type="hidden" value="DOIFinder" />
<input name="base_url" type="hidden" value="resserv" />
<br />
<tr  class="browseHeader"><td><input type="submit" name="SearchOpenURL" value="DOI Lookup" /></td>
<td>&nbsp;</td>
</tr>
</form>
  </table>

</body>
</html>

