 /******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* ============================================================================= HTML5 display definitions ========================================================================== */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

/* Prevents modern browsers from displaying 'audio' without controls */
audio:not([controls]) { display: none; }

/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4 Known issue: no IE6 support */
[hidden] { display: none; }

/* ============================================================================= Base ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 2. Keeps page centred in all browsers regardless of content height 3. Prevents iOS text size adjust after orientation change, without disabling user zoom www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html { font-size: 100%; /* 1 */ overflow-y: scroll; /* 2 */ -webkit-text-size-adjust: 100%; /* 3 */ -ms-text-size-adjust: 100%; /* 3 */ }

/* Addresses margins handled incorrectly in IE6/7 */
body { margin: 0; }

/*  Addresses font-family inconsistency between 'textarea' and other form elements. */
body, button, input, select, textarea { font-family: Georgia, serif; }

/* ============================================================================= Links ========================================================================== */
/* Addresses outline displayed oddly in Chrome */
a:focus { outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }

/* ============================================================================= Typography ========================================================================== */
/* Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5 */
h1 { font-size: 2em; }

/* Addresses styling not present in IE7/8/9, S5, Chrome */
abbr[title] { border-bottom: 1px dotted; }

/* Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

/* Addresses styling not present in S5, Chrome */
dfn { font-style: italic; }

/* Addresses styling not present in IE6/7/8/9 */
mark { background: #ff0; color: #000; }

/* Corrects font family set oddly in IE6, S4/5, Chrome en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

/* 1. Addresses CSS quotes not supported in IE6/7 2. Addresses quote property not supported in S4 */
/* 1 */
q { quotes: none; }

/* 2 */
q:before, q:after { content: ''; content: none; }

small { font-size: 75%; }

/* Prevents sub and sup affecting line-height in all browsers gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* ============================================================================= Lists ========================================================================== */
ul, ol { margin-left: 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

/* ============================================================================= Embedded content ========================================================================== */
/* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3 2. Improves image quality when scaled in IE7 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/* Corrects overflow displayed oddly in IE9  */
svg:not(:root) { overflow: hidden; }

/* ============================================================================= Figures ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11 */
figure { margin: 0; }

/* ============================================================================= Forms ========================================================================== */
/* Corrects margin displayed oddly in IE6/7 */
form { margin: 0; }

/* Define consistent border, margin, and padding */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/* 1. Corrects color not being inherited in IE6/7/8/9 2. Corrects alignment displayed oddly in IE6/7 */
legend { border: 0; /* 1 */ *margin-left: -7px; /* 2 */ }

/* 1. Corrects font size not being inherited in all browsers 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome 3. Improves appearance and consistency in all browsers */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet */
button, input { line-height: normal; /* 1 */ }

/* 1. Improves usability and consistency of cursor style between image-type 'input' and others 2. Corrects inability to style clickable 'input' types in iOS 3. Removes inner spacing in IE7 without affecting normal text inputs Known issue: inner spacing remains in IE6 */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; /* 1 */ -webkit-appearance: button; /* 2 */ *overflow: visible; /* 3 */ }

/* 1. Addresses box sizing set to content-box in IE8/9 2. Removes excess padding in IE8/9 */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/* 1. Addresses appearance set to searchfield in S5, Chrome 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof) */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/* Removes inner padding that is displayed in S5, Chrome on OS X */
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* Removes inner padding and border in FF3+ www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 1. Removes default vertical scrollbar in IE6/7/8/9 2. Improves readability and alignment in all browsers */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/* ============================================================================= Tables ========================================================================== */
/*  Remove most spacing between table cells */
table { border-collapse: collapse; border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
ul, ol { padding: 0; list-style-type: none; }

dd { margin: 0; }

.sidebar ul, .sidebar ol, .commentlist { list-style: none; }

/* proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens) */
p { -webkit-hyphens: auto; -moz-hyphens: auto; -epub-hyphens: auto; hyphens: auto; }

b, strong, .strong { font-weight: bold; }

dfn, em, .em { font-style: italic; }

small, .small { font-size: 75%; }

/* ================== Variables ================== */
/* ================== Tools ================== */
.hide-text { line-height: 0; font-size: 0; color: transparent; }

.shadow { -webkit-box-shadow: 0 2px 2px 0 #444444; -moz-box-shadow: 0 2px 2px 0 #444444; box-shadow: 0 2px 2px 0 #444444; }

.tinsley-gradient { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006699), color-stop(100%, #50afdf)); background-image: -webkit-linear-gradient(top, #006699, #50afdf); background-image: -moz-linear-gradient(top, #006699, #50afdf); background-image: -o-linear-gradient(top, #006699, #50afdf); background-image: -ms-linear-gradient(top, #006699, #50afdf); background-image: linear-gradient(top, #006699, #50afdf); }

/* ================== Clearfix */
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

/* ================== Texture and Depth */
.inset { -webkit-box-shadow: inset 0 0 2px 0 #444444; -moz-box-shadow: inset 0 0 2px 0 #444444; box-shadow: inset 0 0 2px 0 #444444; }

/* ================== CSS Transitions ================== */
/* @include transition(all,2s,ease-out); */
/* ================== Typography ================== */
body { font-size: 14px; }

/* ================== Heading Styles */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 { font-family: Georgia, sans-serif; text-rendering: optimizelegibility; font-weight: 500; /* 
if you're going to use webfonts, be sure to check your weights 
http://css-tricks.com/watch-your-font-weight/
*/ /* removing text decoration from all headline links */ }
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a { text-decoration: none; }

h1, .h1 { font-size: 2.5em; line-height: 1.333em; }

h2, .h2 { font-size: 1.75em; line-height: 1.4em; margin-bottom: 0.375em; }

h3, .h3 { font-size: 1.125em; }

h4, .h4 { font-size: 1.1em; font-weight: 700; }

h5, .h5 { font-size: 0.846em; line-height: 2.09em; text-transform: uppercase; letter-spacing: 2px; }

/* ================== Icon Font ================== */
@font-face { font-family: 'icomoon'; src: url("http://novacat.nova.edu:2082/screens/icomoon.eot"); src: url("http://novacat.nova.edu:2082/screens/icomoon.eot?#iefix") format("embedded-opentype"), url("http://novacat.nova.edu:2082/screens/icomoon.svg#icomoon") format("svg"), url("http://novacat.nova.edu:2082/screens/icomoon.woff") format("woff"), url("http://novacat.nova.edu:2082/screens/icomoon.ttf") format("truetype"); font-weight: normal; font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: 'icomoon'; font-style: normal; speak: none; font-weight: normal; -webkit-font-smoothing: antialiased; line-height: 0; position: relative; }

.icon-home:before { content: "\21"; }

.icon-pencil:before { content: "\72"; }

.icon-phone:before { content: "\23"; }

.icon-mail:before { content: "\24"; }

.icon-location:before { content: "\25"; }

.icon-compass:before { content: "\26"; }

.icon-clock:before { content: "\27"; }

.icon-cart:before { content: "\28"; }

.icon-broadcast:before { content: "\29"; }

.icon-calendar:before { content: "\2a"; }

.icon-mobile:before { content: "\2b"; }

.icon-undo:before { content: "\2c"; }

.icon-redo:before { content: "\2d"; }

.icon-forward:before { content: "\2e"; }

.icon-reply:before { content: "\2f"; }

.icon-comments:before { content: "\30"; }

.icon-comments-2:before { content: "\31"; }

.icon-search:before { content: "\32"; }

.icon-key:before { content: "\33"; }

.icon-unlocked:before { content: "\34"; }

.icon-locked:before { content: "\35"; }

.icon-key-2:before { content: "\36"; }

.icon-cog:before { content: "\37"; }

.icon-coffee:before { content: "\38"; }

.icon-rocket:before { content: "\39"; }

.icon-fire:before { content: "\3a"; }

.icon-lab:before { content: "\3b"; }

.icon-target:before { content: "\3c"; }

.icon-grid-view:before { content: "\3d"; }

.icon-heart:before { content: "\3e"; }

.icon-star:before { content: "\3f"; }

.icon-thumbs-up:before { content: "\40"; }

.icon-happy:before { content: "\41"; }

.icon-smiley:before { content: "\42"; }

.icon-neutral:before { content: "\43"; }

.icon-thumbs-down:before { content: "\44"; }

.icon-plus:before { content: "\45"; }

.icon-minus:before { content: "\46"; }

.icon-help:before { content: "\47"; }

.icon-help-2:before { content: "\48"; }

.icon-info:before { content: "\49"; }

.icon-cancel:before { content: "\4a"; }

.icon-cancel-2:before { content: "\4b"; }

.icon-checkmark:before { content: "\4c"; }

.icon-minus-2:before { content: "\4d"; }

.icon-plus-2:before { content: "\4e"; }

.icon-arrow-up:before { content: "\4f"; }

.icon-arrow-down:before { content: "\50"; }

.icon-arrow-left:before { content: "\51"; }

.icon-arrow-right:before { content: "\52"; }

.icon-arrow-up-2:before { content: "\53"; }

.icon-arrow-right-2:before { content: "\54"; }

.icon-arrow-down-2:before { content: "\55"; }

.icon-arrow-left-2:before { content: "\56"; }

.icon-arrow-up-3:before { content: "\57"; }

.icon-arrow-right-3:before { content: "\58"; }

.icon-arrow-left-3:before { content: "\59"; }

.icon-arrow-down-3:before { content: "\5a"; }

.icon-mail-2:before { content: "\5b"; }

.icon-google-plus:before { content: "\5c"; }

.icon-facebook:before { content: "\5d"; }

.icon-google-plus-2:before { content: "\5e"; }

.icon-facebook-2:before { content: "\5f"; }

.icon-twitter:before { content: "\60"; }

.icon-twitter-2:before { content: "\61"; }

.icon-feed:before { content: "\62"; }

.icon-feed-2:before { content: "\63"; }

.icon-flickr:before { content: "\64"; }

.icon-flickr-2:before { content: "\65"; }

.icon-github:before { content: "\66"; }

.icon-tumblr:before { content: "\67"; }

.icon-tumblr-2:before { content: "\74"; }

.icon-pinterest:before { content: "\69"; }

.icon-pinterest-2:before { content: "\6a"; }

.icon-html5:before { content: "\6b"; }

.icon-user:before { content: "\73"; }

/* ==================
* Larger Mobile Devices
* ================== */
/* ================== Tablets and Small Laptops ================== */
@media only screen and (min-width: 768px) { body { font-size: 16px; } }
/* ================== Widescreen Monitors ================== */
@media only screen and (min-width: 1030px) { body { font-size: 14px; } }
/* ================== Large Viewing Size ================== */
/* ================== IE Fixes (Presuming Use of Modernizr) ================== */
.lt-ie9 body { font-size: 14px; }

.portlet { background: white; margin-bottom: 1em; /* ================== Portlet Header ================== */ /* ================== No Defined Content Type */ /* ================== Content Type: Information */ /* ================== Content Type: NovaCat Heading*/ /* ================== Content Type: Article / Blog / Main */ /* ================== Content Type: Event */ /* ================== Content Type: Resource */ }
.portlet header { background: #444444 url("textures/gray-noise.png"); border-bottom: 2px solid #50afdf; color: white; padding: 0 1em; }
.portlet header a { color: white; }
.portlet header [class^="icon-"]:before, .portlet header [class*=" icon-"]:before { color: rgba(68, 68, 68, 0.2); text-shadow: 1px 2px 6px #444444, 0 0 0 black, 1px 2px 6px #444444; }
.portlet .h2, .portlet .h3, .portlet .h4, .portlet .h5, .portlet .h6 { display: inline; padding: 0 .1em; }
.portlet .featured-image { float: left; margin: 1em 1em 1em 0; padding: .2em .2em 0; }
.portlet .icon-help { float: right; margin-top: 2px; }
.portlet .icon-help:before { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.portlet .icon-help:hover:before, .portlet .icon-help:focus:before, .portlet .icon-help:active:before { color: white; }
.portlet .information { background: #87bfbd url("textures/noise.png"); }
.portlet .information [class^="icon-"]:before, .portlet .information [class*=" icon-"]:before { color: rgba(135, 191, 189, 0.2); text-shadow: 1px 2px 6px #87bfbd, 0 0 0 black, 1px 2px 6px #87bfbd; }
.portlet .post-content .featured-image { background: #444444 url("textures/gray-noise.png"); }
.portlet .novacat { background: #777777 url("textures/noise.png"); }
.portlet .novacat [class^="icon-"]:before, .portlet .novacat [class*=" icon-"]:before { color: rgba(119, 119, 119, 0.2); text-shadow: 1px 2px 6px #777, 0 0 0 #000, 1px 2px 6px #777; }
.portlet .novacat .icon-help:hover:before, .portlet .novacat .icon-help:focus:before, .portlet .novacat .icon-help:active:before { color: white; }
.portlet .article { background: #5cacd3 url("textures/noise.png"); }
.portlet .article [class^="icon-"]:before, .portlet .article [class*=" icon-"]:before { color: rgba(92, 172, 211, 0.2); text-shadow: 1px 2px 6px #5CACD3, 0 0 0 #000, 1px 2px 6px #5CACD3; }
.portlet .article .icon-help:hover:before, .portlet .article .icon-help:focus:before, .portlet .article .icon-help:active:before { color: white; }
.portlet .post-content.article { background: none; }
.portlet .post-content.article .featured-image { background: #50afdf url("textures/noise.png"); }
.portlet .event { background: #e2624f url("textures/noise.png"); }
.portlet .event [class^="icon-"]:before, .portlet .event [class*=" icon-"]:before { color: rgba(226, 98, 79, 0.2); text-shadow: 1px 2px 6px #e2624f, 0 0 0 black, 1px 2px 6px #e2624f; }
.portlet .event .icon-help:hover:before, .portlet .event .icon-help:focus:before, .portlet .event .icon-help:active:before { color: white; }
.portlet header.event { border-bottom: 2px solid #444444; }
.portlet .resource { background: #87bfbd url("textures/noise.png"); }
.portlet .resource [class^="icon-"]:before, .portlet .resource [class*=" icon-"]:before { color: rgba(135, 191, 189, 0.2); text-shadow: 1px 2px 6px #87bfbd, 0 0 0 black, 1px 2px 6px #87bfbd; }
.portlet .resource .icon-help:hover:before, .portlet .resource .icon-help:focus:before, .portlet .resource .icon-help:active:before { color: white; }
.portlet .post-content.resource { background: none; }
.portlet .post-content.resource .featured-image { background: #87bfbd url("textures/noise.png"); }
.portlet .post-content.event { background: none; }
.portlet .post-content.event .featured-image { background: #e2624f url("textures/noise.png"); }

.portlet.standout { background: #444444 url("textures/gray-noise.png"); color: white; }
.portlet.standout header { border-bottom: none; }
.portlet.standout .wrap { color: white; margin-top: -0.8em; width: 98%; }
.portlet.standout p, .portlet.standout li { padding: .1em .5em; }
.portlet.standout li { border-bottom: 2px solid #555; font-size: 1.2em; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.portlet.standout li:hover, .portlet.standout li:active, .portlet.standout li:focus { background: rgba(51, 51, 51, 0.2); }
.portlet.standout li:last-child { border-bottom: none; }
.portlet.standout li a { color: white; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.portlet.standout li a:hover, .portlet.standout li a:active, .portlet.standout li a:focus { color: #50afdf; }

/* ==================
* Larger Mobile Devices
* ================== */
/* ================== Tablets and Small Laptops ================== */
/* ================== Widescreen Monitors ================== */
/* ================== Large Viewing Size ================== */
/* ================== Retina, High PPI Screens ================== */
/******************************************************************
Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/* ================== General Styles ================== */
/* ================== Layout ================== */
.wrap { margin: 0 auto; }

/* ================== Links ================== */
a, a:visited { text-decoration: none; /* on hover */ /* on click */ /* mobile tap color */ }
a:link, a:visited:link { /* 
this highlights links on iPhones/iPads. 
so it basically works like the :hover selector
for mobile devices.
*/ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a, a:link, a:link, a:link, a:hover { text-decoration: none; }

#accessibleform { background: #eeeeee; color: #006699; padding: 1em; }

.searchTermsField > select { float: left; margin-right: .1em; width: 7em; }

.searchTermsField { margin-top: .5em; }
.searchTermsField:first-child { margin-top: 0; }
.searchTermsField input[type='text'] { width: 18em; }
.searchTermsField input[type='text'].first-input { width: 25em; }
.searchTermsField .addTerm { background: #5cacd3 url("textures/noise.png"); height: 1.7em; line-height: 1.7; margin-left: .2em; text-align: center; padding: .2em 2.5em; -webkit-box-shadow: 0 2px 2px 0 #444444; -moz-box-shadow: 0 2px 2px 0 #444444; box-shadow: 0 2px 2px 0 #444444; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.searchTermsField .addTerm:before { font-family: icomoon; content: "\4e"; position: relative; }
.searchTermsField .addTerm:hover, .searchTermsField .addTerm:active { background: #80bedd url("textures/noise.png"); }
.searchTermsField .addTerms { width: 100%; }
.searchTermsField .disabled { background: #777777 url("textures/noise.png"); -webkit-box-shadow: inset 1px 1px 1px 0 #444444; -moz-box-shadow: inset 1px 1px 1px 0 #444444; box-shadow: inset 1px 1px 1px 0 #444444; }
.searchTermsField .disabled:before { -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out; color: #444444; content: "\4b"; }
.searchTermsField .disabled:hover, .searchTermsField .disabled:active { background: #777777 url("textures/noise.png"); }
.searchTermsField .disabled:hover:before, .searchTermsField .disabled:active:before { color: #e2624f; }
.searchTermsField .disabled.first:before { color: #666; }
.searchTermsField .disabled.first:before:hover, .searchTermsField .disabled.first:before:active, .searchTermsField .disabled.first:before:focus { color: #666; }

.sort { background: #777777 url("textures/noise.png"); padding: 3px 2em; -webkit-box-shadow: 1px 1px 1px 0 #444444 inset; -moz-box-shadow: 1px 1px 1px 0 #444444 inset; box-shadow: 1px 1px 1px 0 #444444 inset; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.sort:hover, .sort:active, .sort:focus { background: #8e8e8e url("textures/noise.png"); }
.sort:before { font-family: icomoon; color: #666; content: "\4c"; margin-left: -1em; margin-right: 1em; }

.sort.selected { background: #80bedd url("textures/noise.png"); -webkit-box-shadow: 0 2px 2px 0 #444444; -moz-box-shadow: 0 2px 2px 0 #444444; box-shadow: 0 2px 2px 0 #444444; }
.sort.selected:before { color: white; }

.searchTerms a:active, .searchTerms a:visited, .searchTerms a:link { color: white; }

li.sortOptions { width: 100%; }

.sortOptions > ul { text-align: center; margin: 1em auto; }

.searchTerms li { display: inline-block; }

li.optionalterms { font-family: Georgia, serif; display: block; margin: 1em auto; }

/* line 64, ../sass/styles.scss */
.searchTerms li.optionalterms .select { width: 75%; float: right; }

.optionalterms > input[type=text] { float: right; width: 74%; }

/* line 67, ../sass/styles.scss */
.publishing { width: 100%; }

.publishing input { float: right; width: 25%; margin: 0 5px; }

.searchTermsField hr { display: block; border: none; height: 1px; width: 300px; margin: 5px auto; background-color: #cccccc; }

.accordion { font-family: Georgia, serif; }

.accordion dt { background: #5cacd3 url("textures/noise.png"); border-bottom: 2px solid #80bedd; border-left: 3px solid #80bedd; height: 2em; line-height: 2; width: 150px; }
.accordion dt:last-child { border-bottom: none; }
.accordion dt:hover, .accordion dt:active { background: #80bedd url("textures/noise.png"); }
.accordion dt a { padding: 0 .5em; }
.accordion dt input[type="checkbox"] { float: right; margin-right: 2px; margin-top: 6px; }

.accordion dt.selected { background: #80bedd url("textures/noise.png"); border-left: 3px solid #a5cfcd; }
.accordion dt.selected a { color: white; }

.accordion dd { margin-left: 12.4em; position: absolute; }

.accordion li ul li { background: #5cacd3 url("textures/noise.png"); border-bottom: 2px solid #80bedd; color: white; cursor: pointer; display: inline-block; height: 2em; line-height: 2em; padding: 0 .5em; white-space: nowrap; width: 13.6em; }
.accordion li ul li:last-child { border-bottom: none; }
.accordion li ul li:hover, .accordion li ul li:active { background: #80bedd url("textures/noise.png"); }
.accordion li ul li input[type="checkbox"] { float: right; margin-top: 6px; }
.accordion label { cursor: pointer; }

.accordion a { display: inline-block; color: white; }

/* line 235, ../sass/styles.scss */
.accordion dd { position: absolute; }

#footer { font-family: Georgia, serif; font-size: 1em; margin: 0 auto -4em; padding: 0; }

/* ================== Obscuring Div */
/* line 244, ../sass/styles.scss */
.limitByType { cursor: pointer; width: 152px; height: 90px; position: absolute; margin-top: 27px; background-color: #eeeeee; color: #006699; z-index: 1; opacity: 0; }

/* line 256, ../sass/styles.scss */
.limitByType span.click-to-find-type { font-weight: bold; }

/* line 282, ../sass/styles.scss */
.submit { height: 50px; width: 152px; margin-top: 5px; color: #006699; }

/* line 292, ../sass/styles.scss */
a { text-decoration: none; }

/* line 294, ../sass/styles.scss */
#querybox { margin-top: 10px; margin-left: 50px; width: 750px; word-wrap: break-word; }

.searchTermsField input[type='text'] { width: 22em; }
.searchTermsField input[type='text'].first-input { width: 29em; }

.wrap { max-width: 1140px; }

.row { width: 100%; margin: 0 auto; overflow: hidden; }

/* This is a combination of the 1140 grid and Twitter Boostrap. I liked 1140 but Boostrap's grid was way more detailed so I merged them together, let's see how this works out. If you want to use 1140, the original values are commented out on each line.
*/
.onecol { width: 5.801104972%; }

/* 4.85%;  } /* grid_1  */
.twocol { width: 14.364640883%; }

/* 13.45%; } /* grid_2  */
.threecol { width: 22.928176794%; }

/* 22.05%; } /* grid_3  */
.fourcol { width: 31.491712705%; }

/* 30.75%; } /* grid_4  */
.fivecol { width: 40.055248616%; }

/* 39.45%; } /* grid_5  */
.sixcol { width: 48.618784527%; }

/* 48%;    } /* grid_6  */
.sevencol { width: 57.182320438000005%; }

/* 56.75%; } /* grid_7  */
.eightcol { width: 65.74585634900001%; }

/* 65.4%;  } /* grid_8  */
.ninecol { width: 74.30939226%; }

/* 74.05%; } /* grid_9  */
.tencol { width: 82.87292817100001%; }

/* 82.7%;  } /* grid_10 */
.elevencol { width: 91.436464082%; }

/* 91.35%; } /* grid_11 */
.twelvecol { width: 99.999999993%; }

/* 100%;   } /* grid_12 */
/* layout & column defaults */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol { position: relative; float: left; margin-left: 2.762430939%; }

.first { margin-left: 0; }

.last { float: right; }

.searchTermsField input[type='text'] { width: 7em; }
.searchTermsField input[type='text'].first-input { width: 14em; }

.sort { padding: 3px .2em; }
.sort:before { margin-left: .5em; margin-right: .5em; }

.searchTermsField input[type='text'] { width: 12em; }
.searchTermsField input[type='text'].first-input { width: 19em; }

.sort { padding: 3px .5em; }

.accordion dt input[type="checkbox"] { margin-right: 6px; }

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
.lt-ie9 .limitByType { cursor: pointer; width: 157px; height: 90px; position: absolute; margin-top: 27px; background-color: #eeeeee; color: #006699; z-index: 1; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.lt-ie8 a.addTerm { display: none; }
.lt-ie8 .limitByType { height: 200px; filter: alpha(opacity=0); }
.lt-ie8 .sortOptions li { padding: 5px; display: inline; } 