<!-- begin toplogo.html file -->
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
      $(document).bind("mobileinit", function(){
            $.extend(  $.mobile , { ajaxFormsEnabled : false });
			$.extend(  $.mobile , { ajaxLinksEnabled  : false});;
      });
</script>
<script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script> 
<style type="text/css">@import url(http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css);</style>
<style type="text/css">

.min-width-480px input.ui-input-text, .min-width-480px textarea.ui-input-text, .min-width-480px .ui-input-search {
    display: inline-block;
    width: 93%;
	padding: 0;
	margin:0;
}
.min-width-480px .ui-select {
    display: inline-block;
    width: 100%;
}

</style>
<body>
<div data-role="page" id="novacat">
<div data-role="header" data-theme="b">
<a href='#' class='ui-btn-left' data-icon='back' onClick="history.back(); return false">BACK</a><h1>NovaCat</h1><a rel="external" class='ui-btn-right' data-icon='arrow-r' href="http://elib.nova.edu/db/mobile/m.cfm">HOME</a>
</div>

<div data-role="content"> 
<div class="pageContent"><!-- content container -->
<a name="content" id="content"></a>
<!--end toplogo.html-->
