      <ul class="list list--alternate zeta">

        <li class="clearfix">
          <div class="fourcol first">
 <!--{media}-->
          </div>
          <div class="eightcol last">
          {{#worldcat}}
          <a href={{worldcat}}>Find in WorldCat</a>
          {{/worldcat}}
          </div>
        </li>

        {{#publisher}}
        <li class="small-text"><b>Publisher</b>: {{publisher}}</li>
        {{/publisher}}

        {{#description}}
        <li class="small-text"><b>Description</b>: {{description}}</li>
        {{/description}}


      </ul>