<!-- 2006 WebPAC Pro Version, set from 26 March, 2007 -->
<!-- This file last changed: 27 January, 2007 -->
<!--{toplogo}-->
<div>
<div class="folderWrapper"><!-- "folder" interface wrapper div-->
	<div class="mainSpacer"><!--wrapper div that contains the selection tabs-->
		<div class="mainActiveTab"><!--active tab-->
			<b class="tabTop"><b class="active1"></b><b class="active2"></b><b class="active3"></b><b class="active4"></b></b>
			<div class="DisplayBoxContent"><div class="menuTabActive">Login</div></div>
		</div><!--close active tab-->
	</div><!--close selection tab wrapper-->
	<div class="mainSpacer"><!-- main content wrapper div -->
		<div class="mainActiveContent">
<table class="textFix"><tr><td valign="top">
<form name="patform"  METHOD=POST ACTION="https://novacat.nova.edu/patroninfo~S13/";>
<table border="0" width="80%" class="loginarea textFix">
<tr>
 <!--{return}--> 
<td valign="top">
<div id="extpat">
<strong>Login with campus identification:</strong>
<br />
Your Campus ID#:&nbsp; &nbsp;
<input name="extpatid" value="" size="20" maxlength="40"><br />
Your Password:&nbsp; &nbsp;
<input name="extpatpw" type="PASSWORD" value="" size="20" maxlength="40"></div>
</td>
<td valign="top">
<div id="libpat">
<strong>or login with library identification:</strong><br />

<span id="nameprompt">Your Last Name</span>&nbsp; &nbsp;
<input name="name" value="" size="20" maxlength="40"><br />
<span id="codeprompt">University ID number</span>&nbsp; &nbsp;
<input name="code" type="PASSWORD" value="" size="20" maxlength="40"><br />
<input type="hidden" name="extpatserver" value="staff" />
</div>
</td>
</tr>
</table>
<br />
<input type="image" src="/screens/pat_submit.gif" border="0" name="submit" value="submit" />
</form>


<div align="left">
<!--{startover}-->
</div>
</td></tr></table>


		</div>
<div >
	<b class="conbottom"><b class="conb4"></b><b class="conb3"></b><b class="conb2"></b><b class="conb1"></b></b>
</div>
	</div><!--close main content wrapper div-->
</div><!--close wrapper of "folder interface"-->
<div class="mainNavLinksWrapper">
<div class="roundedContent">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div class="roundedContentInfo">
<div align="center"><img src="/screens/welcome.jpg" alt="Welcome to Webpac Pro"/></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/patroninfo">My Record</a></div>
<!--<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/selfreg">Patron self registration</a></div>-->
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/acquire">Suggest a purchase</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/suggest">Comments</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/screens/libinfo.html">Library Info</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/ftlist">Featured item lists</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/screens/feeds_example.html">Feeds</a></div>
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/">Search</a></div>
<!--<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/screens/resources_index.html">Other Resources</a></div>-->
<!-- Note: uncomment this row and insert the correct URL if library uses KidsOnline product -->
<!--<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="#">KidsOnline</a></div>-->
<!-- Note: if library has Web OPACs in alternate language(s), links can be added here -->
<div><img src="/screens/bullet.gif" alt=""/>&nbsp;<a href="/screens/help_index.html">Help</a></div>
</div>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
</div>
</div>
</div>
<div style="clear:both"></div>
<!--{botlogo}-->
</body>
</html>
