<!--{toplogo}-->
<!--{patron}-->

<h1 class="hide-accessible">Search NovaCat</h1>

<form action="https://novacat.nova.edu/search/" role="form" name="novacat_search" id="novacat_search" method="get" class="form no-margin" role="form">

	<div class="wrap clearfix">
		<div class="col--centered clearfix col-sm--tencol hero">
			<ul>
				<li class="clearfix form__field no-margin">

					<label class="hide-accessible" for="searcharg">Search the Library Catalog</label>

					<div class="epsilon form__select">

            <label class="hide-accessible" for="searchtype">Search type</label>

						<select
							name="searchtype"
              id="searchtype"
							ng-model="searchtype"
							ng-init="searchtype = 'X'">

							<option value="X" selected>Keyword</option>
							<option value="a">Author</option>
							<option value="t">Title</option>
							<option value="d">Subject</option>
							<option value="c">Number</option>
              <option value="p">Reserves</option>

						</select>

					</div>

          <label for="searcharg" class="hide-accessible">Search the library catalog</label>
					<input class="card form__input form__input--full-width input--large epsilon" id="searcharg" name="searcharg" placeholder="Search the Library Catalog" type="search" required data-ng-model="searcharg" data-ng-change="searchtext=searcharg">

					<button class="button button--small epsilon form__submit form__submit--inside no-margin button--disabled" data-ng-class="{ 'button--primary--alt' : searcharg, 'button--disabled' : !searcharg}" type="submit" value="Search">

            <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>

            <span class="button__text">Search</span>

					</button>

				</li>

        <p class="small-text" ng-show="searchtype !== 'X'" style="float: left;"><svg class="svg svg--info"><use xlink:href="#icon-info"></use></svg> You can only choose formats with a <mark>keyword</mark> search.</p>

        <div class="align-right">
          <a class="link link--undecorated small-text" href="https://novacat.nova.edu/search/X#refined" class="small-text" ng-show="!searcharg">Advanced Search</a>
        </div>

			</ul>
		</div>
	</div><!--/.wrap-->

	<input type="hidden" id="sortdropdown" name="sortdropdown" value="r" ng-disabled="searchtype === 'X' || searchtype === 'c'"/>
</form><!--/#novacat_search-->

<div class="alert alert--no-results hide-accessible">
<!--{msg}-->
</div>

<div class="clearfix wrap" ng-cloak>

  <!-- Empty -->
  <section class="col-sm--tencol col-md--sixcol col--centered" ng-class="{ 'hide-accessible' : searcharg || searchtype !== 'X' }">
    <h2 class="hide-accessible">What am I searching?</h2>
    <p>
      Search NovaCat &ndash; our catalog &ndash; for books, media, periodicals, and electronic resources.
      You can also browse our <a href="http://sherman.library.nova.edu/e-library">databases</a> or try
      <a href="http://lib.nova.edu/ftf">Full Text Finder</a> for the full text of a publication.</p>
  </section>

  <div class="col-md--tencol col--centered nc-fade" ng-class="{ 'nc-fade--in' : searcharg || searchtype !== 'X' }" style="border-top: 1px solid #ddd; padding-top: 2em;">
    <h2 class="align-center gamma no-margin">Refine your search</h2>
  </div>

	<!-- Advanced Search -->
	<section class="col-sm--tencol col--centered nc-fade ng-hide ng-cloak" ng-class="{ 'nc-fade--in' : searcharg }" ng-show="searchtype === 'X' && searcharg" ng-cloak>

		<p class="align-center">Optionally add keywords and filters</p>

  	<form class="form js-adv-search" action="/search/X" method="get" id="advanced-search" name="search">

			<ul class="no-margin">

				<section class="hero--small clearfix">

					<div class="col-md--twocol">
						<div class="js-adv-search__step">1 <span class="js-adv-search__step__instructions">Add keywords</span></div>
					</div>

					<div class="col-md--tencol">

						<h3 class="hide-accessible">Add keywords</h3>
						<li class="clearfix form__field js-adv-search__keyword">

						<div class="col-md--threecol">
							<div class="form__select form__input--full-width">
                <label class="hide-accessible" for="fieldLimit">Search type for first term</label>
								<select name="fieldLimit" id="fieldLimit">
									<option value="" selected="">Keyword</option>
									<option value="a:">Author</option>
									<option value="t:">Title</option>
									<option value="d:">Subject</option>
								</select>
							</div>
						</div>

						<div class="col-md--ninecol">
							<label class="hide-accessible" for="searchText">Keyword, author, title, or subject</label>
							<input class="form__input form__input--full-width" name="searchText" id="searchText" placeholder="harry potter" type="search" value="{{searcharg}}" data-ng-model="searchtext" data-ng-change="searcharg=searchtext" required>
						</div>

						</li>

						<li class="clearfix form__field js-adv-search__keyword js-adv-search__more-field">

							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
                  <label for="boolean1" class="hide-accessible">Boolean</label>
									<select name="boolean" class="boolean" id="boolean1">
										<option value="%20and%20" selected="">And</option>
										<option value="%20and%20not%20">And not</option>
										<option value="%20or%20">Or</option>
										<option value="%20near%20">Near</option>
										<option value="%20before%20">Before</option>
										<option value="%20after%20">After</option>
									</select>
								</div>
							</div>
							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
                  <label for="fieldLimit2" class="hide-accessible">Search type for second term</label>
									<select name="fieldLimit" id="fieldLimit2">
										<option value="" selected="">Keyword</option>
										<option value="a:">Author</option>
										<option value="t:">Title</option>
										<option value="d:">Subject</option>
									</select>
								</div>
							</div>

							<div class="col-md--sixcol">
								<label class="hide-accessible" for="searchText2">Second search term</label>
								<input class="form__input form__input--full-width" name="searchText" id="searchText2" placeholder="Search the catalog using specific keywords" type="search">
							</div>

						</li>

						<li style="display: none;" class="clearfix form__field js-adv-search__keyword js-adv-search__more-field">

							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
                  <label for="boolean3" class="hide-accessible">Boolean</label>
									<select name="boolean" class="boolean" id="boolean3">
										<option value="%20and%20" selected="">And</option>
										<option value="%20and%20not%20">And not</option>
										<option value="%20or%20">Or</option>
										<option value="%20near%20">Near</option>
										<option value="%20before%20">Before</option>
										<option value="%20after%20">After</option>
									</select>
								</div>
							</div>
							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
                  <label for="fieldLimit3" class="hide-accessible">Search type for third search term</label>
									<select name="fieldLimit" id="fieldLimit3">
										<option value="" selected="">Keyword</option>
										<option value="a:">Author</option>
										<option value="t:">Title</option>
										<option value="d:">Subject</option>
									</select>
								</div>
							</div>

							<div class="col-md--sixcol">
								<label class="hide-accessible" for="searchText3">Third search term</label>
								<input class="form__input form__input--full-width" name="searchText" id="searchText3" placeholder="Search the catalog using specific keywords" type="search">
							</div>

						</li>

						<li style="display: none;" class="clearfix form__field js-adv-search__keyword js-adv-search__more-field">

							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
                  <label for="boolean4" class="hide-accessible">Boolean</label>
									<select name="boolean" class="boolean" id="boolean4">
										<option value="%20and%20" selected="">And</option>
										<option value="%20and%20not%20">And not</option>
										<option value="%20or%20">Or</option>
										<option value="%20near%20">Near</option>
										<option value="%20before%20">Before</option>
										<option value="%20after%20">After</option>
									</select>
								</div>
							</div>
							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
                  <label for="fieldLimit4" class="hide-accessible">Search type for fourth term</label>
									<select name="fieldLimit" id="fieldLimit4">
										<option value="" selected="">Keyword</option>
										<option value="a:">Author</option>
										<option value="t:">Title</option>
										<option value="d:">Subject</option>
									</select>
								</div>
							</div>

							<div class="col-md--sixcol">
								<label class="hide-accessible" for="searchText4">Fourth search term</label>
								<input class="form__input form__input--full-width" name="searchText" id="searchText4" placeholder="Search the catalog using specific keywords" type="search">
							</div>

						</li>

					</div>

				</section>

			<section class="clearfix hero--small">

				<div class="col-md--twocol">
					<div class="js-adv-search__step">2 <span class="js-adv-search__step__instructions">Choose formats</span></div>
				</div>

				<div class="col-md--tencol">
					<h3 class="hide-accessible">Filter</h3>

					<div class="clearfix">
						<div class="col-sm--sixcol col-md--threecol c-types">

							<input class="checkbox-toggle" name="m" value="t" id="t" type="checkbox">
							<label class="button button--small button--default small-text" for="t">
								Archival Material
								<svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg>
							</label>

							<input class="checkbox-toggle" name="m" value="7" id="7" type="checkbox">
							<label class="button button--small button--default small-text" for="7">Audio Download <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="i" id="i" type="checkbox">
							<label class="button button--small button--default small-text" for="i">Audiobook Spoken Word <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="1" id="1" type="checkbox">
							<label class="button button--small button--default small-text" for="1">Blu-Ray  <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="n" id="n" type="checkbox">
							<label class="button button--small button--default small-text" for="n">E-Book <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="5" id="5" type="checkbox">
							<label class="button button--small button--default small-text" for="5">Cassette <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="d" id="d" type="checkbox">
							<label class="button button--small button--default small-text" for="d">Dissertation <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>
						</div>
						<div class="col-sm--sixcol col-md--threecol c-types">
							<input class="checkbox-toggle" name="m" value="g" id="g" type="checkbox">
							<label class="button button--small button--default small-text" for="g">DVD <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="b&m=4" id="b&m=4" type="checkbox">
							<label class="button button--small button--default small-text" for="b&m=4">E-Journal <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="l" id="eq" type="checkbox">
							<label class="button button--default button--small small-text" for="eq">
								Equipment <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg>
							</label>

							<input class="checkbox-toggle" name="m" value="o" id="o" type="checkbox">
							<label class="button button--small button--default small-text" for="o">Kit <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="p" id="p" type="checkbox">
							<label class="button button--small button--default small-text" for="p">Large Print <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" type="checkbox" id="r" value="r">
							<label class="button button--small button--default small-text" for="r">Toys <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="e" id="e" type="checkbox">
							<label class="button button--small button--default small-text" for="e">Map / Atlas <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

						</div>
						<div class="col-sm--sixcol col-md--threecol c-types">

							<input class="checkbox-toggle" name="m" value="x&m=8&m=9" id="x&m=8&m=9" type="checkbox">
							<label class="button button--small button--default small-text" for="x&m=8&m=9">Microform <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input type="checkbox" name="m" class="checkbox-toggle" value="6" id="6">
							<label class="button button--small button--default small-text" for="6">MP3 CD <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="j" id="j" type="checkbox">
							<label class="button button--small button--default small-text" for="j">Music CD <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="q" id="q" type="checkbox">
							<label class="button button--small button--default small-text" for="q">Playaway <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="a" id="a" type="checkbox">
							<label class="button button--small button--default small-text" for="a">Print Material <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="c" id="c" type="checkbox">
							<label class="button button--small button--default small-text" for="c"> Score <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="m" id="m" type="checkbox">
							<label class="button button--small button--default small-text" for="m">Software <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

						</div>
						<div class="col-sm--sixcol col-md--threecol c-types">

							<input class="checkbox-toggle" name="m" value="k" id="k" type="checkbox">
							<label class="button button--small button--default small-text" for="k"> Slides	 <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="f" id="f" type="checkbox">
							<label class="button button--small button--default small-text" for="f">Streaming Video / Audio <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="s" id="s" type="checkbox">
							<label class="button button--default button--small small-text" for="s">Study Room <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="3" id="3" type="checkbox">
							<label class="button button--small button--default small-text" for="3">Video Game <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="2" id="2" type="checkbox">
							<label class="button button--small button--default small-text" for="2">VHS <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

							<input class="checkbox-toggle" name="m" value="h&m=w" id="h&m=w" type="checkbox">
							<label class="button button--small button--default small-text" for="h&m=w">Website <svg class="svg" viewBox="0 0 16 16"><use xlink:href="#icon-check"></use></svg></label>

						</div>
					</div>
				</div>

			</section>

			<section class="clearfix hero--small">

				<div class="col-md--twocol">
					<div class="js-adv-search__step">3 <span class="js-adv-search__step__instructions">Misc</span></div>
				</div>

				<div class="col-md--tencol">
					<h3 class="hide-accessible">Other options</h3>
					<li class="clearfix form__field no-margin">

						<div class="col-md--twocol">
							<label class="form__label" for="searchscope">Collection</label>
						</div>

						<div class="col-md--tencol">

							<div class="form__select form__input--full-width">
								<select id="searchscope" name="searchscope">
									<option value="1"> Alvin Sherman Library</option>
									<option value="2"> &ndash; Children's Collection</option>
									<option value="5"> &ndash; Genealogy Room Collection</option>
                  <option value="8"> &ndash; Holocaust Room Collection</option>
									<option value="3"> HPD Library</option>
									<option value="4"> Law Library</option>
									<option value="12"> NSU Libraries Media</option>
									<option value="11"> NSU Libraries Periodicals</option>
									<option value="6"> Oceanography Library</option>
									<option value="9"> Online Resources</option>
									<option value="7"> University Archives</option>

									<option selected="selected" value="13"> View Entire Collection</option>
								</select>
							</div>

						</div>
					</li><!--/.form__field-->

					<li class="clearfix form__field no-margin">
						<div class="col-md--twocol">
							<label class="form__label" for="b">Location</label>
						</div>
						<div class="col-md--tencol">
							<div class="form__select form__input--full-width">
								<select id="b" name="b">

									<option value="">All locations</option>

									<option value="main">Alvin Sherman Library</option>
									<option value="mebk">Alvin Sherman Library E-Books</option>

									<option value="hp">HPD Library</option>
									<option value="hpres">HPD Library Reserve</option>

									<option value="lgc">Leo Goodwin Library</option>

									<option value="ocl">Oceanographic Campus Library</option>

									<optgroup label="Panza Maurer Law Library">
										<option value="law">Law Library - All Locations</option>
										<option value="lcle">CLE Collection (2nd Floor)</option>
										<option value="lcom">Community Collection (2nd Floor)</option>
										<option value="lcore">Core Collection (2nd Floor)</option>
										<option value="lfac">Faculty Support Collection (2nd Floor)</option>
										<option value="ljbur">Johnny C. Burris Collection (3rd Floor)</option>
										<option value="lmed">Media (2nd Floor)</option>
										<option value="lprac">Practitioner Collection (2nd Floor)</option>
										<option value="lresf">Faculty Reserve (2nd Floor)</option>
										<option value="lstax">General Collection (2nd Floor)</option>
										<option value="lstu">Student Collection / Study Guides (2nd Floor)</option>
									</optgroup>

									<option value="marc">University Archives</option>

									<optgroup label="University School">
										<option value="usl">Lower School Media Center</option>
										<option value="hsl">Upper School Media Center</option>
									</optgroup>


								</select>
							</div>
						</div>
					</li>

					<li class="clearfix form__field no-margin">
						<div class="col-md--twocol">
							<label class="form__label" for="l">Language</label>
						</div>
						<div class="col-md--tencol">
							<div class="form__select form__input--full-width">
								<select class="select" id="l" name="l">
									<option value="">ANY</option>
									<option value="eng">English</option>
									<option value="ara">Arabic</option>
									<option value="chi">Chinese</option>
									<option value="fre">French</option>
									<option value="ger">German</option>

									<option value="hat">Haitian Creole</option>
									<option value="heb">Hebrew</option>
									<option value="hin">Hindi</option>
									<option value="ita">Italian</option>
									<option value="jpn">Japanese</option>
									<option value="lat">Latin</option>
									<option value="pol">Polish</option>
									<option value="por">Portuguese</option>
									<option value="rus">Russian</option>

									<option value="spa">Spanish</option>
									<option value="swe">Swedish</option>
								</select>
							</div>
						</div>
					</li>

					<li class="clearfix form__field no-margin">
						<div class="col-md--twocol">
							<label class="form__label" for="publisher">Publisher</label>
						</div>
						<div class="col-md--tencol">
							<input class="form__input form__input--full-width" id="publisher" name="p">
						</div>
					</li>

					<li class="clearfix form__field no-margin">
						<div class="col-md--twocol">
							<label class="form__label" for="Db">Year</label>
						</div>
						<div class="col-sm--fivecol">
							<input class="form__input form__input--full-width" name="Db" id="Db" placeholder="before">
						</div>
						<div class="col-sm--fivecol">
              <label for="Da" class="hide-accessible">Date after</label>
							<input class="form__input form__input--full-width" name="Da" id="Da" placeholder="after">
						</div>
					</li>

					<li class="clearfix form__field">

						<div class="hide-accessible">

							<input type="radio" class="checkbox-toggle" name="SORT" id="sort-by-date" value="DX">
							<label class="button button--small button--default small-text" for="sort-by-date">Sort by Date</label>

							<input type="radio" class="checkbox-toggle" name="SORT" id="sort-by-relevance" value="D" checked>
							<label class="button button--small button--default small-text" for="sort-by-relevance">Sort by Relevance</label>

							<input type="radio" class="checkbox-toggle" name="SORT" id="sort-by-title" value="AX">
							<label class="button button--small button--default small-text" for="sort-by-title">Sort by Title</label>

						</div>

						<div class="align-right">

							<button class="button button--primary--alt button--small" value="Search" type="submit">Search</button>
						</div>

					</li>

					</section>

				</ul>

		</form>

	</section><!--/searchtype X-->

  <!-- Author -->
  <section class="col-sm--tencol col-md--eightcol col--centered" ng-show="searchtype === 'a'">

    <p class="align-center">Optionally look in a specific collection</p>

    <form class="form" action="/search/" method="get">
      <input type="hidden" name="searchtype" value="a">
      <ul class="no-margin">

        <label class="form__label hide-accessible" for="searcharg">Author</label>
        <input type="hidden" class="form__input form__input--full-width" name="searcharg" value="{{searcharg}}">

        <li class="clearfix form__field">
          <div class="col-md--threecol">
            <label class="form__label" for="searchscope">Collection</label>
          </div>
          <div class="col-md--ninecol">
            <div class="form__select form__input--full-width">
              <select id="searchscope" name="searchscope">
                <option value="1"> Alvin Sherman Library</option>
                <option value="2"> &ndash; Children's Collection</option>
                <option value="5"> &ndash; Genealogy Room Collection</option>
                <option value="8"> &ndash; Holocaust Room Collection</option>
                <option value="3"> HPD Library</option>
                <option value="4"> Law Library</option>
                <option value="12"> NSU Libraries Media</option>
                <option value="11"> NSU Libraries Periodicals</option>
                <option value="6"> Oceanography Library</option>
                <option value="9"> Online Resources</option>
                <option value="7"> University Archives</option>

                <option selected="selected" value="13"> View Entire Collection</option>
              </select>
            </div>
          </div>
        </li><!--/.form__field-->
        <li class="align-right form__field">
          <button class="button button--primary--alt button--small" value="Search" type="submit">Search</button>
        </li>
      </ul>
    </form>
  </section>

  <!-- Title -->
  <section class="col-sm--tencol col-md--eightcol col--centered" ng-show="searchtype === 't'">

    <p class="align-center">Optionally look in a specific collection</p>

    <form class="form" action="/search/" method="get">
      <input type="hidden" name="searchtype" value="t">
      <ul class="no-margin">

        <label class="form__label hide-accessible" for="searcharg">Author</label>
        <input type="hidden" class="form__input form__input--full-width" name="searcharg" value="{{searcharg}}">

        <li class="clearfix form__field">
          <div class="col-md--threecol">
            <label class="form__label" for="searchscope">Collection</label>
          </div>
          <div class="col-md--ninecol">
            <div class="form__select form__input--full-width">
              <select id="searchscope" name="searchscope">
                <option value="1"> Alvin Sherman Library</option>
                <option value="2"> &ndash; Children's Collection</option>
                <option value="5"> &ndash; Genealogy Room Collection</option>
                <option value="8"> &ndash; Holocaust Room Collection</option>
                <option value="3"> HPD Library</option>
                <option value="4"> Law Library</option>
                <option value="12"> NSU Libraries Media</option>
                <option value="11"> NSU Libraries Periodicals</option>
                <option value="6"> Oceanography Library</option>
                <option value="9"> Online Resources</option>
                <option value="7"> University Archives</option>

                <option selected="selected" value="13"> View Entire Collection</option>
              </select>
            </div>
          </div>
        </li><!--/.form__field-->
        <li class="align-right form__field">
          <button class="button button--primary--alt button--small" value="Search" type="submit">Search</button>
        </li>
      </ul>
    </form>
  </section>

	<!--Subject-->
	<section class="col-sm--tencol col-md--eightcol col--centered" ng-class="{ 'hide-accessible' : searchtype !== 'd' }">

    <p class="align-center">You can change which <button class="button button--link no-margin" ng-init="modal=0" ng-click="modal = 'subjects'" onclick="return false">classification system</button> NovaCat searches</p>

    <section aria-hidden="true" aria-labelledby="modal-label" class="modal semantic-content" id="libguides" ng-class="{'is-active': modal === 'subjects'}" role="dialog" tabindex="-1">

    	<a href="#" class="modal-close" ng-click="modal=0">Close</a>

    	<div class="modal-inner">
    		<div id="modal-label">
    			<h3>Four ways to search by <b>subject</b>?</h3>
    		</div>
    		<div class="modal-content clearfix">
    			<dl class="epsilon">
    			  <dt>Library of Congress (LC) and LC Childrens Subject Headings</dt>
            <dd>Used by the Law Library, the Alvin Sherman Library, Research & Information Technology Center, the Children's and Young Adult Collections within the Alvin Sherman Library, and the University Schools</dd>

            <dt>Medical Subject Headings (MeSH)</dt>
            <dd>Used by the Health Professions Division Library</dd>

            <dt>Other Subject Terms</dt>
            <dd>Used by the Alvin Sherman Library, Research & Information Technology Center</dd>

            <dt>Genre/Form Headings</dt>
            <dd>May be used by all NSU Libraries to describe what an item is, rather than what it is about. Examples - Horror films; Detective and mystery stories; Electronic books</dd>
          </dl>
    		</div>
    	</div>

    </section>

		<form class="form" action="/search/" method="get">

			<ul class="no-margin">

				<li class="clearfix form__field">
					<div class="col-md--threecol">
						<div class="form__select form__input--full-width">
              <label for="subjectType" class="hide-accessible">Classification system</label>
							<select name="searchtype" id="subjectType">
								<option value="d">Library of Congress</option>
								<option value="j">MeSH</option>
								<option value="q">Genre / Form</option>
								<option value="x">Other</option>
							</select>
						</div>
					</div>
					<div class="col-md--ninecol">
						<label for="subjectArg" class="hide-accessible">Subject search tyerm</label>
						<input type="search" class="form__input form__input--full-width" name="searcharg" value="{{searcharg}}" data-ng-model="searchtext" data-ng-change="searcharg=searchtext" id="subjectArg">
					</div>
				</li>

					<li class="clearfix form__field">
						<div class="col-md--threecol">
							<label class="form__label" for="searchscope">Collection</label>
						</div>
						<div class="col-md--ninecol">

							<div class="form__select form__input--full-width">
								<select id="searchscope" name="searchscope">
									<option value="1"> Alvin Sherman Library</option>
									<option value="2"> &ndash; Children's Collection</option>
									<option value="5"> &ndash; Genealogy Room Collection</option>
                  <option value="8"> &ndash; Holocaust Room Collection</option>
									<option value="3"> HPD Library</option>
									<option value="4"> Law Library</option>
									<option value="12"> NSU Libraries Media</option>
									<option value="11"> NSU Libraries Periodicals</option>
									<option value="6"> Oceanography Library</option>
									<option value="9"> Online Resources</option>
									<option value="7"> University Archives</option>

									<option selected="selected" value="13"> View Entire Collection</option>
								</select>
							</div>

						</div>
					</li><!--/.form__field-->

					<li class="clearfix form__field">

						<div class="col-md--tencol">

							<input type="radio" class="checkbox-toggle" name="sortdropdown" id="sort-by-author" value="a">
							<label class="button button--small button--default small-text" for="sort-by-author">Author</label>

							<input type="radio" class="checkbox-toggle" name="sortdropdown" id="sort-by-cn" value="n">
							<label class="button button--small button--default small-text" for="sort-by-cn">Call Number</label>

							<input type="radio" class="checkbox-toggle" name="sortdropdown" id="sort-by-type" value="m">
							<label class="button button--small button--default small-text" for="sort-by-type">Format</label>


							<input type="radio" class="checkbox-toggle" name="sortdropdown" id="sort-by-ryear" value="r" checked>
							<label class="button button--small button--default small-text" for="sort-by-ryear">Reverse Year</label>

							<input type="radio" class="checkbox-toggle" name="sortdropdown" id="system-sorted" value="">
							<label class="button button--small button--default small-text" for="system-sorted">System Sorted</label>

							<input type="radio" class="checkbox-toggle" name="sortdropdown" id="sort-by-stitle" value="t">
							<label class="button button--small button--default small-text" for="sort-by-stitle">Title</label>

							<input type="radio" class="checkbox-toggle" name="sortdropdown" id="sort-by-year" value="c">
							<label class="button button--small button--default small-text" for="sort-by-year">Year</label>


						</div>

						<div class="col-md--twocol align-right">

							<button class="button button--primary--alt button--small" value="Search" type="submit">Search</button>
						</div>

					</li>

				</ul>

		</form>


	</section>

	<!--Number-->
	<section class="col-sm--tencol col-md--eightcol col--centered" ng-class="{ 'hide-accessible' : searchtype !== 'c' }">

    <p class="align-center">Choose from several number search options</p>

		<form class="form" action="/search/" method="get">

			<ul class="no-margin">

				<li class="clearfix form__field">
					<div class="col-md--threecol">
						<div class="form__select form__input--full-width">
              <label for="numberType" class="hide-accessible">Number system</label>
							<select name="searchtype" id="numberType">
                <option value="c">LC Call Number</option>
								<option value="e">Dewey Call Number</option>
								<option value="g">Government Documents</option>
								<option value="i">ISSN/ISBN</option>
								<option value="f">Local Call Number</option>
								<option value="m">NLM Call Number</option>
								<option value="o">OCLC</option>
								<option value="l">SuDocs Number</option>
							</select>
						</div>
					</div>
					<div class="col-md--ninecol">
						<label for="numberArg" class="hide-accessible">Number to search</label>
						<input type="search" class="form__input form__input--full-width" name="searcharg" id="numberArg" value="{{searcharg}}" data-ng-model="searchtext" data-ng-change="searcharg=searchtext">
					</div>
				</li>

					<li class="clearfix form__field">
						<div class="col-md--threecol">
							<label class="form__label" for="searchscope">Collection</label>
						</div>
						<div class="col-md--ninecol">

							<div class="form__select form__input--full-width">
								<select id="searchscope" name="searchscope">
									<option value="1"> Alvin Sherman Library</option>
									<option value="2"> &ndash; Children's Collection</option>
									<option value="5"> &ndash; Genealogy Room Collection</option>
                  <option value="8"> &ndash; Holocaust Room Collection</option>
									<option value="3"> HPD Library</option>
									<option value="4"> Law Library</option>
									<option value="12"> NSU Libraries Media</option>
									<option value="11"> NSU Libraries Periodicals</option>
									<option value="6"> Oceanography Library</option>
									<option value="9"> Online Resources</option>
									<option value="7"> University Archives</option>

									<option selected="selected" value="13"> View Entire Collection</option>
								</select>
							</div>

						</div>
					</li><!--/.form__field-->

					<li class="clearfix form__field">

						<div class="align-right">

							<button class="button button--primary--alt button--small" value="Search" type="submit">Search</button>
						</div>

					</li>

				</ul>

		</form>


	</section>

  <!--Reserves-->
	<section class="col-sm--tencol col-md--eightcol col--centered" ng-class="{ 'hide-accessible' : searchtype !== 'p' }">

    <p class="align-center">Search print reserves by either instructor or course</p>

		<form class="form" action="/search/" method="get">

			<ul class="no-margin">

				<li class="clearfix form__field">
					<div class="col-md--threecol">
						<div class="form__select form__input--full-width">
              <label for="reserveType" class="hide-accessible">Search print reserves</label>
							<select name="searchtype" id="reserveType">
                <option value="p">Instructor</option>
								<option value="r">Course Name or Number</option>
							</select>
						</div>
					</div>
					<div class="col-md--ninecol">
						<label for="reservesArg" class="hide-accessible">Print reserves to search</label>
						<input type="search" class="form__input form__input--full-width" name="searcharg" id="reservesArg" value="{{searcharg}}" data-ng-model="searchtext" data-ng-change="searcharg=searchtext">
					</div>
				</li>

					<li class="clearfix form__field">
						<div class="col-md--threecol">
							<label class="form__label" for="searchscope">Collection</label>
						</div>
						<div class="col-md--ninecol">

							<div class="form__select form__input--full-width">
								<select id="searchscope" name="searchscope">
									<option value="1"> Alvin Sherman Library</option>
									<option value="2"> &ndash; Children's Collection</option>
									<option value="5"> &ndash; Genealogy Room Collection</option>
                  <option value="8"> &ndash; Holocaust Room Collection</option>
									<option value="3"> HPD Library</option>
									<option value="4"> Law Library</option>
									<option value="12"> NSU Libraries Media</option>
									<option value="11"> NSU Libraries Periodicals</option>
									<option value="6"> Oceanography Library</option>
									<option value="9"> Online Resources</option>
									<option value="7"> University Archives</option>

									<option selected="selected" value="13"> View Entire Collection</option>
								</select>
							</div>

						</div>
					</li><!--/.form__field-->

					<li class="clearfix form__field">

						<div class="align-right">

							<button class="button button--primary--alt button--small" value="Search" type="submit">Search</button>
						</div>

					</li>

				</ul>

		</form>


	</section>

</div><!--/.wrap-->


<!--{logout}-->
<!--{botlogo}-->
