<div class="minHeight">
<div class="fullPage">
<div class="pageContent">
<div class="pageContentInner popupContentInner">
<!--Beginning main page content-->
<h1 class="popupFormHeading">Modify Patron Information</h1>
<div id="accessibleForm" class="form1Part">
<!--{formbegin}-->
<fieldset>
<legend>
<!--{newpinfo}-->
</legend>

<div class="formEntryArea">
<span class="formLabel">
<!--{emailprompt}-->
</span>
<!--{email}-->
</div>


<div class="formButtonArea">
<!--{submit}-->
<!--{cancel}-->
</div>
</fieldset>
<!--{formend}-->
</div><!-- accessibleForm -->
</div><!-- popupContentInner -->
</div><!-- pageContent -->
</div><!-- fullPage -->
</div>
