<!--{toplogo}-->
<script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  function getCookie(name)
  {
    var re = new RegExp(name + "=([^;]+)");
    var value = re.exec(document.cookie);
    return (value != null) ? unescape(value[1]) : null;
  }

var cookie;
cookie = getCookie('pid');
if(cookie ==  null) {
  window.location = 'https://sherman.library.nova.edu/auth/extlogout/novacatout.php';
}

</script>

<div class="clearfix wrap" data-ng-controller="AccountController as my" id="account" style="position: relative; top: -3em;">

	<h1 class="hide-accessible">My Library Account</h1>

  <form action="https://novacat.nova.edu/search/" role="form" name="novacat_search" id="novacat_search" method="get" class="form no-margin" role="form">

  	<div class="clearfix">
  		<div class="col--centered clearfix col-sm--tencol hero">
  			<ul>
  				<li class="clearfix form__field no-margin">

  					<label class="hide-accessible" for="searcharg">Search the Library Catalog</label>

  					<div class="epsilon form__select">

              <label class="hide-accessible" for="searchtype">Search type</label>

  						<select
  							name="searchtype"
                id="searchtype"
  							ng-model="searchtype"
  							ng-init="searchtype = 'X'">

  							<option value="X" selected>Keyword</option>
  							<option value="a">Author</option>
  							<option value="t">Title</option>
  							<option value="d">Subject</option>
  							<option value="c">Number</option>

  						</select>

  					</div>

            <label for="searcharg" class="hide-accessible">Search the library catalog</label>
  					<input class="card form__input form__input--full-width input--large epsilon" id="searcharg" name="searcharg" placeholder="Search the Library Catalog" type="search" required data-ng-model="searcharg" data-ng-change="searchtext=searcharg">

  					<button class="button button--small epsilon form__submit form__submit--inside no-margin button--disabled" data-ng-class="{ 'button--primary--alt' : searcharg, 'button--disabled' : !searcharg}" type="submit" value="Search">

              <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
              </svg>

              <span class="button__text">Search</span>

  					</button>

  				</li>

          <p class="small-text" ng-show="searchtype !== 'X'" style="float: left;"><svg class="svg svg--info"><use xlink:href="#icon-info"></use></svg> You can only choose formats with a <mark>keyword</mark> search.</p>

          <div class="align-right">
            <a class="link link--undecorated small-text" href="https://novacat.nova.edu:444/search/X#refined" class="small-text" ng-show="!searcharg">Advanced Search</a>
          </div>

  			</ul>
  		</div>
  	</div><!--/.wrap-->

  	<input type="hidden" id="sortdropdown" name="sortdropdown" value="r" ng-disabled="searchtype === 'X' || searchtype === 'c'"/>
  </form><!--/#novacat_search-->

	<div class="clearfix">

		<div class="col-md--fourcol">
			<div class="card" style="margin-bottom: 1em;">
				<header class="card__header">
					<h2 class="delta">Personal Information</h2>
				</header>
				<section class="content">

						<span ng-cloak ng-if="ac.info.billname">{{ac.info.billname}} <br></span>
						<span ng-cloak ng-if="!ac.info.billname">{{ac.info.display_name}} <br></span>
						<span ng-cloak ng-if="ac.info.email">{{ac.info.email}} <br></span>
						<span ng-cloak ng-if="ac.info.telephone">{{ac.info.telephone}} <br></span>
						<span ng-cloak ng-if="ac.info.address_line1">{{ac.info.address_line1}} <br></span>
						<span ng-cloak ng-if="ac.info.address_line2">{{ac.info.address_line2}} <br></span>
						<span ng-cloak ng-if="ac.info.city">{{ac.info.city}}<span ng-if="ac.info.state">, {{ac.info.state}} <span ng-if="ac.info.zip">{{ac.info.zip}}<br></span>


					<span ng-if="ac.info.col === 'n'">
						<span ng-bind-html="ac.update_message"></span>
						Update Home Library
						<select ng-model="ac.selectedLibrary" ng-options="library.code as library.label for library in ac.libraries">
						</select>
						<button
							class="button button--small small-text"
							ng-class="ac.selectedLibrary === ac.info.home_lib ? 'button--disabled' : 'button--default'"
							ng-disabled="ac.selectedLibrary === ac.info.home_lib"
							ng-click="ac.updateHomeLibrary()">Update</button>
					</span>


					<span ng-if="ac.info.col === 'p'">
						<span ng-bind-html="ac.update_message"></span>
						Update Email
						<input name="email"
							ng-model="ac.email_update"
							ng-change="ac.update_message = ''" />
						<button
							class="button button--small small-text"
							ng-class="ac.email_update === ac.info.email ? 'button--disabled' : 'button--default'"
							ng-disabled="ac.email_update === ac.info.email"
							ng-click="ac.updateEmail()">Update</button>
					</span>
				</section>
			</div><!--/.card-->

			<div class="card">
				<header class="card__header">
					<h2 class="delta no-margin"><span ng-if="ac.info.col !== 'p'">SharkCard</span> <span ng-if="ac.info.col === 'p'">Alvin Sherman Library Card</span></h2>
					<p class="small-text">Library Card Type</p>
				</header>
				<section class="content media" ng-cloak>
					<img ng-if="ac.info.col !== 'p'" ng-src="//sherman.library.nova.edu/cdn/media/images/nsucard_new.gif" alt="NSU Shark Card" ng-cloak>
		<img ng-if="ac.info.col === 'p' && ac.info.pcode1 !== 'e'" ng-src="//sherman.library.nova.edu/cdn/media/images/library-card.jpg" alt="Alvin Sherman Library Card" ng-cloak>


				</section>
			</div>
		</div>

		<div class="col-md--fourcol">
			<div class="card">
				<header class="card__header">
					<h2 class="delta">Activity</h2>
				</header>

				<ul class="list list--alternate">


					<li ng-cloak><a href="//sherman.library.nova.edu/#/checkouts">Checkouts</a>: {{ac.activity.checkouts}}</li>
					<li ng-cloak ng-if="ac.activity.webs">Electronic documents available: {{ac.activity.webs}}</li>
					<li ng-cloak ng-if="ac.activity.fees"><a target="_self" href="//sherman.library.nova.edu/fees/">Fees:</a> {{ac.activity.fees}} ( {{ac.activity.balance}} )</li>
					<li ng-cloak ng-if="ac.activity.holds"><a ng-href="//sherman.library.nova.edu/#/holds">Holds</a>: {{ac.activity.holds}}</li>
					<li ng-cloak ng-if="ac.activity.rooms"><a target="_self" href="//sherman.library.nova.edu/rooms/">Room reservations</a>: {{ac.activity.rooms}}</li>

				</ul>

				<p class="no-margin" ng-if="!ac.activity">
					It's quiet here. Need <a href="//sherman.library.nova.edu/sites/spotlight/lists/" target="_self">something to read</a>?
				</p>

				</section>
			</div>
		</div>

		<div class="col-md--fourcol">
			<section>
				<section class="accordion__section" id="databases-by-name"
						 data-ng-class="{'accordion__section--open' : my.dbAcc }">

					<a class="link link--undecorated"
						data-ng-click="my.dbAccToggle()">
						<h2 class="accordion__section__title zeta">Databases by Name</h2>
					</a>

					<div class="accordion__section__content">
						<input class="form__input form__input--full-width" placeholder="Start typing a database title" ng-model="filter"/>
						<ul class="list list--alternate">

							<li data-ng-repeat="database in my.databases | filter: filter:my.startsWith | orderBy: 'title'" data-ng-cloak>
								<a href="//sherman.library.nova.edu/auth/index.php?aid={{database.aid}}">{{database.title}}</a>
							</li>

						</ul>
					</div>

				</section>
				<section class="accordion" style="margin-bottom: 1em;">
					<section class="accordion__section" id="databases-by-subject"
							 data-ng-class="{'accordion__section--open' : my.subAcc }">


						<a  class="link link--undecorated"
							data-ng-click="my.subAccToggle()">
							<h2 class="accordion__section__title zeta">Databases by Subject</h2>
						</a>
						<div class="accordion__section__content">
							<input class="form__input form__input--full-width" placeholder="Start typing a subject area" ng-model="query"/>
							<ul class="list list--alternate">

								<li ng-repeat="subject in my.subjects | filter: query | orderBy: 'name'">
									<a href="//sherman.library.nova.edu/e-library/index.php?action=subject&col={{ac.col}}&cat={{subject.subj_id}}">{{subject.name}}</a>
								</li>

							</ul>
						</div>
					</section>
				</section>
			<section class="card">
				<header class="card__header">
					<h2 class="delta">Services</h2>
				</header>
				<ul class="list list--alternate">
					<li><a href="//novacat.nova.edu/">Catalog</a></li>
					<li><a target="_self" href="//sherman.library.nova.edu/linker">Durable Linker</a></li>
					<li><a target="_self" href="//sherman.library.nova.edu/e-library">E-Library</a></li>
					<li><a target="_self" href="//sherman.library.nova.edu/auth/index.php?token">ILLiad</a></li>
					<li><a target="_self" href="//sherman.library.nova.edu/fees/">Library Fees</a></li>
					<li><a target="_self" href="//sherman.library.nova.edu/rooms/">Study Room Reservation</a></li>
				</ul>
			</section>
		</div>
	</div>
</div>
</div>

<!--{botlogo}-->
