<!--{toplogo}-->
<!--{patron}-->
<div class="pageContentInner">
<script type="text/javascript">
 loggedMessage();
</script>

<!--{logout}-->
<!--{msg}-->

<div id="modify">
<!--{ifmodifypatinfo}-->
<!--{modifypatinfobtn}-->
<!--{xif}-->
</div>

<div class="pat">
<div class="patFloat">
<div id="pat_action" class="patActionBar">
<div class="patLogout">
<!--{startover}-->
</div>
<!--{ifmymil}-->
<!--{searchbtn}-->
<!--{xif}-->
 
<!--{ifchkouts}-->
<!--{chkoutsbtn}-->
<!--{xif}-->
 
<!--{ifholds}-->
<!--{holdsbtn}-->
<!--{xif}-->

<!--{iffines}-->
<!--{finesbtn}-->
<!--{xif}-->

<!--{ifpsearh}-->
<!--{psearchbtn}-->
<!--{xif}-->

 <!--{patfeeds}-->

<!--{ifmsgs}-->
<!--{msgsbtn}-->
<!--{xif}-->

<!--{ifcirchist}-->
<!--{circhistbtn}-->
<!--{xif}-->

<!--{ifmylists}-->
<!--{mylists}-->
<!--{xif}-->

	<!--{ifprogreg}-->
	<!--{progregcal}-->
	<!--{xif}-->
<!--patActionsLinks-->
</div>

<div id="patron">
<!--{patroninfo}-->
</div>


<div style="clear:both;"></div>
<span id="patch">
<!--{patfunc}-->
</span>

</div> <!--patFloat-->
</div> <!--pat-->
</div><!--pageContentInner-->
<div class="Clear"></div>
<!--{botlogo}-->
<script type="text/javascript">
		patron      = 	$( "#patron" ),
		modify		= 	$( "#modify" ),
		text 		= 	patron.text(),
		ptype		=	/P TYPE\:Broward.+/gi,
		broward		= 	text.match( ptype );				
		patronid		=	text.match(/\d{7}/);
		//alert( patronid );
		email	    	= 	/[a-zA-Z0-9._-].+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}/gi;
		valid_email		 =	text.match( email );
	  	 if ( valid_email ) {
		//alert(  valid_email );	
		}
		$( "#patron_redo " ).append( email );
		
</script>
<div id="patron_redo" class="patNameAddress">

</div>

</body>
</html>
