<!--{toplogo}-->
<!--{patron}-->

<div id="quad">

Log in to access electronic resources, view your account, place material on hold, 
view your current circulation record, check/update your personal information, renew books, etc.

<form name="patform" method="POST" class="unpadded">
<!--{iferrmsg}-->
<span class="errormessage">
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<!--{else}-->
<div id='errormsg' style='display:none;'>
<!--{errmsg}-->
</div>
<script type="text/javascript">
<!-- Hide
errormsg = document.getElementById("errormsg").innerHTML;
//$('#errormsg').remove();
// End Hiding-->
</script>
<!--{xif}-->
</span><br />
<!--{xif}-->
<!--{ifneedpatronverify}-->
<!--{ifextpat}-->

<div name="noerrmsg" id="noerrmsg">  
</div>

<script type="text/javascript">
<!-- Hide
if(errormsg !="")
{
	//$('#noerrmsg').fadeIn().delay(3000).fadeOut('slow');
	$('#noerrmsg').html("Please enter a valid username and password or number. Please try again or click <a href='javascript:winhelp();'>here</a> for assistance.");
	errormsg = "";
}
// End Hiding-->
</script>

<div id="quadBoxes">

<div class="quadShark">
<img src="/screens/pverifyheader1.jpg" alt="Current NSU Students, Faculty, and Staff" title="Current NSU Students, Faculty, and Staff" /><br /><br />
<input class="authinput" id="novacatid1" name="novacatid1" value=""  maxlength="40" tabindex="1" /> <br />
<span class="quadLabel">@nova.edu</span>

<input class="authinput" id="novacatpw1" name="novacatpw1" type="password" value=""  maxlength="40" tabindex="2"/>  <br />
<span class="quadLabel">SharkLink Password</span>

<div class="authBottomBox">
<div class="authSubmit">
<input id="submit1" name="submit1" type="submit" value="SUBMIT" tabindex="3" onClick="validate_all(patform,this);return false;" onfocus="this.blur();" style="margin-left: 0; float:left;" />
</div>
<div class="authHelpImage">
<a href="/screens/pverify_help1.html" onClick="winhelp1(); return false;">
<img src="/screens/pverify_help.gif" alt="Need help?" title="Need help?" border="0" onmouseover="this.src='/screens/pverify_help_over.gif'"
onmouseout="this.src='/screens/pverify_help.gif'" />
</a>
</div>
</div>
</div>


<div class="quadBroward">
<img src="/screens/pverifyheader4.jpg" alt="Registered Broward County Patrons" title="Registered Broward County Patrons" /><br /><br />
<input class="authinput" id="novacatid4" name="novacatid4" value="" size="16" maxlength="40" tabindex="4"/><br />
<span class="quadLabel">Last Name</span>
<!-- <input  id="novacatpw4" name="novacatpw4" type="password" value="" size="16" maxlength="40" tabindex="5" onKeyPress=" captureEnterKey(this, event)"/><br /> -->
<input class="authinput" id="novacatpw4" name="novacatpw4" type="password" value="" size="16" maxlength="40" tabindex="5"/><br />
<span class="quadLabel">Lib Card#</span>

<div class="authBottomBox">
<div class="authSubmit">
<input id="submit2" name="submit2" type="submit" value="SUBMIT" tabindex="6" onClick="validate_all(patform,this);return false;" style="margin-left: 0; float:left;" />
</div>
<div class="authHelpImage">

<a href="/screens/pverify_help2.html" onClick="winhelp2(); return false;">
<img src="/screens/pverify_help.gif" alt="Need help?" title="Need help?"  border="0" onmouseover="this.src='/screens/pverify_help_over.gif'"
onmouseout="this.src='/screens/pverify_help.gif'" />
</a>
</div>
</div>
</div>

<div class="quadAlumni">
<img src="/screens/pverifyheader3_rev.jpg" alt="Registered Alumni and HPD Faculty and HPD Clinical Affiliates" title="Registered Alumni and HPD Faculty and HPD Clinical Affiliates" /><br /><br />
<input class="authinput" id="novacatid3" name="novacatid3" value="" size="16" maxlength="40" tabindex="7" /><br />
<span class="quadLabel">Last Name</span>
<input class="authinput" id="novacatpw3" name="novacatpw3" type="password" value="" size="16" maxlength="40" tabindex="8" /><br />
<span class="quadLabel">NSU ID/HPD Library ID</span>

<div class="authBottomBox">

<div class="authSubmit">
<input id="submit3" name="submit3" type="submit" value="SUBMIT" tabindex="9" onClick="validate_all(patform,this);return false;" style="margin-left: 0; float:left;" />
</div>
<div class="authHelpImage">
<a href="/screens/pverify_help3.html" onClick="winhelp3(); return false;">
<img src="/screens/pverify_help.gif" alt="Need help?" title="Need help?"  border="0" onmouseover="this.src='/screens/pverify_help_over.gif'"
onmouseout="this.src='/screens/pverify_help.gif'" />
</a>
</div>
</div>
</div>

<div class="quadUSchool">
<img src="/screens/pverifyheader2.jpg" alt="University School Students" title="University School Students" /><br /><br />
<input class="authinput" id="novacatid2" name="novacatid2" value="" size="16" maxlength="40" tabindex="10"/><br />
<span class="quadLabel">U-School Student Login</span>
<input class="authinput" id="novacatpw2" name="novacatpw2" type="password"  value="" size="16" maxlength="40" tabindex="11" /><br />

<span class="quadLabel">Password</span>

<div class="authBottomBox">
<div class="authSubmit">
<input id="submit4" name="submit4" type="submit" value="SUBMIT" tabindex="12" onClick="validate_all(patform,this);return false;" style="margin-left: 0; float:left;" />
</div>
<div class="authHelpImage">
<a href="/screens/pverify_help4.html" onClick="winhelp4(); return false;">
<img src="/screens/pverify_help.gif" alt="Need help?" title="Need help?" border="0" onmouseover="this.src='/screens/pverify_help_over.gif'"
onmouseout="this.src='/screens/pverify_help.gif'" />
</a>
</div>
</div>
</div>

<div class="Clear"></div>
</div>




</form>


<!--
    	<a href="https://www.nova.edu/sbin/nsulookup/ac/sharklook"><strong>Look up your SharkLink ID</strong></a>

    	Not registered? <a href="http://novacat.nova.edu/screens/selfregpick.html"><strong>Here's how.</strong></a>

    	Not registered? <a href="http://novacat.nova.edu/screens/selfregpick.html"><strong>Here's how.</strong></a>

    	* field values are case-sensitive
-->    

<div class="Clear"></div>

<h4 style="font-size: 1.5em;color: #006699;border-bottom: 1px solid #808080;margin-top: 0px;">&nbsp;</h4>
<p>
Access to electronic resources varies depending on whether:
</p>
<ul class="quad">
<li>
You are an active NSU student, faculty, or staff; a registered Broward County patron; registered alumni; a University School patron; an HPD Clinical Faculty member; or a walk-in user.</li><br />

<li>You are in the library, elsewhere on campus, or off campus</li>
</ul>

<p>
Systematic downloading of electronic journal articles, ebooks, or other database content violates library contracts and copyright law. Violators risk having library access suspended and causing access to the product for all NSU users to be blocked. By accessing our electronic resources, you agree to abide by the library's <a href="http://www.nova.edu/library/about/policies/electronicresources.html">Use of Licensed Electronic Resources Policy</a>. </p>

</div><!--quad-->

<script type="text/javascript">
 loggedMessage();
</script>
<!--{logout}-->
<!--{msg}-->

<!--{botlogo}-->



<script>
	function validate_all(form, obj)
{
	var arr_idpw = getInputValues(form);
	var arr_idpwchk = new Array();

	for(i = 0; i < arr_idpw.length; i++)
	{
		if(arr_idpw[i][0] != "")
		{
			arr_idpwchk[arr_idpwchk.length] = i;
		}
		if(arr_idpw[i][1] != "")
		{
			arr_idpwchk[arr_idpwchk.length] = i;
		}
	}


	errchk =  inputCheck(arr_idpwchk, obj);
	
	if(!errchk)
	{
		var params = new Array();
		switch(arr_idpwchk[0])
		{
		case 0:
			params["extpatid"] = arr_idpw[arr_idpwchk[0]][0];
			params["extpatpw"] = arr_idpw[arr_idpwchk[0]][1];
			params["extpatserver"] = "student";
			break;
		case 1:
			params["extpatid"] = arr_idpw[arr_idpwchk[0]][0];
			params["extpatpw"] = arr_idpw[arr_idpwchk[0]][1];
			params["extpatserver"] = "staff";
			break;
		case 2:
			params["name"] = arr_idpw[arr_idpwchk[0]][0];
			params["code"] = arr_idpw[arr_idpwchk[0]][1];
			break;
		case 3:
			params["name"] = arr_idpw[arr_idpwchk[0]][0];
			params["code"] = arr_idpw[arr_idpwchk[0]][1];
			//alert(arr_idpw[arr_idpwchk[0]][0]);
			//alert(arr_idpw[arr_idpwchk[0]][1]);
			break;
			
		}
		post_to_url("", params);
	}
	
}

function clearValues()
{
	
	$('input').each(function() {
		if($(this).val() != "SUBMIT")
		{
			$(this).val("");
		}
	});
}

function getInputValues(form)
{
	document.getElementById("noerrmsg").innerHTML = "";

	var novacatid1 = trim(form.novacatid1.value);
	var novacatpw1 = trim(form.novacatpw1.value);

	var novacatid2 = trim(form.novacatid2.value);
	var novacatpw2 = trim(form.novacatpw2.value);

	var novacatid3 = trim(form.novacatid3.value);
	var novacatpw3 = trim(form.novacatpw3.value);

	var novacatid4 = trim(form.novacatid4.value);
	var novacatpw4 = trim(form.novacatpw4.value);


	var arr_idpw = new Array(4);
	arr_idpw[0] = new Array(2);
	arr_idpw[1] = new Array(2);
	arr_idpw[2] = new Array(2);
	arr_idpw[3] = new Array(2);

	arr_idpw[0][0] = novacatid1;
	arr_idpw[0][1] = novacatpw1;

	arr_idpw[1][0] = novacatid2;
	arr_idpw[1][1] = novacatpw2;

	arr_idpw[2][0] = novacatid3;
	arr_idpw[2][1] = novacatpw3;

	arr_idpw[3][0] = novacatid4;
	arr_idpw[3][1] = novacatpw4;
	
	return arr_idpw;
}

function inputCheck(arr_idpwchk, obj)
{
	errchk = false;

	if(arr_idpwchk.length != 2)
	{
		//$('#noerrmsg').fadeIn().delay(3000).fadeOut('slow');
		errchk = true;
		if(arr_idpwchk.length == 0)
		{
			$('#noerrmsg').html("Please enter a valid username and password or number. Please try again or click <a href='javascript:winhelp();'>here</a> for assistance.");
		}
		else if(arr_idpwchk.length == 1)
		{
			switch(arr_idpwchk[0])
			{
			case 0:
				$('#noerrmsg').html("Unable to identify you with the Shark Link username and password that you entered. Please try again or click <a href='javascript:winhelp1();'>here</a> for assistance.");
			break;
			case 1:
				$('#noerrmsg').html("Unable to identify you with the U-School Student login and password that you entered. Please try again or click <a href='javascript:winhelp4();'>here</a> for assistance.");
			break;
			case 2:
				$('#noerrmsg').html("Unable to identify you with the last name and NSU ID/HPD Library ID number that you entered. Please try again or click <a href='javascript:winhelp3();'>here</a> for assistance.");
			break;
			case 3:
				$('#noerrmsg').html("Unable to identify you with the last name and library card number that you entered. Please try again or click here for assistance. <a href='javascript:winhelp2();'>here</a> for assistance. <br />");
			break;
			}
		}
		else if(arr_idpwchk.length > 2)
		{
			
			$('#noerrmsg').html("Only use one form when attempting to login. Please try again or click <a href='javascript:winhelp();'>here</a> for assistance.");
			//$('#noerrmsg').fadeIn("slow");
			//document.getElementById("noerrmsg").innerHTML = "Only use one form when attempting to login. Please try again or click <a href='javascript:winhelp();'>here</a> for assistance. ";
			$('#novacatid1').focus();
			clearValues();
		}		

	}
	else
	{
		if(arr_idpwchk[0] != arr_idpwchk[1])
		{
			//$('#noerrmsg').fadeIn().delay(3000).fadeOut('slow');
			
			//document.getElementById("noerrmsg").innerHTML = "Only use one form when attempting to login. Please try again or click <a href='javascript:winhelp();'>here</a> for assistance.";
			$('#noerrmsg').html("Only use one form when attempting to login. Please try again or click <a href='javascript:winhelp();'>here</a> for assistance.");
			$('#novacatid1').focus();
			clearValues();
			errchk = true;
		}
		else
		{
			//if clicked wrong submit button
			switch(arr_idpwchk[0])
			{
				case 0:
				if(obj.id != "submit1")
				errchk = true;
				break;
				case 1:
				if(obj.id != "submit4")
				errchk = true;
				break;
				case 2:
				if(obj.id != "submit3")
				errchk = true;
				break;
				case 3:
				if(obj.id != "submit2")
				errchk = true;
				break;
				
			}
			if(errchk)
			{
				$('#noerrmsg').html("Please click on the submit button below where you entered your information.");
			}
			else
			{
				$('#noerrmsg').html("");
			}
		}
	}

	return errchk;
}

function post_to_url(path, params, method) 
{ 
    method = method || "post"; // Set method to post by default, if not specified. 
 
    // The rest of this code assumes you are not using a library. 
    // It can be made less wordy if you use one. 
    var form = document.createElement("form"); 
    form.setAttribute("method", method); 
    form.setAttribute("action", path); 
 
    for(var key in params) 
   { 
        var hiddenField = document.createElement("input"); 
        hiddenField.setAttribute("type", "hidden"); 
        hiddenField.setAttribute("name", key); 
        hiddenField.setAttribute("value", params[key]); 

        form.appendChild(hiddenField); 
    } 
 
    document.body.appendChild(form);    // Not entirely sure if this is necessary 
    form.submit(); 
}

function LTrim( value ) {
	
	var re = /\s*((\S+\s*)*)/;
	return value.replace(re, "$1");
}

// Removes ending whitespaces -- local FN
function RTrim( value ) {
	
	var re = /((\s*\S+)*)\s*/;
	return value.replace(re, "$1");
}

// Removes leading and ending whitespaces -- local FN
function trim( value ) {
	
	return LTrim(RTrim(value));
}

function setOnfocus(obj){
	switch(obj.id)
	{
		case "novacatpw1":
		$("#submit1").focus();
		break;
		case "novacatpw2":
		$("#submit4").focus();
		break;
		case "novacatpw3":
		$("#submit3").focus();
		break;
		case "novacatpw4":
		$("#submit2").focus();
		break;
	}
}

function captureEnterKey(obj, e){
	var key;
	if(window.event)
	{
		key = window.event.keyCode;
	}
	else
	{
		key = e.which;
	}
	if (key == 13)
	{
		switch(obj.id)
		{
			case "novacatpw1":
				document.forms[0].submit1.focus();
				document.forms[0].submit1.click();
				//$('#submit1').focus();
				//$('#submit1').click();
				break;
			case "novacatpw2":
				document.forms[0].submit4.focus();
				document.forms[0].submit4.click();
				//$('#submit4').focus();
				//$('#submit4').click();
				break;
			case "novacatpw3":
				document.forms[0].submit3.focus();
				document.forms[0].submit3.click();
				//$('#submit3').focus();
				//$('#submit3').click();
				break;
			case "novacatpw4":
				$('#submit1').blur();
				document.forms[0].submit2.focus();
				document.forms[0].submit2.click();
				//$('#submit2').focus();
				//$('#submit2').click();
				break;
		}
	}
}

function winhelp() {
	window.open('/screens/pverify_help.html','winhelp','width=400,height=460,scrollbars=yes')
}
	
function winhelp1() {
	window.open('/screens/pverify_help1.html','winhelp1','width=400,height=460,scrollbars=yes')
}
	
function winhelp2() {
	window.open('/screens/pverify_help2.html','winhelp2','width=400,height=460,scrollbars=yes')
}
	
function winhelp3() {
	window.open('/screens/pverify_help3.html','winhelp3','width=400,height=460,scrollbars=yes')
}
	
function winhelp4() {
	window.open('/screens/pverify_help4.html','winhelp4','width=400,height=460,scrollbars=yes')
}
	

</script>