<!--{toplogo}-->
<!--{patron}-->
<div class="pageContentInner">
<script type="text/javascript">
 loggedMessage();
</script>
<!--{logout}-->
<!--{msg}-->
<div id="nsu_search">
<span class="breadcrumbs"><a href="/screens/mainmenu.html">Home</a> &gt;&gt;
<script>
document.write(document.title);
</script>
</span>
<ul id="toc">
			<li><a href="/search/"><span>Keyword</span></a></li>
			<li><a href="/search/X"><span>Advanced</span></a></li>
			<li><a href="/search/a"><span>Author</span></a></li>
			<li><a href="/search/t"><span>Title</span></a></li>
			<li><a href="/screens/subject.html"><span>Subject</span></a></li>
			<li><a href="/screens/numbers.html"><span>Numbers</span></a></li>
			<li class="current"><a href="/screens/reserves.html"><span>Reserves</span></a></li>
</ul>
<div id="accessibleForm" class="form2Part">
<div class="formWide"style="padding:10px 10px 10px;">
<fieldset>
<legend>Course Reserves</legend>
<div class="formEntryArea">
<p class="headerTips">There are three ways to search our course reserves; please select one:</p>
<div style="clear:both">&nbsp;</div>
<ul class="topicLinks">
<li><a class="briefcitTitle" href="/search~/p">Name of Instructor</a><span class="mediumtext"> (searches print reserves)</span></li><br /> 
<li><a class="briefcitTitle" href="/search~/r">Course Name/Number</a><span class="mediumtext"> (searches print reserves)</span></li><br /> 
<li><a class="briefcitTitle" href="http://www.nova.edu/library/ecr">ECR</a><span class="mediumtext"> (searches Electronic Course Reserves)
<em>This is a password-protected area maintained on the Alvin Sherman Library web site.</span></em></li><br /> 
</ul>
</div>
</fieldset>
<div class="clear"></div>
</div> <!-- formWide -->
</div> <!-- form2Part -->
</div><!--nsu_search-->
</div><!--pageContentInner-->
<div class="Clear"></div>
<!--{botlogo}-->