<!--{toplogo}-->

<!--{patron}-->
<!--{logout}-->
<!--{msg}-->

<div class="browseSearchtool">
<!--{searchtool}-->
</div><!--/.browseSearchTool-->

<article class="col-lg--eightcol col--centered clearfix hero record record--resource wrap">

	<h1 class="record__title">
<!--{recordinfo:t}-->
	</h1>

	<div class="record__byline zeta">
<!--{recordinfo:e}-->
	</div>

	<nav class="clearfix record__actions">
<!--{resourcelink}-->
<!--{navrow}-->
	<div class="record__access-icons">
<!--{recordinfo:f}-->
	</div>
	</nav>



	<div class="hero--small">
		<h3 class="no-margin">Subjects</h3>
		<div class="record__subjects">
<!--{recordinfo:d}-->
		</div>

	</div>

	<div class="hero--small">
		<h3 class="no-margin">License</h3>
		<div class="record__license">
<!--{license}-->
		</div>
	</div>

<!--{recordlink}-->


 <!--{bib}-->

<!--{media}-->
</article>

<!--{pager}-->
<!--{botlogo}-->

<script>
var accessLink = document.querySelector( '.record__actions a[href*="auth"]' );
if ( accessLink ) {
	accessLink.className = "button button--primary button--flat small-text";
}

var actionsList = document.querySelector( '.record__actions a[href*=save]' );
if ( actionsList ) {
	actionsList.className = "button button--default button--flat small-text";
	actionsList.textContent = 'Add to My List';
}

var actionsReturn = document.querySelector( '.record__actions a[href*=browse\\#anchor]' );
if ( actionsReturn ) {
  actionsReturn.parentNode.removeChild( actionsReturn );
}

</script>
