<form action="http://consort.library.denison.edu/search~/a?a
<http://consort.library.denison.edu/search%7E/a?a>" method="POST">




<select name="searchtype">
<option value="X" selected="selected">Keyword </option>


<option value="a">Author </option>

<option value="d">Subject </option>


<option value="t">Title </option>



<option value="s">Journal Title</option>




</select>
<input type="text" size="40" maxlength="75" value="" name="searcharg" />


<input type="hidden" name="searchscope" value="4" />


<input type="hidden" name="v" value="v*" />

<input type="hidden" name="SORT" value="D" />



<input type="submit" value="Search" />



</form>
