<!--{toplogo}-->
<!--{patron}-->
<div class="pageContentInner">
<h1 class="pageHeader">Advanced Keyword Search</h1>
<ul id="toc">
			<li class="first"><a href="/search/"><span>Keyword</span></a></li>
			<li class="current"><a href="/search/X"><span>Advanced</span></a></li>
			<li><a href="/search/a"><span>Author</span></a></li>
			<li><a href="/search/t"><span>Title</span></a></li>
			<li><a href="/screens/subject.html"><span>Subject</span></a></li>
			<li><a href="/screens/numbers.html"><span>Number</span></a></li>
			<li><a href="/screens/reserves.html"><span>Reserves</span></a></li>
</ul>

<!--{msg}-->
<!--{spellcheck}-->

<div class="form3Part" id="accessibleForm">

<!--{advancedsearchformbegin}-->
<div class="form3PartAbove">
<fieldset>
<legend>Enter Search Terms</legend>
<div class="formEntryArea">
<!--{advancedsearch}-->
</div>
<input type="hidden" name="startLimit" >
<div class="formEntryArea">
<!--{availlim}-->
</div>
<div class="formButtonArea">
<span>
<!--{advancedsubmit}-->
</span>
<span>
<!--{clearform}-->
</span>
</div>
</fieldset>
</div> <!-- form3PartAbove -->

<div class="form3PartBelow">

<div class="formLeft advancedSearch">
<fieldset>
<legend>Add Limits (Optional)</legend>

<!-- Optional Scopes section
<div class="formEntryArea">
<table><tr>
<td><label for="searchscope">Location:</label></td>
<td> -->
 <!--{scope}-->
<!--</td></tr></table>
</div> -->

<div class="formEntryArea">
<!--{branch}-->
</div>
<div class="formEntryArea">
<!--{mattype}-->
</div>
<div class="formEntryArea">
<!--{lang}-->
</div>
<div class="formEntryArea">
<!--{DOCDATE}-->
</div>
<div class="formEntryArea">
<!--{publish}-->
</div>
<div class="formEntryArea" id="form3PartAdvLimitSort">
<!--{sort}-->
</div>
</fieldset>
<input type="hidden" name="endLimit" >
</div> <!-- formLeft -->

<div class="formRight">
<table class="tipsTable">
<caption>Search Tips</caption>
<!-- <tr valign="top"><th align="left">Adjacency</th>
<td>Multiple words are searched together as one phrase.<br>
<span style="text-decoration:underline">Example</span> : world health organization</td>
</tr> -->
<tr><th>Wildcards</th>
<td>
Words may be right-hand truncated using an asterisk ('*') in place of other characters. <!-- Use '**' for open-ended truncation of over five characters.--> The '*' wildcard may also be embedded in a search string. You may use '?' to replace a single character anywhere within a word.<br>
<span style="text-decoration:underline">Examples</span> : environment* polic*, wom?n</td>
</tr>
<tr><th>Boolean Operators</th>
<td>
Use "and" or "or" to specify multiple words in any field, any order. Use "and not" to exclude words.<br>
<span style="text-decoration:underline">Example</span> : stocks and bonds<br>
<span style="text-decoration:underline">Example</span> : (alaska or canada) and (adventure and not vacation)</td>
</tr>
<tr><th>Field limits</th>
<td>
A field limit causes the system to search only the specified field for the specified word(s).</td>
</tr>
<tr>
<th>Grouping</th>
<td>
Keyword search results are usually grouped by relevance to bring the most likely titles to the top of the list. Each group represents a similar level of relevance and results are sorted within the group by date or title. To get an ungrouped result set, use boolean operators to form a complex query.
</td>
</tr>
<!-- <tr valign="top"><th align="left">Proximity Operators</th>
<td>
Use "near" to specify words close to each other, in any order.<br>
<span style="text-decoration:underline">Example</span> : california near university</td>
</tr> -->
</table>
</div> <!-- formRight -->
<div class="clear"></div>
</div> <!-- form3PartBelow -->

<!--{advancedsearchformend}-->
</div> <!-- form3Part -->

</div><!-- pageContentInner -->
<!--{botlogo}-->