<!--{toplogo}-->
<!--{patron}-->

<style type="text/css">
	.js-adv-search__more-field::last-child {
		display: none;
	}
</style>

<form action="http://novacat.nova.edu:2082/search/X/" role="form" name="novacat_search" id="novacat_search" method="get" class="background-base has-background form no-margin" role="form">
	<div class="col--centered clearfix col-md--eightcol" style="padding: 2em 0 1em;">
		<ul>
			<li class="form__field no-margin">					

				<input class="form__input form__input--transparent form__input--full-width input--large search__search-field--transparent epsilon no-margin" id="SEARCH" name="SEARCH" placeholder="Search the Library Catalog" type="search" required style="border-bottom: 1px solid white;">
				<input class="button button--small button--transparent form__submit--inside small-text" type="submit" value="Submit"/>							
			    <label class="align-right form__label clearfix zeta" for="SEARCH"><span class="hide-accessible">Search the Library Catalog</span> <span class="small-text">( <a href="#what-am-i-searching">What am I searching?</a> )</span></label>
			    

			</li>
		</ul>
	</div>

</form>	


<div class="clearfix hero wrap">

	<div class="col-md--twelvecol col-lg--eightcol">
		
		<div class="clearfix js-overlay js-overlay--on-focus tabs">
		  
			<ul class="align-right clearfix menu tab-nav">					      					
		      
				<li class="active menu--actions--public__menu-item no-margin">
					<a href="/search/X/">Advanced</a>
				</li><!--

				--><li class="menu--actions--public__menu-item no-margin">
					<a href="/search/a/">Author</a>
				</li><!--

				--><li class="menu--actions--public__menu-item no-margin">
					<a href="/search/t/">Title</a>
				</li><!--

				--><li class="menu--actions--public__menu-item no-margin">
					<a href="/screens/subject.html">Subject</a>
				</li><!--

				--><li class="menu--actions--public__menu-item no-margin">
					<a href="/screens/numbers.html">Number</a>
				</li>

			</ul><!--/.tab-nav-->
		  	
		  	<!--Advanced Search-->
		  	<section class="card tab-content active">
		  
				<header>              
					<h2 class="delta">Advanced Keyword Search</h2>    				
				</header>

			  	<form class="form js-adv-search" action="/search/X" method="get" id="advanced-search" name="search">
				
					<ul class="no-margin">

						<li class="clearfix form__field js-adv-search__keyword">

							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
									<select name="fieldLimit">
										<option value="" selected="">Keyword</option>
										<option value="a:">Author</option>
										<option value="t:">Title</option>
										<option value="d:">Subject</option>
									</select>
								</div>
							</div>

							<div class="col-md--ninecol">
								<label class="hide-accessible">Search the Catalog</label>
								<input class="form__input form__input--full-width" name="searchText" placeholder="Search the catalog using specific keywords" type="search" required>
							</div>

						</li>

						<li class="clearfix form__field js-adv-search__keyword js-adv-search__more-field">

							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
									<select name="boolean" class="boolean">
										<option value="%20and%20" selected="">And</option>
										<option value="%20and%20not%20">And not</option>
										<option value="%20or%20">Or</option>
										<option value="%20near%20">Near</option>
										<option value="%20before%20">Before</option>
										<option value="%20after%20">After</option>
									</select>
								</div>
							</div>
							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
									<select name="fieldLimit">
										<option value="" selected="">Keyword</option>
										<option value="a:">Author</option>
										<option value="t:">Title</option>
										<option value="d:">Subject</option>
									</select>
								</div>
							</div>

							<div class="col-md--sixcol">
								<label class="hide-accessible">Search the Catalog</label>
								<input class="form__input form__input--full-width" name="searchText" placeholder="Search the catalog using specific keywords" type="search">
							</div>
							
						</li>

						<li style="display: none;" class="clearfix form__field js-adv-search__keyword js-adv-search__more-field">

							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
									<select name="boolean" class="boolean">
										<option value="%20and%20" selected="">And</option>
										<option value="%20and%20not%20">And not</option>
										<option value="%20or%20">Or</option>
										<option value="%20near%20">Near</option>
										<option value="%20before%20">Before</option>
										<option value="%20after%20">After</option>
									</select>
								</div>
							</div>
							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
									<select name="fieldLimit">
										<option value="" selected="">Keyword</option>
										<option value="a:">Author</option>
										<option value="t:">Title</option>
										<option value="d:">Subject</option>
									</select>
								</div>
							</div>

							<div class="col-md--sixcol">
								<label class="hide-accessible">Search the Catalog</label>
								<input class="form__input form__input--full-width" name="searchText" placeholder="Search the catalog using specific keywords" type="search">
							</div>
							
						</li>

						<li style="display: none;" class="clearfix form__field js-adv-search__keyword js-adv-search__more-field">

							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
									<select name="boolean" class="boolean">
										<option value="%20and%20" selected="">And</option>
										<option value="%20and%20not%20">And not</option>
										<option value="%20or%20">Or</option>
										<option value="%20near%20">Near</option>
										<option value="%20before%20">Before</option>
										<option value="%20after%20">After</option>
									</select>
								</div>
							</div>
							<div class="col-md--threecol">
								<div class="form__select form__input--full-width">
									<select name="fieldLimit">
										<option value="" selected="">Keyword</option>
										<option value="a:">Author</option>
										<option value="t:">Title</option>
										<option value="d:">Subject</option>
									</select>
								</div>
							</div>

							<div class="col-md--sixcol">
								<label class="hide-accessible">Search the Catalog</label>
								<input class="form__input form__input--full-width" name="searchText" placeholder="Search the catalog using specific keywords" type="search">
							</div>
							
						</li>

						<li class="clearfix form__field">

							<div class="col-md--eightcol">

								<input type="radio" class="checkbox-toggle" name="SORT" id="sort-by-date" value="DX">
								<label class="button button--small button--default small-text" for="sort-by-date">Sort by Date</label>

								<input type="radio" class="checkbox-toggle" name="SORT" id="sort-by-relevance" value="D" checked>
								<label class="button button--small button--default small-text" for="sort-by-relevance">Sort by Relevance</label>
								
								<input type="radio" class="checkbox-toggle" name="SORT" id="sort-by-title" value="AX">
								<label class="button button--small button--default small-text" for="sort-by-title">Sort by Title</label>

							</div>

							<div class="col-md--fourcol align-right">

								<button class="button button--primary button--small small-text" value="Search" type="submit">Search</button>								
							</div>

						</li>	
			
					</ul>
					
					<div class="fold">
				       <input class="checkbox-toggle" type="checkbox"  id="will-fold" aria-hidden="true" />
						<section class="has-cards hero--small fold__content">
				
							<div class="clearfix wrap">

								<ul>
									<li class="clearfix form__field no-margin">
										<div class="col-md--twocol">
											<label class="form__label" for="searchscope">Collection</label>
										</div>
										<div class="col-md--tencol">
											
											<div class="form__select form__input--full-width">
												<select id="searchscope" name="searchscope">
													<option value="1"> Alvin Sherman Library</option>
													<option value="2"> -- Children's Collection</option>
													<option value="5"> -- Genealogy Collection</option>
													<option value="3"> HPD Library</option>
													<option value="4"> Law Library</option>
													<option value="12"> NSU Libraries Media</option>
													<option value="11"> NSU Libraries Periodicals</option>
													<option value="6"> Oceanography Library</option>
													<option value="9"> Online Resources</option>
													<option value="7"> University Archives</option>
													<option value="10"> University Schools</option>
													<option selected="selected" value="13"> View Entire Collection</option>
												</select>
											</div>

										</div>							
									</li><!--/.form__field-->

									<li class="clearfix form__field no-margin">
										<div class="col-md--twocol">
											<label class="form__label">Location</label>
										</div>
										<div class="col-md--tencol">
											<div class="form__select form__input--full-width">
												<select id="b" name="b">			

													<option value="">ANY</option>

													<option value="main ">Sherman Library</option>
													<option value="marc ">   &gt; University Archives</option>
													<option value="ocl  ">   &gt; Oceanography Library</option>
													<option value="usl  ">   &gt; Lower School Media Center</option>
													<option value="hsl  ">   &gt; Upper School Media Center</option>
													<option value="mebk ">   &gt; Sherman Library E-Books</option>

													<option value="lgc  ">   &gt; Leo Goodwin Library</option>
													<option value="hp   ">   &gt; HPD Library</option>
													<option value="hpres">   &gt; HPD Library Reserve</option>
													<option value="lstax">   &gt; Law General Collection</option>
													<option value="lres ">   &gt; Law Reserve</option>
													<option value="lref ">   &gt; Law Reference</option>

													<option value="ltax ">   &gt; Law Tax</option>
													<option value="lper ">   &gt; Law Periodicals</option>
													<option value="lfla ">   &gt; Law Florida</option>
													<option value="lgdoc">   &gt; Law Government Documents</option>
													<option value="lun  ">   &gt; Law UN Documents</option>
													<option value="ladec">   &gt; Law Gov Admin Dec</option>

													<option value="lcle ">   &gt; Law CLE</option>
													<option value="lmed ">   &gt; Law Media 2nd Fl</option>
													<option value="lpc  ">   &gt; Law Pop Culture</option>
													<option value="lfed ">   &gt; Law Federal</option>
													<option value="lstat">   &gt; Law State</option>
													<option value="lmf  ">   &gt; Law Microforms</option>

													<option value="lintl">   &gt; Law Foreign/Int'l</option>
													<option value="ladml">   &gt; Law Admiralty</option>
													<option value="lstaf">   &gt; Law Staff</option>
													<option value="lcars">   &gt; Law Career Development</option>
													<option value="larc3">   &gt; Law Archival Tax</option>
													<option value="lcaro">   &gt; Law Career Serv Office</option>

													<option value="lclin">   &gt; Law Clinic</option>
													<option value="lconf">   &gt; Law Conf Room</option>
													<option value="lfac ">   &gt; Law Faculty</option>
													<option value="lfacs">   &gt; Law Faculty Study</option>
													<option value="lfed3">   &gt; Law Federal 3rd Fl</option>
													<option value="lfla3">   &gt; Law Florida 3rd Fl</option>

													<option value="lgdo ">   &gt; LAW LIBRARY Gov. Docs Office 1st Floor</option>
													<option value="lind1">   &gt; Law Indexes 1st Fl</option>
													<option value="lind3">   &gt; Law Indexes 3rd Fl</option>
													<option value="law  ">   &gt; Law On Order</option>
													<option value="lnews">   &gt; Law Newspapers</option>
													<option value="lreg ">   &gt; Law Regional Reps</option>

													<option value="ltech">   &gt; Law Tech Services</option>
													<option value="lweb ">   &gt; LAW Internet site</option>
													<option value="ladmp">   &gt; LAW Admiralty Per 3rd Fl</option>
													<option value="lstap">   &gt; LAW LIBRARY Staff Periodicals 1st Floor</option>
													<option value="lunp ">   &gt; LAW UN Periodicals 1st Fl</option>
													<option value="lcsp ">   &gt; LAW LIBRARY Study Guide Materials 2d Floor</option>

													<option value="lcspd">   &gt; LAW LIBRARY Critical Skills Dept.</option>
													<option value="lfpub">   &gt; LAW LIBRARY Faculty Publications Case 2d Floor</option>
													<option value="lwsb ">   &gt; LAW LIBRARY BNA Online</option>
													<option value="lwsc ">   &gt; LAW LIBRARY CALI Lessons</option>
													<option value="lwsh ">   &gt; LAW LIBRARY HeinOnline</option>
													<option value="lwsl ">   &gt; LAW LIBRARY Lexis for Law Schools</option>

													<option value="lwsm ">   &gt; LAW LIBRARY Making of Modern Law</option>
													<option value="lwswm">   &gt; LAW LIBRARY Westlaw Treatises</option>
													<option value="lwsws">   &gt; LAW LIBRARY Westlaw Journals</option>
													<option value=""></option>
												</select>
											</div>
										</div>
									</li>

									<li class="clearfix form__field no-margin">
										<div class="col-md--twocol">
											<label class="form__label">Language</label>
										</div>
										<div class="col-md--tencol">
											<div class="form__select form__input--full-width">
												<select class="select" id="l" name="l">
													<option value="">ANY</option>
													<option value="eng">English</option>
													<option value="ara">Arabic</option>
													<option value="chi">Chinese</option>
													<option value="fre">French</option>
													<option value="ger">German</option>

													<option value="hat">Haitian Creole</option>
													<option value="heb">Hebrew</option>
													<option value="hin">Hindi</option>
													<option value="ita">Italian</option>
													<option value="jpn">Japanese</option>
													<option value="lat">Latin</option>
													<option value="pol">Polish</option>
													<option value="por">Portuguese</option>
													<option value="rus">Russian</option>

													<option value="spa">Spanish</option>
													<option value="swe">Swedish</option>
												</select>
											</div>
										</div>
									</li>

									<li class="clearfix form__field no-margin">
										<div class="col-md--twocol">
											<label class="form__label" for="p">Publisher</label>
										</div>
										<div class="col-md--tencol">
											<input class="form__input form__input--full-width" id="publisher" name="p">
										</div>
									</li>

									<li class="clearfix form__field no-margin">
										<div class="col-md--twocol">
											<label class="form__label">Year</label>
										</div>
										<div class="col-sm--fivecol">
											<input class="form__input form__input--full-width" name="Db" id="Db" placeholder="before">
										</div>
										<div class="col-sm--fivecol">
											<input class="form__input form__input--full-width" name="Da" id="Da" placeholder="after">
										</div>
									</li>

								</ul>

							</div><!--/.wrap-->
						</section>
				         <label class="fold__label" for="will-fold" data-more="more options">
            				<span class="hide-accessible">More</span>
          				</label>
					</div><!--/.fold-->
					
				</form>

			</section><!--/.tab-content-->
				
			<!--Author-->
			<section class="card tab-content">

				<form class="form" action="/search/a" method="get">

					<header>              
						<h2 class="delta">Author Search</h2>    				
					</header>

					<ul class="no-margin">

						<li class="clearfix form__field">
							<label class="hide-accessible">Search the Catalog for Author</label>

							<input class="form__input form__input--full-width" name="search" placeholder="Shakespeare, William" type="search">
						</li>

					</ul>

					<section class="has-cards hero--small">
					
						<div class="clearfix wrap">

							<ul>
								<li class="clearfix form__field no-margin">
									<div class="col-md--twocol">
										<label class="form__label" for="searchscope">Collection</label>
									</div>
									<div class="col-md--tencol">
										
										<div class="form__select form__input--full-width">
											<select id="searchscope" name="searchscope">
												<option value="1"> Alvin Sherman Library</option>
												<option value="2"> -- Children's Collection</option>
												<option value="5"> -- Genealogy Collection</option>
												<option value="3"> HPD Library</option>
												<option value="4"> Law Library</option>
												<option value="12"> NSU Libraries Media</option>
												<option value="11"> NSU Libraries Periodicals</option>
												<option value="6"> Oceanography Library</option>
												<option value="9"> Online Resources</option>
												<option value="7"> University Archives</option>
												<option value="10"> University Schools</option>
												<option selected="selected" value="13"> View Entire Collection</option>
											</select>
										</div>

									</div>							
								</li><!--/.form__field-->

							</ul>

						</div><!--/.wrap-->
					</section>
					
					<div class="align-right">
						<button class="button button--primary button--small small-text" value="Search" type="submit">Search</button>
					</div>		
				</form>

				
			</section><!--/.tab-content-->

			<!--Title-->
			<section class="card tab-content">

				<form class="form" action="/search/t" method="get">

					<header>              
						<h2 class="delta">Title Search</h2>    				
					</header>

					<ul class="no-margin">

						<li class="clearfix form__field">
							<label class="hide-accessible">Search the Catalog for Author</label>

							<input class="form__input form__input--full-width" name="search" placeholder="Merchant of Venice" type="search">
						</li>

					</ul>

					<section class="has-cards hero--small">
					
						<div class="clearfix wrap">

							<ul>
								<li class="clearfix form__field no-margin">
									<div class="col-md--twocol">
										<label class="form__label" for="searchscope">Collection</label>
									</div>
									<div class="col-md--tencol">
										
										<div class="form__select form__input--full-width">
											<select id="searchscope" name="searchscope">
												<option value="1"> Alvin Sherman Library</option>
												<option value="2"> -- Children's Collection</option>
												<option value="5"> -- Genealogy Collection</option>
												<option value="3"> HPD Library</option>
												<option value="4"> Law Library</option>
												<option value="12"> NSU Libraries Media</option>
												<option value="11"> NSU Libraries Periodicals</option>
												<option value="6"> Oceanography Library</option>
												<option value="9"> Online Resources</option>
												<option value="7"> University Archives</option>
												<option value="10"> University Schools</option>
												<option selected="selected" value="13"> View Entire Collection</option>
											</select>
										</div>

									</div>							
								</li><!--/.form__field-->

							</ul>

						</div><!--/.wrap-->
					</section>
					
					<div class="align-right">
						<button class="button button--primary button--small small-text" value="Search" type="submit">Search</button>
					</div>		
				</form>

				
			</section><!--/.tab-content-->			


		</div><!--/.tabs-->		

	</div><!--/.eightcol-->

	<div class="col-md--fourcol col--last">


		<section class="accordion">

			<section class="accordion__section" id="databases-by-name">
			<a class="link link--undecorated" href="#databases-by-name">
				<h2 class="accordion__section__title">Databases by Name</h2>
			</a>

			<div class="accordion__section__content">
				<input class="awesomplete form__input form__input--full-width" placeholder="Subject Guides"/>	   
				<ul class="list list--alternate"></ul>
			</div>

			</section>

			<section class="accordion__section" id="databases-by-subject">
				<a class="link link--undecorated" href="#databases-by-subject">
					<h2 class="accordion__section__title">Databases by Subject</h2>
				</a>
				
				<div class="accordion__section__content">
					<input class="awesomplete form__input form__input--full-width" placeholder="Subject Guides"/>	   
					<ul class="list list--alternate"></ul>
				</div>

			</section>

		</section> <br>

	    <h3 class="delta" style="margin-bottom: .5em;">Library Guides <a class="small-text" href="#">(What's this?)</a></h3>
	    
	    <input id="guide-search" class="awesomplete form__input form__input--full-width" placeholder="Subject Guides"/>	    
	    <ul class="list list--alternate list--datalist" id="mylist"></ul>

	</div>

</div><!--/.wrap-->

	<section class="modal semantic-content" id="what-am-i-searching" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="false">

	    <div class="modal-inner">

	        <header id="modal-label">
	            <h3>What am I searching?</h3>
	        </header>

	        <div class="modal-content epsilon clearfix">
	        	<p class="no-margin">
	        		NovaCat &mdash; NSU Libraries' catalog &mdash; includes such-and-such, but not
	        		this-and-that.
	        	</p>
	        </div>
	    </div>

	    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>

	</section>

<script type="text/javascript">
 loggedMessage();
</script>
<!--{logout}-->
<!--{msg}-->

<!--{botlogo}-->

<script type="text/javascript">

	var adv_search = $( '.js-adv-search' );

	$( '.js-adv-search__more-field' )
		.not( '.js-adv-search__more-field:first' )
		.hide();

	$( '.js-adv-search__more-field input[type="search"]' ).on( 'keyup', function() {
		
		var $this = $(this);

		if ( $this.val() != '' ) {
			$this
				.parents( '.form__field' )
				.next( '.js-adv-search__more-field' )
				.slideDown();
		}

	});


	/**
	 * Subject Guide Filter
	 */
	var subjectGuides 		  = [],
		subjectGuidesDatalist = document.querySelector( '#mylist' ),
		subjectGuidesSearch   = document.querySelector( '#guide-search');

	var request = new XMLHttpRequest();
	request.open( 'GET', '//lgapi.libapps.com/1.1/subjects?site_id=142&key=ea1d92be94311f8f083ebed28a0b5f10&guide_published=2', true);
	request.onload = function() {

		if ( request.status >= 200 && request.status < 400 ) {

			var data = JSON.parse( request.responseText );

			$.each( data, function( key, value ) {
				subjectGuides.push( '<li><a href="//nova.campusguides.com/sb.php?subject_id=' + value.id + '">' + value.name + '</a></li>');
			});
			subjectGuidesDatalist.innerHTML = subjectGuides.join("");
		}

	}
	request.send();

	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
	    return function( elem ) {
	        return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
	    };
	});

	$( subjectGuidesSearch ).on('keyup', function() {
		var value = $(this).val();

		$('#mylist > li:not(:contains(' + value + '))').hide();
		$('#mylist > li:contains(' + value + ')').show();
	});

</script>
<script>

var script 		= document.createElement( 'script' );
	script.src 	= '//sherman.library.nova.edu/libapi/api/endpoint.php?job=getMenus&col=p&location=r&callback=fetch_resource_lists';


function fetch_resource_lists( resources ){

	var databases 				= resources.databases,
		subjects 				= resources.subjects,
		databasesByName 		= document.querySelector( '#databases-by-name > .accordion__section__content > .list' ),
		databasesBySubject 		= document.querySelector( '#databases-by-subject > .accordion__section__content > .list' ),
		databasesListItems 		= '',
		subjectsListItems 		= '';


  	if ( databases !== undefined ) {

		for ( var i = 0, len = databases.length; i < len; i++ ) {

			var database = databases[i];

			databasesListItems += '<li><a href="//sherman.library.nova.edu/auth/index.php?aid=' + database.db_id + '">' + database.title + '</a></li>';

		}

		databasesByName.innerHTML = databasesListItems;

	} else { 

		databasesByName.innerHTML = '<p class="alert alert--warning no-margin">Oops. We had a problem fetching the list. <a href="http://sherman.library.nova.edu/e-library/">You can still find all of our databases in our E-Library</a>. Sorry for making you click. </p>';

	}

	if ( subjects !== undefined ) {

		for ( var i = 0, len = subjects.length; i < len; i++ ) {

			var subject = subjects[i];

			subjectsListItems += '<li><a href="//sherman.library.nova.edu/e-library/index.php?action=subject&cat=' + subject.subj_id + '">' + subject.name + '</a></li>';

		}

		databasesBySubject.innerHTML = subjectsListItems;

	} else {

		databasesBySubject.innerHTML = '<p class="alert alert--warning no-margin">Oops. We had a problem fetching the list. <a href="http://sherman.library.nova.edu/e-library/">You can still find all of our databases in our E-Library</a>. Sorry for making you click. </p>';

	}

      
};	

document.body.appendChild( script );

</script>
