/*<!-- Rel 2009B Example Set -->*/
/*<!-- This File Last Changed: April 29 2010-->*/
/* *******************************************************************
Organization:
Section 1 - Global tag styles
Section 2 - named styles listed in alphabetical order
Section 3 - WebBridge
Section 4 - styles for 2009B design

Color Scheme:
2009B:
background dark gray: #4D4D4D
text dark gray: #444444
blue: #1367A7
link blue: #006699
link active: #50afdf
light blue: #E8F2F9
yellow hover color: #FFFFE4
Gray for borders and borders serving as horizontal rules: #D3D3D3

Font Size Quick Reference
(Default browser font size) * Body Font Size = Default Display Size 
16pt * .85 = 13.6pt
Find your desired size in ems by dividing your desired font-size in points by the present size of the font.
For instance, 12pt font = 12/13.6 = .8824em.
For 12pt, apply .8824em
For 11pt, apply .8088em
For 10pt, apply .7353em

********************************************************************** */
/* general appearance */
/* See also Web Option BODYPARAM */

/* Stylesheet to use for dynamic Web pages */
/* is set by Web Option STYLESHEET */


/* Section 1 */
/*Global tag styles*/
/*-----------------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*-----------------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*NSU TINSLEY STYLE*/
html, body, ol, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/*
body, td, th, p {
 	color:#333;
 	font-family: arial, tahoma, verdana, sans-serif;
		}
*/

blockquote{
	padding:0 0 0 10px;
	border-left:4px solid #DDDDDD;
	margin-left: 15px;
}
a, a:link, a:link, a:link, a:hover {
	/*text-decoration:underline;*/
	cursor:pointer;
}

a:link {color:#006699}
a:visited {color:#006699}
a:hover, a:active {color:#50afdf;}

hr {
	margin: 1em 0;
	background:#f2f2f2;
	height:1px;
	color:#f2f2f2;
	border:none;
	clear:both
}
p, ul, ol {
	margin: 0 0 1.5em
}
h1, h2, h3, h4, h5, h6 {
	letter-spacing: -1px;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	margin: 1.2em 0 .3em;
	color:#000;
	padding-bottom: .1em;
	font-weight:bold;
}


#header-container
{
	background: #006699 url(/screens/sprites.gif) repeat-x left 100%;
	margin:0 0 0 0;
	padding:0;
	height:118px;
	width:100%;
}

#header
{
	margin:0 auto;
	padding:0;
	height:118px;
	/*width:1002px;*/
	width:auto;
	text-align:center;
}
/*  ASL - SPECIFIC HEADER/


/* use local logo instead of main NSU logo */
/* Hotspot/image map links to NSU and ASL from banner */
#image_map{
width:219px;
height:107px;
background: url(/screens/logo_sliced_nsulibs.gif) no-repeat left top;
position:absolute;
left: 0;
z-index:999;
overflow-x: hidden;
overflow-y: hidden;
text-indent: -9999px;
}


#image_map a{
display:block;
position:absolute;
left:0;
}
#image_map a.menu{
width:219px;
height:141px;
top:0;
left:0;
}
#image_map a#link1{
width:219px;
height:87px;
top:0;
left:0;
}
#image_map a#link2{
width:219px;
height:25px;
top:88px;
left:0;
}
/* end imgmap */
/* service/dept. title on right side of banner */
#rightname {
position: absolute;
top: 48px;
right: 80px;
z-index: 1;
clear:left;
}
#rightname h2 {
font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
font-weight: bold;
font-size: 1.6em;
color: #fff;
border: none;
margin-top: 20px;
text-decoration: none;
}
#rightname h2 a{

color: #fff;
border: none;
text-decoration: none;
}

/**************** NAVIGATION **************/

#navbar-container
{
	background: #eee url(/screens/navbg.gif) repeat-x right 100%;
	margin:0 0 0 0;
	padding:0;
	height:1.75em;
	width:100%;
	clear:both;
}

#navbar
{
	padding:0;
	height:1.75em;
	width: 100%;
	background: #eee url(/screens/navbg.gif) repeat-x right 100%;
	overflow: hidden;
}

#inner {
	margin:0 auto;
	padding:0;
	height:1.75em;
	width:35.5em;
}



#nav
{
	font-weight:bold;
	/*min-width:670px;*/
	min-width: 10%;
	font: bold 96% arial;
	margin: auto;
	text-align:left;
	background: #eee;
	list-style: none;
}
#nav ul
{
	list-style: none;
}
#nav a
{
	display: block;
	width:auto;
	text-decoration: none;
	padding: 0.25em 1em;
	color: #000;
}
#nav a:hover
{
	color: #000;
}
#nav li
{
	float: left;
	padding: 0;
	width:auto;
	border-right: 1px solid #999;
}
#nav li.last
{
	border-right: none;
	margin-right: 1%;
}
#nav li ul {/*all child elements of the first list. "Everything except the first (nav) list" */
	position: absolute;
	left: -999em;
	z-index: 100;
	height: auto;
	width:16em;
	margin: 0;
	font-size:90%
}
#nav li li
{
	padding-right: 1em;
	width:14.85em;
	border-left:1px #999 solid;
	border-bottom:none;
	border-bottom:1px #999 solid;/*	bottom-border for all li's*/
	border-right: none;
}
#nav li ul {/*second and third level lists - not including main nav*/
	margin: 0em 0 0 0;
	font-weight: normal;
	border-width: 0.25em;
	border-top:1px #999 solid;
	background: #fff url(/screens/featurebox_bg.gif) no-repeat 100% 100%;
}
#nav li ul ul {/*second and third level lists - not including main nav*/
	margin: -1.75em 0 0 15.75em;
	font-size:100%
}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
}
#nav li ul a {
	color: #000;
}
#nav li ul a:hover {
	color: #fff;
}
#nav li li:hover, #nav li li.sfhover {
	color: #fff;
	background: #50AFDF;
}
#nav li:hover, #nav li.sfhover {
	color: #000;
	background: #50AFDF;
}

#searchlinks{
margin-top: 20px;
text-align: left;
font-size: 1em;
line-height: 200%;
}

#searchlinks a:hover
{
	text-decoration: underline;
	cursor:pointer;
}

#qtoolbar {
	float:right;
	color:#fff;
	height:25px;
	width:auto;
	padding:8px 0 1px 0;
	background: #666 url(/screens/qtoolbar_bottom.gif) no-repeat right bottom;
	
}
#qtoolbar input{font-size:12px;}

#quicklinks2 li #start	{
	font-size:13px;
	border-left:1px solid #444444;
	padding:0 19px 4px 7px;
	margin:-2px 0 4px 10px;
	background:transparent url(/screens/quick_arrow.gif) no-repeat scroll 95% 10px;
	}
	
#quicklinks2 {
	font-size:11px;
	float:left; 
	text-align:left;
	margin: 0;
	list-style: none;
	letter-spacing:normal;
	overflow:hidden;
}

#quicklinks2 ul {
	list-style: none;
	border-top:1px solid #555;
	border-left:1px solid #444;
	border-right:1px solid #444;

}

#quicklinks2 a {
	display: block;
	width:auto;
	text-decoration: none;
	padding: 0.25em .5em;
	color: #fff;
}
#quicklinks2 a:hover {
	color: #fff;
}
#quicklinks2 li {
	font-size:11px;
	float: left;
	padding: 0;
	width:auto;
}

#quicklinks2 li ul {
	font-size:11px;
	position: absolute;
	left: -999em;
	height: auto;
	width:9.3em;
	margin: 0;
	padding:0;
	font-weight: normal;
	background: #666;
	margin: 0 0 0 -6px;
		
}
#quicklinks2 li li {
	padding-right: 1em;
	width:8.3em;
}

#quicklinks2 li:hover ul ul, #quicklinks2 li:hover ul ul ul, #quicklinks2 li.sfhover ul ul, #quicklinks2 li.sfhover ul ul ul {
	left: -999em;
}
#quicklinks2 li:hover ul, #quicklinks2 li li:hover ul, #quicklinks2 li li li:hover ul, #quicklinks2 li.sfhover ul, #quicklinks2 li li.sfhover ul, #quicklinks2 li li li.sfhover ul {
	left: auto;
}
#quicklinks2 li ul a {
	color: #fff;
}
#quicklinks2 li ul a:hover {
	color: #fff;
}
#quicklinks2 li li:hover, #quicklinks2 li li.sfhover {
	color: #000;
	background: #444;
}
#quicklinks2 li:hover, #quicklinks2 li.sfhover {
	color: #fff;
	background: none;
}

#searchbox {
border:0 none;
color:#333333;
float:left;
font-size:1em;
height:13px;
margin:-2px 5px 0 8px;
padding:3px;
}

#btnSearch {
border:0 none;
cursor:pointer;
height:18px;
margin:-1px 0 0;
padding:0;
}

#qtoolbar form {float:left;}

/*END NSU */
/*PAGE LAYOUT */
.pageContentInner{background:#fff;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:90%;padding:0;width: 90%; margin:auto; text-align:left; }
.Clear { clear:both;}
.pageHeader{display: block; margin-top: 5px; margin-bottom: 20px;}
h1.pageHeader {font-size: 135%;color:#444}
.breadcrumbs{font-size:80%; margin:10px 0; display:block;color:#444}
.errorMsg{color:#CC0000;font-size:105%}
.errorMsg h2{color:#CC0000;font-size:105%}
/*LOGGED NAME */
.logged_msg{font-weight: bold; display: block; margin-bottom: 10px;}
/*SELF REGISTRATION*/
.termsConditions{
width:60%; 
display:block; 
color:#333;	
background-color: #f7f7f2; 
border: 1px solid #999999; 
padding:8px; 
text-align:center; 
margin:10px auto;}
.termsConditions strong{font-weight:bold;}
.applications{width:60%;margin-left:auto;margin-right:auto;margin-bottom:20px;}
.appboxes{float:left; width:45%}
.appboxes strong{font-weight:bold;}

.navigationRow select {
    vertical-align: top;
	clear:both;
}
.bibSearchHistory,.bibRelSearch{text-align:center;margin-bottom:5px;}
.bibSearchHistory,.bibRelSearch a { text-decoration: none } 

/*BIB RECORD DISPLAY */

.CenterBox {
	width: 95%;
	border-left: silver solid 1px;
	border-right: silver solid 1px;
	border-top: silver dotted 1px;
	border-bottom: silver dotted 1px;
	margin: auto;
/*	padding-right:1em; */	
	}

	
.bib_items table {border:1px solid #eeeeee; border-collapse:collapse; width:100%; margin-bottom: 5px; *padding: 1px;padding:8px 0 0 0; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
	box-shadow: 3px 3px 5px #333;
}
	
/* RESOURCE RECORD DISPLAY */

.ResourceCenterBox {
	width: 95%;
	border-left: silver solid 1px;
	border-right: silver solid 1px;
	border-top: silver dotted 1px;
	border-bottom: silver dotted 1px;
	margin: auto;
/*	padding-right:1em; */	
	}
td.bibInfoLabel, td.resourceInfoLabel, .resourceLicenseHeader {
   color: #444444;
    font-size: 90%;
    font-weight: normal;
    padding-right: 1em;
    text-align: left;
    width: 15%;
}
.ResourceCenterBox table table {width:100%;font-style:normal;}
.ResourceCenterBox table table td.resourceInfoLabel{width:13%;font-style:normal;}
table#recordLicense th{width:15%;}
.bibTitle {font-family: Arial;font-size: 1.5em;font-weight: bold;}


/*PATRON RECORD DISPLAY*/
.pat{background:#fff; width:98%; margin:auto;}
.patFloat{background:#fff; width:98%; margin:auto;}
.patActionBar{background:#fff; width:auto; margin:auto;text-align:center;}
.patNameAddress{background:#fff; width:98%; margin:auto;}
.patLogout{margin-bottom:10px;}

/*TOP LOGO */
.topLinks { float: right; height: auto; margin:0; padding:0; width: 50%; }
#topLinksList a:link, #topLinksList a:visited  { color: #1367A7; font-family:Arial,"Arial Unicode MS",Helvetica,Verdana,sans-serif; font-weight:bold; padding:6px 15px 3px 15px; text-decoration:none; width:auto; }
#topLinksList a:active,#topLinksList a:hover   { background:#F2F2F2; color:#0091FF; text-decoration:underline; }
#topLinksList li { list-style:none; padding:0; display:inline; }
#topLinksList  { float:right; margin:0; padding:0; font-size:.9em; display:inline; }
.buttonTopLinks { white-space:nowrap; }
.buttonTopLinks img { border:0; margin-right:3px; }
.buttonTopLinksText{ vertical-align:top; }





/*SEARCH BOX */

legend { color:#444444;font-family:Verdana, Arial, Helvetica, sans-serif;	 }

#nsu_search{
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

#accessibleForm {
	/*background: #eeeeee;*/
	background: #f4f4f4 url(/screens/featurebox_bg.gif) no-repeat 100% 100%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 5px #333;
	-webkit-box-shadow: 3px 3px 5px #333;
	box-shadow: 3px 3px 5px #333;
	border: 1px solid #999\9;
}
legend{ font-weight:bold;color:#444;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
#accessibleForm { font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; }
#accessibleForm fieldset { border: 1px solid #CCCCCC; }
#accessibleForm form legend { font-weight:bold;color:#444;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;}
#accessibleForm h2 { margin-left:15px; margin-bottom:0; margin-top:12px }
#accessibleForm span.formLabel { display:block; padding-top:3px; }
#accessibleForm span.formLabelExample { font-style:italic; }
#accessibleForm .formEntryArea, #accessibleForm .ecommerceFormEntryArea { margin:3px 0 0 15px; }
#accessibleForm .formButtonArea .formButtonArea {margin-left:12px; display:inline;}
#accessibleForm font { font-size:1em; padding:10px; }
#accessibleForm p { margin-bottom:5px; margin-top:3px; }
#accessibleForm ul { margin-left:10px; margin-top:0; padding-left:15px; }
.formButtonArea { margin:12px 0 0 15px; }
.formButtonArea a, .requestMultiPatform center a, .mylistsSavePage a { text-decoration:none; }
.formButtonArea input { margin:5px 0; }
/*.form2Part{
	width: 100%;
	background:yellow;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;	
	text-align: left;
}*/

.formEntryArea  fieldset { margin:3px; padding:3px; }
.form2Part fieldset, .form1Part fieldset { padding:0.35em 2em 0.75em 0; }
.form2Part formLabel, .form1Part formLabel { font-size:.8824em; }
.formLeft { float:left; padding:10px 10px 10px;width:45%; margin-right: 1%;}
.formRight { float:left; padding:12px 5px; width:40%;}
.formWide {padding: 10px; width: 95%}
.formWide legend{font-weight: bold;}
.form3Part fieldset { padding:5px; }
.form2Part,.form3Part  { background:transparent; border:1px solid #D3D3D3; float:left; margin:0 20px 15px 0; width:98%}
#form3PartAdvLimitSort { }
#form3PartAdvLimitSort label { display:table-cell; float:left; padding-right:5px; width:5em; }
#form3PartAdvLimitSort select { margin-left:2px; width:144px; }
.form3PartAbove { display:inline-block; padding:10px 10px 0;width:98% }
.form3PartBelow { background:transparent; clear:both; margin-top:1em; width:98%  }
.advancedSearch{ display:inline-block;border:none; padding:10px 10px 0;width:100%;}
.advancedSearch table{border:none;}
.topicLinks  li{list-style-type: disc;}
.searchTips li {list-style-type: circle;}
.tipsBox{width:90%; 
background: transparent;
padding: 3px; font-size: 80%;
}
.mediumtext{font-size:90%;}
p.headerTips {font-weight:bold;color:#444444;}
.tipsBoxHeader{font-weight:bold;color:#444444;}
.tipsBoxEx{font-style: italic;}
.switch{font-weight:bold;color:#444444;}
.errorMsg{color:#CC0000;font-size:115%;font-weight:bold;}
p.limit{font-weight:bold; margin-bottom: 5px;}
p.holds{font-weight:bold; float:right;}

/***************TABS******************************/
ul#toc {
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#toc li {
    float: left;
    margin: 0 5px 0 0;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;	
	/*
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-box-shadow: 5px -2px 2px #888;
	-webkit-box-shadow: 5px -2px 2px #888;
	box-shadow: 5px -2px 2px #888;
	/* For IE 8 *//*
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');
	/* For IE 5.5 - 7 *//*
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#333333');*/
	border-bottom: none;
	
	
}

ul#toc a {
    background: #f4f4f4;
    color: #006599;
	font-weight: bold;
	 font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;	
    display: block;
    float: left;
    height: 2em;
	margin-left: 5px;
    padding-left: 10px;
    text-decoration: none;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 10px;
	-moz-box-shadow: 5px 0 2px #888;
	-webkit-box-shadow: 5px -2px 2px #888;
	box-shadow: 5px -2px 2px #888;
	border: 1px solid #999;
	border-bottom:none;
	}
	



ul#toc a:hover {
    background-color: #999;
	color: #fff;
	font-weight: bold;
    /*background-position: 0 -120px;*/
}

ul#toc a:hover span {
    /*background-position: 100% -120px;*/
}

ul#toc li.current a {
    background-color: #3698cb;
    /*background-position: 0 -60px;*/
    color: #f4f4f4;
    font-weight: bold;
}

ul#toc li.current span {
    /*background-position: 100% -60px;*/
	display: block;
}

ul#toc span {
    
    display: block;
    line-height: 2em;
    padding-right: 15px;
}





/*BD */
/* START hide mobile stuff */
tr.briefCiteM , #bibHoldingsM , #bibToCM , .pagetopContentM {display:none}

/*
button.returntoresults , button.startover , button.modify , button.limitsearch , button.prevscreen {display:none;}
*/

/*
span.returntoresults , span.startover , span.modify , span.limitsearch , span.prevscreen , span.brief , span.clearmarked , span.extended , span.marc , span.regdisplay , span.ret2crs , span.viewmarked , span.searchkw , span.markrec  {display:none;}
*/

/* Below does a global suppression of the textual "buttons" */
span.buttonM {display:none}

#srchmodContainerM {display:none;}

div.mobileOnly {display:none;margin-top:1em}

/* END hide mobile stuff */

/* Fix hover for img links in WB table */
td.bibResourceTableEntry span a:hover , td.bibResourceTableEntry a:hover img , #gbs a:hover {background-color: #FBF8E3;text-decoration:none;}

/* Fix hover for links in saved records display */
center a:hover {background-color:#fff;}
center .browseEntryData a:hover {background-color:#dfddd6;}

.additionalCopies {text-align:left;}
.additionalCopies table.bibItems {margin:1em auto;width:90%}

/* for location pop-ups */

body#location {
	background: #FFFFFF;
	margin: 3em 1em;
	font-size: 90%;
	margin-top: 2em;
	margin-left: 1.5em;
	}

#location p {
  margin:1em;
	font-family: Verdana, Geneva, Tahoma, Arial, sans-serif;
  }

div#closer {
	text-align: center;
	}

.LocName {
	color: #963146;
	font-weight: bold;
	}

.LocPlace {
	color:  #963146;
	font-weight: bold;
	}

/* end location pop-ups */

/* alter reserves columns for makeitbetter script: */
.reserveBibs td {
	width:33%;
	vertical-align: top;
	}

/* briefcit brief/detailed image fix for IE: */
.brief_detail  {height:30px; width:80px}

#renewfailmsg {
	color: #000;
	background: #ffff99;
	font-weight: bold;
	font-style: normal;
	font-size: 92%;
	padding: .5em;
	margin: .5em auto;
	text-align: left;
	}

.confirmationprompt {
	color:#990033;
	padding-left:1em;
	font-weight:bold;
	font-size:80%;
	}

div.bibTitle {
	clear: left;
	margin-left:-.5em;
	}


#hilitesSwitch a {
	border: none;
	background: none;
	}

font.kwhilite strong {background-color: #fff;}

/* Above this line added after upgrade */

span#save_page_btn2 + form {
	float: right;
	margin-right: 1em;
	}

.browseSaveJump input {
	float: left;
	width:auto;
	overflow:visible;
	padding: 0 1em;
	margin-right: .25em;
	}

#patrecInfo strong{
	background-color:#FFFFFF;
	color:#283FA0;
	font-family:Trebuchet MS,Arial,Verdana,Geneva,Tahoma,sans-serif;
	font-weight: bold;
	padding-left:0.5em;
	}
	
.patrecLink {
	background: url('/screens/blue_arrow.png') no-repeat left scroll;
	padding-left: 1em;
	margin-left: 1em;
	}

#topNavRow {
	margin-bottom: .5em;
	}
	
.deleteSelected {
	margin: 1em 0 0 4.5em;
	}

center table {
	border: none;
	width: 90%;
	}

#patrecInfo br {display:none;}

#patrecInfo {text-transform: lowercase;}

#patrecInfo strong {
	font-size:1.5em;
	padding-right: 1em;
	text-transform: none;
	}
.patFuncHeaders {
	background-color: #f3f5f7;
	border: silver solid 1px;
	padding: .5em;
	}

table.patFunc td {
	border: silver solid 1px;
	padding: .5em;
	}
	
table.patFunc {
	border-collapse: collapse;
	border: silver solid 1px;
	margin: .5em 0;
	}
	
th.patFuncTitle, .patFuncNoEntries {
	color: #990033;
	font-weight: bold;
	padding: .5em .25em;
	border-bottom: dashed silver 1px;
	}

.patFuncStatus {
	font-weight:bold;
	}



.patFuncArea {
	border: none;
	border-top :silver dotted 1px;
	width:100%;
	margin: 1em 0 2em 2em;
	padding-top: .5em;
	}

.navigationRow img, center img {
	padding-left: .5em;
	}

.navigationRow a:hover, center a:hover img {
	background-color: #fff;
	}
	

/* 
######
for status.html 
*/

.statuscode, .statusdef, .statusheader {
	vertical-align: top;
	border:silver solid 1px;
	padding: .25em .5em;
	}

.statusheader {
	text-align: left;
	color: #800;
	}

.statuscode {
	font-weight: bold;
	width:30%;
	}
		
#statusTable {
	border:silver solid 1px;
	border-collapse: collapse;
	margin-bottom: 1em;
	}
	
/* IE FIX */	
*/

.CenterBox {
	width: 90%;
	border-left: silver solid 1px;
	border-right: silver solid 1px;
	border-top: silver dotted 1px;
	border-bottom: silver dotted 1px;
	margin: auto;
/*	padding-right:1em; */	
	}
	
.bibBox{
	float:left;
	margin-left:15px; 
	display:block; 
	width:80%;
    }

.CoursebibBox{
	float:left;
	margin-left:15px; 
	display:block; 
	width:90%;
    }
	
div.bibScreen {
	width: 75%; 
/*	_width: 100% ; IE hack; thanks Bowdoin */ 
	margin-top: 0;
	margin-bottom: 1px;
	text-align: left;
	}


div.RightBibTable {
	float: right;
	width: 15%;
	padding: 5px;
	border-bottom: dashed silver 1px;
	border-left: dashed silver 1px;
	text-align:center
	}
	
div.RightBibTable img{
	margin-top:5px;
	clear:both;
	}
.

table.bibResourceTable {
	vertical-align: top;
	}

td.bibInfoData strong {
	font-weight: normal;
	}	

.bibTitle td.bibInfoLabel {
/*	display:none; */
	width:1px;
	color:#fff;
	font-size:0;

	}
	
.bibTitle td.bibInfoData {
	font-size:125%;
	font-family: Arial;
	font-weight: bold;
	}

.bibRecordBottom {
	margin: 1em 0 0;
	clear:both;
	}

/* end bib_display.html additions */

img.coverresize { 
	-ms-interpolation-mode: bicubic;
	width:130px;
	}

/*	
body, td, th, div, p {
 	background: #ffffff;
	color: black;
 	font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif; 
	margin: 0;
	}
*/

	
pre {
	padding-left: 6em;
	font-size: 120%;
	}
	
hr {
	display: none;
	}

img {
	border: none;
	}



form {
	margin-bottom: 0
	}

/* 
######
briefcit 
*/

/* Fix for Safari and border-collapse when there's no border to collapse */

td.briefCite, td.browseSaveJump, td.browseEntryData, tr.browseSuperEntry td  {
	border-right: silver solid 1px;
	}

td .browseSaveJump {background: #f4f4f4 url(/screens/featurebox_bg.gif) no-repeat 100% 100%;}

.briefCiteAuthData {
/* 	font-weight: bold; */
	color: #383838;
	}

.briefCiteAuthData em {
	font-style: normal;
	text-transform: lowercase;
	}

/* .briefCiteAuthData em:after {content: ":"} */

.briefCiteAuthData a {
	font-weight: normal;
	}
	
table.briefCiteTable {
	border-top: silver dashed 1px;
	margin-bottom:6px;
	width:100%;
	}

/* Fix for bad III code and FF wanting to create borders for an empty row */
tr.briefCiteRow + tr.browseEntry {
	display:none;
	}

td.briefCiteEntryNum {
	color:#333333;
	font-weight: bold;
	vertical-align: top;
	padding-top: .5em;
	text-align: center;
	width: 15%; 
	}

td.briefCiteEntryNum img {
	overflow: hidden;
	}
	
	
td.briefCiteEntryMark {
	color:#000000;
	vertical-align: top;
	padding-top: .5em;
	text-align: center;
 	width: 10%;
}

td.briefCiteEntryData {
	color:#000000;
	vertical-align: top;
	padding-top: .5em;
	width:50%;
	margin-right:15%;
	margin-left:10%;
		}

.briefCiteTitle {
	padding-bottom: 5px;
/*	font-weight: bold; */
	font-size: 110%;
	} 

.briefCite245h {
	font-size: 84%;
	}

.briefCiteAuthor, .briefCitePub, .briefCitePerf, .briefCiteSubj {
	margin-left: 2.5em;
	font-size: 90%;
	color: #383838;
	}
	
.briefCiteTitleFull {
	color: #383838;
	font-style:italic;
	font-size: 110%;
	margin-left: 2em;
	}

td.briefCiteEntryYear {
	padding-top: .5em;
	padding-right: 1em;
	padding-bottom: .5ex;
	padding-left: 1em;
	color:#000000;
	vertical-align: top;
	text-align: center;
 	width: 15%; 
	}

.briefCiteItems {
/*  the IE-offending rule follows */
/* 	padding-right:15%; */
 	padding-right: 6em;
	padding-bottom: .5em;
	width: 95%;
	text-align: left;
	margin-left: 2em;
	}
		
.briefCiteItems table.bibItems {
	margin-top: 10px;
	margin-bottom: 6px;
	margin-left: 0;
/* 	border-collapse: collapse; */
 	width:100%; 
	font-size:100%;
	}

.briefCiteItems table.bibItems td, .briefCiteItems table.bibItems th {
	font-family: Verdana, sans-serif;
	}

.briefCiteItems em {
	color:#903;
	font-weight: bold;
	font-size: 84%;
	font-style: normal;
	}	


a:visited.moreItems, a:link.moreItems {
	color: #990033;
	font-weight: bold;
	font-size: 90%;
	font-style: normal;
	padding-left: 1em;
	}

a:hover.moreItems {
	color: #990033;
	background-color: #fff;
	font-weight: bold;
	font-size: 90%;
	font-style: normal;
	text-decoration: none;
	}

	
	
/* Emergency fix for moreItems:*/
/*
a:visited.moreItems,a:link.moreItems,a:hover.moreItems {
	color: #990033;
	font-weight: bold;
	font-size: 84%;
	font-style: normal;
	padding-left: 1em;
	text-decoration: none;
	background-color: #fff;
	cursor: text;
	}
*/
	
.briefCiteItems table {
/*  	margin-left:15px; */
	/* IE doesn't like a % value in the above */ 
	} 

/* END briefcit */

#processed {
	color: black;
	padding: 3px;
	margin-top: 0;
	}

.release {
	text-align:right;
	font-size:65%;
	color:silver;
	}

.permalink {
	text-align:center;
	font-size:84%;
	color:#333333;
	margin:auto;
	padding:.5em;
	}


/*
#############
srchhelp_X.html 
*/

table.searchLimits th {
	text-align: left;
	}

#search table  {
	/*border:silver solid 1px;*/
	border-collapse:collapse;
	width: 100%;
	}
	
#search table tbody tr td.limit {
	vertical-align:top;
	padding-top: 6px;
	font-weight: bold;
	font-size: 84%;
	}
	
#search table tbody tr td.limit table tbody tr td {
	vertical-align:top;
	padding-top: 6px;
	font-weight: bold;
	display:block;
	padding:.25em 1em;
	}

td.limit {
	width:50%;
	}

td.limit select {
	display:block;
/*	width: 100%; works greate in FF; obscures content in IE */
	}

td.limit select {width:100%}
	
td.limit input {
	display:block;
	}

#search td {
	vertical-align:top;
	padding-top: 6px;
	font-weight: bold;
	font-size: 84%;
/*	background: #dfddd6; */
	}

input,select {
	margin-bottom: 3px;
	}

.table-row1 p, .table-row2 p {
	background-color: #dfddd6;
	}	


/* ??? */
img.icon {vertical-align:middle;padding-bottom:6px}

.marked {
	background-color: #f1f1f1;
	}
	

/* 

div,table {
	clear: both;
	}
*/


/*#############
srchmod.html
*/

.errormessage {
	color: #000;	
	font-weight: bold;
	font-style: normal;
	font-size: 92%;
	padding: .5em;
	text-align: center;
	margin: 1em 6em;
	}

.limitPageTableLaf {
	margin-top: 1em;
	}

.limitTableLaf {
	border-collapse: collapse;
	border-bottom: silver solid 1px;
	}

.limitMessageLaf {
	color: #803;
	font-weight: bold;
	text-align: left;
	font-size: 92%;
	padding-left: 10px;
	padding-right: 1em;
	}

.limitTableHeaderLaf {
	text-align:right;
	padding-right: 2em;
	font-size: 80%;
	}
	
.limitTableCellLaf {
	text-align: center;
	}
	
.limitColALaf {
	vertical-align: top;
	color: #333333;
	font-weight:bold;
	font-size: 82%;
/*	width: 15%;*/
	text-align: right;
	padding-right: 1em;
	width:12em;
	border-top: silver solid 1px;
	border-left: silver solid 1px;
	}

.limitColBLaf {
	vertical-align: top;
	color: #333333;
	font-weight:bold;
	font-size: 84%;
/*	width: 15%;*/
	text-align: right;
	padding-right: 1em;
	width:12em;
	border-top: silver solid 1px;
	}
	
.limitColBLaf select {
	width: 12em;
	}

.limitColCLaf {
	vertical-align: top;
	color: #333333;
	font-weight:bold;
	font-size: 84%;
/*	width: 15%;*/
	text-align: left;
	padding-left: 1em;
	border-top: silver solid 1px;
	border-right: silver solid 1px;
	border-left: silver solid 1px;
	}
	
.limitColCLaf select {
	color: #333333;
	font-weight:bold;
	margin-bottom: 3px;
	}

.limitColCLaf input {
	color: #333333;
	margin-bottom: 3px;
	}

/* Following classes are used with default index search limit page, but not with customized srchmod.html (unless you wrap tokens in spans thusly classed.
.limitEntriesFoundNum { font-size: 90%; font-style: italic; }
.limitEntriesFoundText { font-size: 90%; font-style: italic; }
.limitSearchTerm { font-size: 90%; font-weight: bold; }
.limitSearchTypeText { font-size: 90%; }
.limitSearchTypeIndex { font-size: 90%; }
*/


div.navigationRow {
	text-align:center;
	clear: right;
	}

div.frameSearch {
	text-align: center;
	}


div.deleteSelected {
	}
	
div.exportHeading {
	color: #cc0000;
	font-weight: bold;
	border-top: silver solid 1px;
	border-right: silver solid 1px;
	border-left: silver solid 1px;
	padding-left: .5em;
	padding-top: .5ex;
	}

.bibRecordLink {
	font-size: 80%;
	padding: 0 .25em;
/*	prostyles override: */
	font-style: normal;
	display:block;
	text-align:center;
	padding:20px 0;
	}

.authMsg {
 	text-align: center;
	margin: 2em;
	padding: .5em;
	} 

.authMsg p {
	margin: 1em 0;
	}

table.bibResourceTable {
	border: silver dotted 1px;
	border-top: none;
	border-right: none;
/*	margin-top: 20px; */
 	background-color: #FBF8E3;
	width:100%;
	}

td.bibResourceTableEntry {
	text-align: center;
	background-color: #FBF8E3;
	font-size: 84%;
	padding: 1ex 0 1ex 0;
/*	prostyles override: */
	font-weight: normal;
	}

td.bibResourceTableEntry .wblinkdisplay form, .wblinkdisplay p, td.bibResourceTableEntry .wblinkdisplay form div, .bibResourceTableHeader {
	background-color: #FBF8E3;
	}


/* 
##########
Results screens, from the top in the code
##########
 */

table.browseScreen {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	}


td.browsePager {
	text-align: center;
	font-weight: bold;
	font-size: 70%;
/* 	font-variant: small-caps; */
/*	border: silver solid 1px; */
	padding: 3px;
/*	background: #f0f8ff; */
	color: #000;
/*	background: #b0c4de;*/
	}

.browsePager strong {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
padding:2px 5px;
margin:1px;
 background:none repeat scroll 0 0 silver;
 color:#000;
border:1px solid silver; 
	}	
	
.browsePager a {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background:none repeat scroll 0 0 #f3f5f7;
border:1px solid silver;
border:1px solid silver;
padding:2px 5px;
margin:1px;
text-decoration: none;
}

.browsePager a:hover {
	text-decoration: underline;
	background-color: #fff;
	}

table.browseList {
	font-size: 80%;
	width: 90%;
	border: silver solid 1px;
	border-collapse: collapse;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
	
table.browseList form {
	display: inline;
	}
	
table.browseList th {
	border-bottom: silver solid 1px;
	/* font-variant: small-caps; */
	}

td.browseSaveJump {
	padding-left: 1em;
	border-top: silver solid 1px;
	border-bottom: silver solid 1px;
	text-align:left;
	padding-top:.25em;
	}

tr.browseHeader {
	font-size: 90%;
	}
	
td.browseHeaderNum {
	background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	width: 5%;
	}

td.browseHeaderMark {
	background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	width: 5%;
	}	


td.browseHeaderData {
	background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: left;
	border-right: none;
	}

tr.browseHeader > td.browseHeaderData {
	padding: .75em 1.5em;
	border-right: silver solid 1px;
	}
	
td.browseHeaderMark + td.browseHeaderData {
	padding-left: 1em;
	border-right: none;
	}

td.browseHeaderYear {
	background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	width: 5%;
	/*border-left: silver solid 1px;*/
	}
	
td.browseHeaderRelevance {
	background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	}

td.browseHeaderEntries {
	background-color: #ffffff;
	color:#000000;
	font-weight:bold;
	vertical-align:middle;
	text-align: center;
	/*border-left: silver solid 1px;*/
	width:10%;
	}

tr.browseEntry {
	/*border-top: silver dashed 1px;*/
	}
		
.browseEntry td {
	border-top: silver dashed 1px;
	}
		
td.browseEntryNum {
	color:#000000;
	font-weight: bold;
	vertical-align: top;
	padding-top:.25em;
	text-align: center;
	}

td.browseEntryMark {
	background-color: #ffffff;
	color:#000000;
	vertical-align:top;
	padding-top:.25em;
	text-align: center;
	}	
	
td.browseEntryData {
	background-color: #ffffff;
	color:#000;
	vertical-align:middle;
	padding: .25em 1em;
	}
	
td.browseEntryRelevance {
	padding-right: .5em;
	padding-bottom: .5ex;
	text-align: center;
	}	
	
td.browseEntryYear {
	background-color: #ffffff;
	color:#000000;
	vertical-align:bottom;
	text-align: right;
	padding-right: .5em;
	padding-bottom: .5ex;
	}	
	
td.browseEntryEntries {
	background-color: #ffffff;
	color:#000000;
	vertical-align:middle;
	text-align: center;
 	border-top: silver dashed 1px;
	border-left: none;
	}	

td.browseSubEntryData {
	padding-right: 2em;
	padding-left: 4.5em;
	padding-bottom: 2ex;
	font-size: 90%;
	}
	
td.browseSubEntryData a {
 	display: list-item;
	list-style-type: square;
	margin-left: -1.5em;
	margin-top: -.5em;
	text-decoration: underline;
	}

td.browseSubEntryData a:hover {
	background-color:transparent;
	text-decoration: underline;
	}	

/* Disappear the number before "additional entries" */	
td.browseSubEntryData font {
 	display: block;
	color:#fff;
	} 

/* FF only */	
td.browseSubEntryData font + a {
	font-weight:bold;
 	text-transform: uppercase; 
	}
	
td.browseSubEntryData strong {
	color:#000000;
	}

td.browseSubEntryYear {
	text-align: right;
	vertical-align: middle;
	padding-left: 6px;
	padding-bottom: .5ex;
	padding-right:.5em;
	}
	
tr.browseSuperEntry td {
	padding: 3px 6px;
	border-top: silver dashed 1px;
	font-weight: bold;
	background-color: #FBF8E3;
	}
	

tr.browseSuperEntry td strong {
	padding-left: .8em;
	}
	


td.browseEntryData{border-right:none;}

td.browseHeaderMark + td.browseHeaderMedia{border:none;}
/* 
#############
Bib record displays, from the top (sort of) 
#############
*/


div.bibSearchtool {
	text-align: center;
	font-size: 84%;
	}

div.bibSearch{
	text-align: center;
	font-size: 84%;
	}	
	
div.bibSearchtoolMessage a:link {
	color: #283fa0;
	}
	
div.bibSearchtoolMessage a:visited {
	color: #283fa0;
	}
 
div.bibScreen form {
	margin-bottom: 0;
	}

table.browseScreen div.bibSearchtool {
	font-size: 90%;
	}
		
div.bibSearchtoolMessage {
	font-style: normal;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-left: 10%;
	margin-right: 10%;
/*	border-bottom: #f1f0eb solid 1px; */
/*	border-top: #f1f0eb solid 1px; */
	}
	
div.bibSearchtoolMessage i {
	color: #990033;
	font-style: normal;
	padding-right: .5em;
	padding-left: .5em;
	}

div.browseSearchtool {
		font-size: 84%;
		border: none;
	}
	
div.browseSearchtoolMessage {
	font-style: normal;
	font-weight: bold;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-left: 10%;
	margin-right: 10%;
	}
	
div.browseSearchtoolMessage i {
	color: #990033;
	font-style: normal;
	padding-right: .5em;
	padding-left: .5em;
	}





		
/*	
#############
Record navigation mechanism
*/


.bibPager {
	text-align: center;
	clear: both;
	padding-right: 1em;
	font-weight: bold;
	font-size: 75%;
	}


#topBibPager {
	margin-top: 1em;
	color: black;
	clear: both;
	border: silver solid 1px;
	border-bottom: none;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
	width: 95%;
	margin: auto;
	padding: .5em 0;
	}

#botBibPager {
	margin-top: 1em;
	color: black;
	clear: both;
	border: silver solid 1px;
	border-top: none;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
	width: 95%;
	margin: auto;
	margin-bottom: 1em;	
	padding: .5em 0;
	}



.bibPager a {
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
background:none repeat scroll 0 0 #f3f5f7;
border:1px solid silver;
border:1px solid silver;
padding:2px 5px;
margin:1px;
text-decoration: none;
}

.bibPager a:hover {
	text-decoration: underline;
	background-color: #fff;
	}	

/* "Record x of y" div */

div.bibPager div {
	display: inline;
	margin-bottom:1em;
	color:#333;
	font-weight:bold;
	font-size:92%
	}


/* 
#############
Bib record info
*/


table.bibInfo {
	margin-bottom: 20px;
	}

table.bibDetail {
	margin-top: 6px;
 	width:100%; 
	clear:left;
	}

td.bibInfoLabel, td.resourceInfoLabel {
	color: #444;
/*	color: #333333; */
	font-weight: normal;
	font-size: 90%;
	width: 15%;
	text-align: left;
	padding-right: 1em;

	}

td.bibInfoData {
	color: #000000;
	font-size: 100%;
	}

	
/* 
#############
Course reserves records
*/

.reservesHeader {color:#903;}

table.reserveBibs {
	width:84%;
	border-collapse: collapse;
	border: solid silver 1px;
	margin-bottom: 1em;
	}

table.reserveBibs td {
	text-align: left;
	border: silver dashed 1px;
	padding: .5em;
	font-size: 90%;
	}
	
/* 
#############
856 links
*/

table.bibLinks {
	border: silver solid 1px;
	border-collapse: collapse;
	margin-bottom: 0;
	margin-top: 6px;
	width: 84%;
	}

table.bibLinks th {
	color: #333333;
	background: #f3f5f7;
	font-size: 84%;
	text-align: left;
	border: silver solid 1px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	}

	
table.bibLinks td {
	padding-top: 3px;
	padding-bottom: 6px;
	padding-left: 1em;
	font-size: 90%;
	text-align: left;
	}

#hathi856 td {background: url('/screens/hathi.png') no-repeat scroll .5em center transparent;padding:.5em 3em;}
	
/* 
#############
Holds
*/


/* Following rule no longer applicable? */
table.bibHoldsEntry {
	border: silver solid 2px;
	width:100%;
	}

/* Following rule no longer applicable? */	
tr.bibHoldsEntry td {
	color: #990033;
	font-weight: bold;
	text-align: center;
	}
	
table.bibHolds {
/* 	margin-top: .5em;
	margin-left: 16%;
	width:100%;  */
	border: silver solid 2px;
	width:84%;
	}
	
tr.bibHolds td {
	color: #008000;
	font-weight: bold;
	text-align: center;
	}

	
	
/* 
#############
Order records
*/

table.bibOrder {
	border: silver solid 2px;
	width:84%;
	}

tr.bibOrderEntry td {
	color: #990033;
	font-weight: bold;
	text-align: center;
	padding: .5em;
	}
	
/* 
#############
Check-in records
*/

table.bibHoldings {
/*	prostyles override: */
/* 	border: none; */
	margin-bottom: 0;
	margin-top: 10px;
	width: 84%;
 	border: silver solid 1px; 
/*	width: 80%;*/
	}

td.bibHoldingsLabel {
	color: #333333;
	background: #fff;
	width: 30%;
	font-style: normal;
	font-weight: bold;
	font-size: 84%;
	padding-left:.5em;
	}

td.bibHoldingsLabel em {
	font-style: normal;
	}

td.bibHoldingsLabel em a:link {
	color: #903;
	}
	
td.bibHoldingsLabel em a:visited {
	color: #903;
	}

td.bibHoldingsEntry {
	font-size: 90%;
	vertical-align: top;
	}
	
hr.holdingsDivider {
/* 	display: none;*/
	margin:.25em auto;
	display:none;
	border:none;
	/*border-top:silver dotted 1px;*/
	border:none;
	color:#fff;
	}

/* 
#############
Check-in CARDS
*/


div.checkinInfo {
	margin-left: 2em;
	width: 80%;
	}
		
.checkinInfoLabel,.checkinInfoData,.checkinInfoHoldingsLabel,.checkinInfoHoldingsData {
	clear:none;
	margin-bottom:.25em;
	font-size: 90%;
	}

.checkinInfoLabel,.checkinInfoHoldingsLabel {
	color: #333333;
	background-color: #ffffff;
	font-weight: bold;
	}

/*.checkinInfoCurrentReceipts {display:none;}*/

.checkinCard {
	text-align: left;
	margin-left: 2em;
	margin-right: 2em;
	}

div.checkinCard table {
	background-color: white;
	margin-top:1.5em;
	}

div.checkinCard td {
	border: silver solid 1px;
	width: 10%;
	padding:.5em;
	font-size: 84%;
	}

div.checkinCard span {
	font-weight: bold;
	}

/* checkinWHATEVER = class applied to the tds */
/* checkinWHATEVERStatus = class applied to the span that holds the status text */

.checkinExpected { background-color: #E0FFFF; }
.checkinExpectedStatus { color: black; }

.checkinLate { background-color: #efefef; }
.checkinLateStatus { color: #CC0000; }

.checkinClaimed { background-color: #efefef; }
.checkinClaimedStatus { color: #CC0000; }

.checkinPartiallyReceived { background-color: white; }
.checkinPartiallyReceivedStatus { color: black; }

.checkinArrived { background-color: #F5F5DC; }
.checkinArrivedStatus { color: #283fa0; }

.checkinBinderyPrep { background-color: #F5F5DC; }
.checkinBinderyPrepStatus { color: #000; }

.checkinAtBindery { background-color: #efefef; }
.checkinAtBinderyStatus { color: #CC0000; }

.checkinBound { background-color: 	#F0FFF0; }
.checkinBoundStatus { color: #283fa0; }

.checkinMissing { background-color: #efefef; }
.checkinMissingStatus { color: #CC0000; }

.checkinRemoved { background-color: white; }
.checkinRemovedStatus { color: gray; }

.checkinUnavailable { background-color: #efefef; }
.checkinUnavailableStatus { color: #CC0000; }

.checkinOutOfPrint { background-color: white; }
.checkinOutOfPrintStatus { color: gray; }

.checkinNotPublished { background-color: white; }
.checkinNotPublishedStatus { color: gray; }

.checkinNull { background-color: white; }
.checkinNullStatus { color: gray; }


	
/* 
#############
Item records
*/

table.bibItems {
	border-top: silver solid 1px;
/*	prostyles override: */
	border-right: none;
	border-bottom: silver solid 1px;
	border-left: silver solid 1px;
	margin-top: 10px;
	margin-bottom: 6px;
	border-collapse: collapse;
 	width:84%;  
	}

th.bibItemsHeader {
	color: #333333;
	background: #f3f5f7;
	text-align: left;
	border-right: silver solid 1px;
	padding-left: .25em;
	font-size: 84%;
	}

tr.bibItemsEntry td {
	border-top: silver solid 1px;
	border-right: silver solid 1px;
	font-size: 84%;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .5em;
	vertical-align: top;
	}



/* 
#############
Table of contents (970 fields)
*/

table.bibTOC {
/*	prostyles overrides below */
	border: silver solid 1px;
	border-collapse: collapse;
	background: #ffffff;
 	width: 84%; 
	margin-top: 10px;
/*	prostyles override below */
/*	width: 80%;*/
	}

table.bibTOC th {
	color: #333333;
	background: #f3f5f7;
	text-align: left;
	font-size:84%;
	border-top: silver solid 1px;
	border-right: silver solid 1px;
	border-bottom: silver solid 1px;
	border-left: silver solid 1px;
	padding-left: .25em;
	}


/* The following is no longer needed because the div falls within a III-generated bold element, which is invalid according to the doctype */

div.LafayTocHeader {
	color: #333333;
	background: #f3f5f7;
	font-size: 90%;
/* 	width: 100%; */
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	}
	
table.bibTOC td {
	padding-top: .25em;
	padding-right: .75em;
	padding-bottom: .25em;
	padding-left: .75em;
 	font-size: 84%; 
/*	prostyles override: */
/*	border: none; */
	border-bottom: silver 1px dotted;
	}
	
table.bibTOC strong {
	color: #333333;
	font-size: 84%;
	}

table.bibTOC font strong {
	color: #000000;
	font-size: 100%;
	}
	
table.bibTOC a font strong {
	font-size : 100%;
	}

	
	
/*
#############
Various messages 
*/


tr.msg td {
	color:#cc0000;
	font-weight:bold;
	font-size:110%;
	text-align:left;
	padding-left: 12px;
	}

div.msg {
	color:#cc0000;
	font-weight:bold;
	font-size:110%;
	text-align:left;
	padding-left: 12px;
	}
	
/* 
#############
Patron records
*/

.patFuncTitle {
	text-align: left;
	font-weight: normal;
	}
	
td.patFuncStatus {
	text-align: center;
	}

/* Number of times renewed */
.patFuncRenewCount {
	display: block;
	font-size: 84%;
	font-weight:normal;
	}
	
/* Denied renewal messages */
td.patFuncStatus font {
	background: #ffff99;
	font-weight: bold;
	font-style: normal;
	font-size: 90%;
	color: black;
	display: block;
	}

/* Successful renewal message */
td.patFuncStatus em {
	background: #ffff99;
	font-weight: bold;
	font-style: normal;
	font-size: 110%;
	color: black;
	}

/* Logged in message */
div.LoggedInMsg {
	display: none;
/*	font-size: 90%;
	background: #FBF8E3;
	margin: 0em 2em;
	padding-left: 1em; */
	}


/* 
######
Keyword highlighting. 
*/

font strong {
	background:#ffff99;
	font-weight:normal;
	font-style:normal
	}
	
strong strong {
	/*background:#ffff99;*/
	font-weight:bold;
	}

a:link font strong, a:visited font strong {
	text-decoration:underline;
	font-weight: normal;
	}
	
a:hover font strong {
	color:#283fa0;
	background:#dfddd6;
	}


/* Text following failed index search and after following index hyperlink from record */


tr.yourEntryWouldBeHere {
	background-color: #eee;
 	border:  #3698cb dashed 1px;
		
	}

tr.yourEntryWouldBeHere td.browseEntryMark,tr.yourEntryWouldBeHere td.browseEntryYear, tr.yourEntryWouldBeHere td.browseEntryEntries  {
	background-color: #eee;
 	border-top:  #3698cb solid 1px;
	border-bottom: #3698cb solid 1px;
	border-left: none;
	border-right:none;
	}
tr.yourEntryWouldBeHere td.browseEntryMark{border-left:  #3698cb solid 1px;}
tr.yourEntryWouldBeHere td.browseEntryEntries  {border-right:  #3698cb solid 1px;}


	
tr.yourEntryWouldBeHere td {
	background-color: #eee;
 	border:  #3698cb solid 1px;

	}
	
td.yourEntryWouldBeHereData {
	text-align: left;
	padding: .5em 1em;
	}


	
tr.yourEntryWouldBeHere td.browseEntryYear {
	padding-bottom:.5em;
	}

td.yourEntryWouldBeHereData a {
	color: #283FA0;
	}

td.yourEntryWouldBeHereData b  {
	color:black;
	font-style:normal;
	padding:0 3px 0 3px; 
	}
	
td.yourEntryWouldBeHereData b font {
	color:#903;
	font-style:normal;
	padding:0 3px 0 3px; 
	font-weight:bold;
	}

#header {
	margin-bottom:1em;
	}
	
#pagetopBanner {
	width:100%;
	background-color: #283fa0;
	}

.pagetopContent {
	padding:.5em 1em;
	background-color: #283fa0;
	font-family:verdana, sans-serif;
	font-size:100%;
	font-weight:bold;
	color:white;
	}

.homelink {
	font-size:80%;
	font-family:verdana, sans-serif;
	text-align:right;
	width:98%;
	margin:auto;
	padding:.5em;
	 /*line-height:2.5em; for top spacing - elements above are floated */
	}

.button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #cccccc;
    height: 22px;
    border-top: 1px solid #999999;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #999999;
	}


/*
#############
WebBridge 
*/

.wbbody {
	margin: .5em;
	}
	
.wbbody p {
	margin-top:1em;
	}

.wbbody .citation , .wbbody .wbcategory ,.wbbody .wblinkdisplay {
	color:#006;
	}

.s {
	font-size:80%;
	padding-left:1em;
	color: black;
	}

span.wblinkfield {
	color: #000066;
	}

span.wbpanelheader {
	color: #000066;
	}

#gbs a:hover img {
	background-color:#fbf8e3
	}

/* 
#############
Feeds
 */

/* div.rssChannelNoContent {
	display: none;
	} */
	
span.rssChannelTitle {
	font-weight:bold; 
	color: white; 
	background-color:#283fa0; 
	padding:.2ex .5em ;
	}

span.rssChannelEntryHead {
	display: list-item; 
	padding-top:1ex; 
	color:orange;
	}

span.rssChannelEntryHead a:link {font-weight:bold}
span.rssChannelEntryHead a:visited {font-weight:bold}
span.rssChannelEntryHead a:hover {text-decoration: none; background-color:#dfddd6; color: #283FA0;}
span.rssChannelEntryHead a:active {text-decoration: none;}

/* temp styles for accessible message link */

div#bob {
	display: inline;
	}
	
div#bob a {
	color: #cc0000;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	}	

/*end temp*/


/* Pro additions follow */

div.bibInfo div {
	width: 80%;
	clear:left;
	}

.bibMain {
	width: 100%;
	}

/* div.bibInfo {width: 85%;margin-right: 0;}   */

/* div.resourceTableDiv {width: 15%;} */

div.bibContent {
	margin-right: 0;
	margin-left: 0;
	}

table.bibItems {margin-left: 16%;} 
table.bibOrder {margin-left: 16%;}
table.bibLinks {margin-left: 16%;}
table.bibHoldings {margin-left: 16%;}
table.bibHolds {margin-left: 16%;} 
table.bibTOC {margin-left: 16%;}
div.bibTOC {border: none;}

/*
#############
RightResult
*/

.rrUserQuery {
	color: #990033;
	background-color: #fbf8e3;
	font-weight: bold;
	padding: 0 .25em;
	}

.browseSuperEntry td {
	font-family: Verdana, Arial, sans-serif;
	}
	
.browseSuperEntry.browseEntryRelGroup1 td {
	padding-left: 1em;
	border-top: dashed silver 1px;
	background-color: #fbf8e3;
	}

.browseSuperEntry.browseEntryRelGroup2 td {
	padding-left: 1em;
	border-top: dashed silver 1px;
	background-color: #fbf8e3;
	}

.browseSuperEntry.browseEntryRelGroup3 td {
	padding-left: 1em;
	border-top: dashed silver 1px;	
	background-color: #fbf8e3;
	}

.browseSuperEntry.browseEntryRelGroup4 td {
	padding-left: 1em;
	border-top: dashed silver 1px;
	
	
	background-color: #fbf8e3;
	}

.browseSuperEntry.browseEntryRelGroup5 td {
	padding-left: 1em;
	border-top: dashed silver 1px;	
	background-color: #fbf8e3;
	}

.briefcitIndexedTitle {	
	color: #990033;
	background-color: #fbf8e3;
 	font-weight: bold; 
	padding: 0 .25em;
	}
	

#availlimMsg {
	font-size: 100%;
	padding: .5em;
	}

.briefCitLinks{clear:left;display:block;text-decoration: none;width:90%;}
.briefCitLinks img {display:block;text-decoration: none;border:none;}
/* 


#############
Text the call number 
*/

/* #info,*/ /*#sms {
	border:1px solid silver;
	position:fixed;
	top:100px;
	left:150px;
	z-index:1000;
	background:#fbf8e3;
	color:#000;
	padding:10px;
	margin:10px;
	text-align:left;
	font-size:84%;
	width:60%;
	}

#sms p {
	background:#fbf8e3;
	}

#sms_form {
	margin-top:1em;
	}

#sms_form label {
	display:block;
	font-weight:bold;
	margin-top:.5em;
	}

#sms_form fieldset {
	margin:1em 0;
	}

#sms_form fieldset legend {
	color:#c3864d;
	font-variant:small-caps;
	font-weight:bold;
	}

#sms .eg {
	font-style:italic;
	}

#smslist {
	list-style-type:none;
	}

.phoneinfo input, .phoneinfo select {
	width:120px;
	}

#smsfeatures {
	text-align:center;
	}
	
	
/* 
#############
Printing
*/

@media print	{
body {
	background: white;
	color: black;
	font-size: 10px;
	}

img, .bibPager, .browseSearchtool, .browseSearchtoolMessage, .homelink, .bibSearchtool, .browseSaveJump, .browsePager, .LoggedInMsg, .bibResourceTable, #botBibPager, #topBibPager, .release  {
	display:none;
	}

.browseScreen {float:left;}
.CenterBox {float:left;}

a:link, a:visited {
	text-decoration: none;
	color: black;
	}

.pagetop {
	color: black;
	background: white;
	margin-bottom: 10px;
	}

tr.bibItemsEntry td {
	font-size: 100%;
	}

div.exportHeading {
	color: #000;
	font-weight: bold;
	border: silver solid 1px;
	padding-left: .5em;
	}

}
/* END @media print */
/*SMS Styles */

/*#info{
       border:2px solid #336699;
       position:absolute; 
	   left:20px;
	   z-index:1000;
       padding:10px;
       margin:50px;
       background:#C7BFA2;
	   width: 46%;
	   color: #333;
	   text-align:left;
} */

 #info, #sms {
	border:1px solid silver;
	position:fixed;
	top:100px;
	left:150px;
	z-index:1000;
	background:#eee;
	color:#000;
	padding:10px;
	margin:10px;
	text-align:left;
	font-size:84%;
	width:60%;
	}



#sms .eg {
       font-style:italic;
       font-size:9pt;
}

#info {line-height: 1.7em;}
#info td {background:#eee;color: #333;}
#sms {}
#sms ol {background: #eee;}
#sms ol li {padding: 3px;}
#sms h3 {font-size: 12pt; color:#336699;}
#smsfeatures {width:90%; margin-left: 0; margin-right: auto; padding: 5px;}
#smsfeatures p {text-align:left;}


.browseSuperEntry  { background:#46a6d6;text-align:center; }
.briefcitStatus {
padding-right: 6em;
padding-bottom: 0;
width: 80%;
font-size: 84%;
font-weight:bold;
text-align: right;
margin-left: 2em;

}
#quad{width:100%;margin-left:auto; margin-right:auto;margin-top:0;}
#quadBoxes{width:98%;margin:auto;display:block;}

.quadShark{
color:#333;
background: -webkit-gradient(linear, left top, left bottom, from(#1565A0), to(#fff));
background: -moz-linear-gradient(top, #1565A0, #fff);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1565A0', endColorstr='white'); /* ie7 */
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1565A0', endColorstr='white'); /* ie8 */
padding: 8px;
border: 1px solid #7D7968;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float:left;
height:auto;
width:20%;
/*min-width: 188px; /* sets min-width value for all standards-compliant browsers */
margin:1%;
}

.quadBroward{
color:#333;
background: -webkit-gradient(linear, left top, left bottom, from(#336d46), to(#fff));
background: -moz-linear-gradient(top, #336d46, #fff);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#336d46', endColorstr='white'); /* ie7 */
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#336d46', endColorstr='white'); /* ie8 */
padding: 8px;
border: 1px solid #7D7968;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float:left;
height:auto;
width:20%;
/*min-width: 188px; /* sets min-width value for all standards-compliant browsers */
margin:1%;
}

.quadAlumni{
color:#333;
background: -webkit-gradient(linear, left top, left bottom, from(#74a3ff), to(#fff));
background: -moz-linear-gradient(top, #74a3ff, #fff);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lightblue', endColorstr='white'); /* ie7 */
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#74a3ff', endColorstr='white'); /* ie8 */
padding: 8px;
border: 1px solid #7D7968;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float:left;
height:auto;
width:20%;
/*min-width: 188px; /* sets min-width value for all standards-compliant browsers */
margin:1%;
}

.quadUSchool{
color:#333;
background: -webkit-gradient(linear, left top, left bottom, from(#f5ab27), to(#fff));
background: -moz-linear-gradient(top, #f5ab27, #fff);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5ab27', endColorstr='white'); /* ie7 */
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5ab27', endColorstr='white'); /* ie8 */
padding: 8px;
border: 1px solid #7D7968;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
float:left;
height:auto;
width:20%;
/*min-width: 188px; /* sets min-width value for all standards-compliant browsers */
margin:1%;
}
.authinput{width:90%}

.authBottomBox{display:block; padding:4px;margin-bottom: 0;height: 35px;}
.authSubmit{text-align:left}
.authHelpImage{text-align:right}
.quad{list-style-position:inside;}
.quadLabel{font-weight:bold; font-size:85%;display:block;margin-bottom:5px;}
#noerrmsg{font-weight:bold;display: block; margin: auto; padding: 8px;line-height: 1.5em; font-size: 16px;color:#990033;} 

.briefCustomLeft{float:left; width:15%;text-align:center;overflow:hidden;}
.briefCustomMark{float:left;width:5%;text-align:center;}
.briefCustomDetail{float:left;width:65%;}
.briefCustomRight{float:left;width:8%; margin-left:2%;text-align:center;}
.briefCustomEntry{display:block;clear:both;font-weight:bold;color:#444;}
.briefCiteTitle{display:block;}
.briefCiteTitleFull{display:block;}
.briefCiteAuthor{display:block;}
.briefcitStatus {display:block;width:95%;}
ul{list-style-position:inside;}
#footer{text-align:center;clear:both;padding:10px; margin-top: 10px; margin-bottom: 10px;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:82%;}

.customBrief{width:100%;margin:auto;border-top:silver 1px dashed;}  
.left{background:yellow;float:left;width:20%;text-align:center;font-weight:bold;color:#444;}
.mark{background:green;float:left;width:5%}
.detail{background:lightblue;float:left;width:60%}
.right{background:violet;float:left;width:15%;text-align:center;}
.clear{clear:both}
#footer a{text-decoration:none;}
img{text-decoration:none;border:none;}
#bibLinks img {display:block;text-decoration: none;border:none;}
.wb_perm_icon {display:block;text-decoration: none;border:none;}
.relSearchLink{display:block;text-decoration: none;border:none;}

#rssMenu ul{display: block;list-style-type: none;margin: 0;padding-left: 0px;text-align: left;}
#rssMenu ul li{line-height: 20px;}
#rssMenu {font-size:80%;}
div.RightBibTable {width: 20%;}
.bibBox{
	float:left;
	margin-left:15px; 
	display:block; 
	width:70%;
    }
table.progSections{
	border-top: silver solid 1px;
/*	prostyles override: */
	border-right: silver solid 1px;	
	border-bottom: silver solid 1px;
	border-left: silver solid 1px;
	margin-top: 10px;
	margin-bottom: 6px;
	border-collapse: collapse;
 	width:84%;  
	}
tr.progSectionsHeader th{
	color: #333333;
	border-right: silver solid 1px;	
	border-left: silver solid 1px;
	background: #F3F5F7;
	text-align: left;	
	padding-left: .25em;
	font-size: 84%;
	}

tr.progSectionsEntry td{
	border-top: silver solid 1px;
	border-right: silver solid 1px;	
	font-size: 84%;
	padding-top: .25em;
	padding-bottom: .25em;
	padding-left: .5em;
	vertical-align: top;
	}
#controls,.eventDetailReg,#eventDetailTitle,#hideMess, .hideDiv{display:none;}

/* Last-Modified: 28/06/06 00:08:22 */
#GB_overlay {
    background-color: #000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
}

#GB_window {
    left: 0;
    top: 0;
    font-size: 1px;
    position: absolute;
    overflow: visible;
    z-index: 150;
}

#GB_window .content {
    width: auto;
    margin: 0;
    padding: 0;
}

#GB_frame {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
    white-space: nowrap;
}


.GB_Gallery {
    margin: 0 22px 0 22px;
}

.GB_Gallery .content {
    background-color: #fff;
    border: 3px solid #ddd;
}

.GB_header {
    top: 10px;
    left: 0;
    margin: 0;
    z-index: 500;
    position: absolute;
    border-bottom: 2px solid #555;
    border-top: 2px solid #555;
}

.GB_header .inner {
    background-color: #333;
    font-family: Arial, Verdana, sans-serif;
    padding: 2px 20px 2px 20px;
}

.GB_header table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}

.GB_header .caption {
    text-align: left;
    color: #eee;
    white-space: nowrap;
    font-size: 20px;
}

.GB_header .close {
    text-align: right;
}

.GB_header .close img {
    z-index: 500;
    cursor: pointer;
}

.GB_header .middle {
    white-space: nowrap;
    text-align: center;
}


#GB_middle {
    color: #eee;
}

#GB_middle img {
    cursor: pointer;
    vertical-align: middle;
}

#GB_middle .disabled {
    cursor: default;
}

#GB_middle .left {
    padding-right: 10px;
}

#GB_middle .right {
    padding-left: 10px;
}


.GB_Window .content {
    background-color: #fff;
    border: 3px solid #ccc;
    border-top: none;
}

.GB_Window .header {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #999;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    margin: 0;

    height: 22px;
    font-size: 12px;
    padding: 3px 0;
    color: #333;
}

.GB_Window .caption {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 20px;
}

.GB_Window .close { text-align: right; }
.GB_Window .close span { 
    font-size: 12px;
    cursor: pointer; 
}
.GB_Window .close img {
    cursor: pointer;
    padding: 0 3px 0 0;
}

.GB_Window .on { border-bottom: 1px solid #333; }
.GB_Window .click { border-bottom: 1px solid red; }

