<body>
<!--{toplogo}-->
<script type="text/javascript">
 loggedMessage();
</script>
<!--{logout}-->
<!--{msg}-->
<div class="pageContentInner">
<h1 class="pageHeader">Saved Records</h1>
<div class="navigationRow">
<!--{ifexport}-->
<!--{export}-->
<!--{xif}-->

<!--{ifrequestmulti}-->
<!--{requestmulti}-->
<!--{xif}-->

<!--{ifmylists}-->
<!--{mylists}-->
<!--{xif}-->

<!--{prevscreen}-->
<!--{clearmarked}-->
</div>

</div><!-- pageContentInner -->
<div>
<!--{savedlist}-->
</div>
<!--{botlogo}-->
